In [22]:
import pandas as pd

# Загружаем Excel
excel_file_spend = pd.read_excel('Spend (Done).xlsx')

excel_file_spend.to_csv("Spend.csv", index=False, encoding='utf-8-sig')

spend_df = pd.read_csv("Spend.csv")

spend_df

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,Google Ads,gen_analyst_DE,6,0.00,0,NaN,NaN
1,2023-07-03,Google Ads,performancemax_eng_DE,4,0.01,1,NaN,NaN
2,2023-07-03,Facebook Ads,NaN,0,0.00,0,NaN,NaN
3,2023-07-03,Google Ads,NaN,0,0.00,0,NaN,NaN
4,2023-07-03,CRM,NaN,0,0.00,0,NaN,NaN
...,...,...,...,...,...,...,...,...
20774,2024-06-21,Facebook Ads,17.03.24wide_AT,7,0.07,0,wide,bloggersvideo16com_at
20775,2024-06-21,Tiktok Ads,12.07.2023wide_DE,61,0.16,0,wide,bloggersvideo14com
20776,2024-06-21,Partnership,NaN,0,0.00,0,NaN,NaN
20777,2024-06-21,Tiktok Ads,NaN,0,0.00,0,NaN,NaN
20778,2024-06-21,Facebook Ads,04.07.23recentlymoved_DE,7,0.05,1,recentlymoved,bloggersvideo14com

In [23]:
spend_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20779 entries, 0 to 20778
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         20779 non-null  object
 1   Source       20779 non-null  object
 2   Campaign     14785 non-null  object
 3   Impressions  20779 non-null  int64
 4   Spend        20779 non-null  float64
 5   Clicks       20779 non-null  int64
 6   AdGroup      13951 non-null  object
 7   Ad           13951 non-null  object
dtypes: float64(1), int64(2), object(5)
memory usage: 1.3+ MB

In [24]:
spend_df.isnull().sum()

Date              0
Source            0
Campaign       5994
Impressions       0
Spend             0
Clicks            0
AdGroup        6828
Ad             6828
dtype: int64

In [26]:
# Заменяет ячейки, которые:
# - полностью пустые ('')
# - содержат только пробелы (' ')
# на NaN.
import numpy as np

spend_df = spend_df.replace(r'^\s*$', np.nan, regex=True)
spend_df.isnull().sum()

Date              0
Source            0
Campaign       5994
Impressions       0
Spend             0
Clicks            0
AdGroup        6828
Ad             6828
dtype: int64

In [ ]:
# cols_to_check = ['Campaign', 'Impressions', 'Spend', 'Clicks', 'AdGroup', 'Ad']

# spend_df = spend_df[spend_df[cols_to_check].notna().any(axis=1)]
# spend_df

In [27]:
spend_df['Date'] = pd.to_datetime(spend_df['Date'], errors = 'coerce')
spend_df.head()

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,Google Ads,gen_analyst_DE,6,0.00,0,NaN,NaN
1,2023-07-03,Google Ads,performancemax_eng_DE,4,0.01,1,NaN,NaN
2,2023-07-03,Facebook Ads,NaN,0,0.00,0,NaN,NaN
3,2023-07-03,Google Ads,NaN,0,0.00,0,NaN,NaN
4,2023-07-03,CRM,NaN,0,0.00,0,NaN,NaN

In [28]:
spend_df.dtypes

Date           datetime64[ns]
Source                 object
Campaign               object
Impressions             int64
Spend                 float64
Clicks                  int64
AdGroup                object
Ad                     object
dtype: object

In [29]:
spend_df.isnull().sum()

Date              0
Source            0
Campaign       5994
Impressions       0
Spend             0
Clicks            0
AdGroup        6828
Ad             6828
dtype: int64

In [31]:
spend_df.nunique()

Date            355
Source           14
Campaign         51
Impressions    4003
Spend          2859
Clicks          552
AdGroup          24
Ad              176
dtype: int64

In [32]:
spend_df[spend_df.duplicated()]

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
755,2023-07-23,Bloggers,NaN,0,0.0,0,NaN,NaN
789,2023-07-24,Bloggers,NaN,0,0.0,0,NaN,NaN
844,2023-07-25,Bloggers,NaN,0,0.0,0,NaN,NaN
899,2023-07-26,Bloggers,NaN,0,0.0,0,NaN,NaN
958,2023-07-27,Bloggers,NaN,0,0.0,0,NaN,NaN
...,...,...,...,...,...,...,...,...
20745,2024-06-21,Bloggers,NaN,0,0.0,0,NaN,NaN
20746,2024-06-21,Facebook Ads,NaN,0,0.0,0,NaN,NaN
20750,2024-06-21,SMM,NaN,0,0.0,0,NaN,NaN
20764,2024-06-21,Telegram posts,NaN,0,0.0,0,NaN,NaN
20773,2024-06-21,Organic,NaN,0,0.0,0,NaN,NaN

In [33]:
# Найдём дубликаты
duplicates = spend_df[spend_df.duplicated(keep=False)]

# Сохраняем в Excel
duplicates.to_excel("duplicates_spend.xlsx", index=False)

In [34]:
spend_df = spend_df.drop_duplicates(keep='first')

In [35]:
spend_df

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,Google Ads,gen_analyst_DE,6,0.00,0,NaN,NaN
1,2023-07-03,Google Ads,performancemax_eng_DE,4,0.01,1,NaN,NaN
2,2023-07-03,Facebook Ads,NaN,0,0.00,0,NaN,NaN
3,2023-07-03,Google Ads,NaN,0,0.00,0,NaN,NaN
4,2023-07-03,CRM,NaN,0,0.00,0,NaN,NaN
...,...,...,...,...,...,...,...,...
20774,2024-06-21,Facebook Ads,17.03.24wide_AT,7,0.07,0,wide,bloggersvideo16com_at
20775,2024-06-21,Tiktok Ads,12.07.2023wide_DE,61,0.16,0,wide,bloggersvideo14com
20776,2024-06-21,Partnership,NaN,0,0.00,0,NaN,NaN
20777,2024-06-21,Tiktok Ads,NaN,0,0.00,0,NaN,NaN
20778,2024-06-21,Facebook Ads,04.07.23recentlymoved_DE,7,0.05,1,recentlymoved,bloggersvideo14com

In [36]:
# 3. Удаляем строки, где кроме 'Date' и 'Source' всё остальное — пустое
empty = spend_df.drop(columns=['Date', 'Source']).isna().all(axis=1)
only_date_source = spend_df[empty]  # Сохраним на случай, если пригодится
spend_df = spend_df[~empty]         # Удалим из основного датафрейма
spend_df

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,Google Ads,gen_analyst_DE,6,0.00,0,NaN,NaN
1,2023-07-03,Google Ads,performancemax_eng_DE,4,0.01,1,NaN,NaN
2,2023-07-03,Facebook Ads,NaN,0,0.00,0,NaN,NaN
3,2023-07-03,Google Ads,NaN,0,0.00,0,NaN,NaN
4,2023-07-03,CRM,NaN,0,0.00,0,NaN,NaN
...,...,...,...,...,...,...,...,...
20774,2024-06-21,Facebook Ads,17.03.24wide_AT,7,0.07,0,wide,bloggersvideo16com_at
20775,2024-06-21,Tiktok Ads,12.07.2023wide_DE,61,0.16,0,wide,bloggersvideo14com
20776,2024-06-21,Partnership,NaN,0,0.00,0,NaN,NaN
20777,2024-06-21,Tiktok Ads,NaN,0,0.00,0,NaN,NaN
20778,2024-06-21,Facebook Ads,04.07.23recentlymoved_DE,7,0.05,1,recentlymoved,bloggersvideo14com

In [37]:
spend_df.isnull().sum()

Date              0
Source            0
Campaign       5077
Impressions       0
Spend             0
Clicks            0
AdGroup        5911
Ad             5911
dtype: int64

In [38]:
spend_df[spend_df.duplicated()]

Empty DataFrame
Columns: [Date, Source, Campaign, Impressions, Spend, Clicks, AdGroup, Ad]
Index: []

In [39]:
# Оставляем строки, где хотя бы одна метрика не равна нулю
spend_df = spend_df[
    (spend_df['Spend'] != 0) | 
    (spend_df['Clicks'] != 0) | 
    (spend_df['Impressions'] != 0)
]
spend_df

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,Google Ads,gen_analyst_DE,6,0.00,0,NaN,NaN
1,2023-07-03,Google Ads,performancemax_eng_DE,4,0.01,1,NaN,NaN
5,2023-07-03,Facebook Ads,03.07.23women,187,3.30,6,women,b3
6,2023-07-03,Facebook Ads,03.07.23women,4,0.02,1,women,b1
9,2023-07-03,Facebook Ads,02.07.23wide_DE,61,0.58,0,wide,b4
...,...,...,...,...,...,...,...,...
20771,2024-06-21,Tiktok Ads,22.05.2024wide_DE,7,0.03,0,wide,bloggersvideo18com
20772,2024-06-21,Youtube Ads,youtube_shorts_DE,90,0.51,2,Com_august,bloggersvideo3june
20774,2024-06-21,Facebook Ads,17.03.24wide_AT,7,0.07,0,wide,bloggersvideo16com_at
20775,2024-06-21,Tiktok Ads,12.07.2023wide_DE,61,0.16,0,wide,bloggersvideo14com
20778,2024-06-21,Facebook Ads,04.07.23recentlymoved_DE,7,0.05,1,recentlymoved,bloggersvideo14com

In [40]:
spend_df.isnull().sum()

Date              0
Source            0
Campaign       2196
Impressions       0
Spend             0
Clicks            0
AdGroup        3030
Ad             3030
dtype: int64

In [41]:
spend_df.to_csv("cleaned_spend.csv", index=False)

In [42]:
spend_df.dtypes

Date           datetime64[ns]
Source                 object
Campaign               object
Impressions             int64
Spend                 float64
Clicks                  int64
AdGroup                object
Ad                     object
dtype: object

In [43]:
spend_df.nunique()

Date            355
Source           14
Campaign         51
Impressions    4003
Spend          2859
Clicks          552
AdGroup          24
Ad              176
dtype: int64

In [44]:
spend_df['Date'].isna().sum()

np.int64(0)

In [47]:
spend_df.loc[:, 'Source'] = spend_df['Source'].str.strip().str.lower().str.replace(r'\s+', ' ', regex=True)
spend_df.loc[:, 'Campaign'] = spend_df['Campaign'].str.strip().str.lower().str.replace(r'\s+', ' ', regex=True)
spend_df.loc[:, 'AdGroup'] = spend_df['AdGroup'].str.strip().str.lower().str.replace(r'\s+', ' ', regex=True)
spend_df.loc[:, 'Ad'] = spend_df['Ad'].str.strip().str.lower().str.replace(r'\s+', ' ', regex=True)
spend_df

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,google ads,gen_analyst_de,6,0.00,0,NaN,NaN
1,2023-07-03,google ads,performancemax_eng_de,4,0.01,1,NaN,NaN
5,2023-07-03,facebook ads,03.07.23women,187,3.30,6,women,b3
6,2023-07-03,facebook ads,03.07.23women,4,0.02,1,women,b1
9,2023-07-03,facebook ads,02.07.23wide_de,61,0.58,0,wide,b4
...,...,...,...,...,...,...,...,...
20771,2024-06-21,tiktok ads,22.05.2024wide_de,7,0.03,0,wide,bloggersvideo18com
20772,2024-06-21,youtube ads,youtube_shorts_de,90,0.51,2,com_august,bloggersvideo3june
20774,2024-06-21,facebook ads,17.03.24wide_at,7,0.07,0,wide,bloggersvideo16com_at
20775,2024-06-21,tiktok ads,12.07.2023wide_de,61,0.16,0,wide,bloggersvideo14com
20778,2024-06-21,facebook ads,04.07.23recentlymoved_de,7,0.05,1,recentlymoved,bloggersvideo14com

In [48]:
spend_df.nunique()

Date            355
Source           14
Campaign         51
Impressions    4003
Spend          2859
Clicks          552
AdGroup          24
Ad              176
dtype: int64

In [50]:
spend_df.loc[:, 'Source'] = spend_df['Source'].astype('category')
spend_df.loc[:, 'Campaign'] = spend_df['Campaign'].astype('category')
spend_df.loc[:, 'AdGroup'] = spend_df['AdGroup'].astype('category')
spend_df.dtypes

Date           datetime64[ns]
Source               category
Campaign             category
Impressions             int64
Spend                 float64
Clicks                  int64
AdGroup              category
Ad                     object
dtype: object

In [51]:
spend_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16400 entries, 0 to 20778
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         16400 non-null  datetime64[ns]
 1   Source       16400 non-null  category
 2   Campaign     14204 non-null  category
 3   Impressions  16400 non-null  int64
 4   Spend        16400 non-null  float64
 5   Clicks       16400 non-null  int64
 6   AdGroup      13370 non-null  category
 7   Ad           13370 non-null  object
dtypes: category(3), datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 820.6+ KB

In [55]:
spend_df.loc[:, ['Source', 'Campaign', 'AdGroup']] = spend_df[['Source', 'Campaign', 'AdGroup']].apply(
    lambda col: col.cat.add_categories('No data') if 'No data' not in col.cat.categories else col).fillna('No data')
spend_df

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,google ads,gen_analyst_de,6,0.00,0,No data,NaN
1,2023-07-03,google ads,performancemax_eng_de,4,0.01,1,No data,NaN
5,2023-07-03,facebook ads,03.07.23women,187,3.30,6,women,b3
6,2023-07-03,facebook ads,03.07.23women,4,0.02,1,women,b1
9,2023-07-03,facebook ads,02.07.23wide_de,61,0.58,0,wide,b4
...,...,...,...,...,...,...,...,...
20771,2024-06-21,tiktok ads,22.05.2024wide_de,7,0.03,0,wide,bloggersvideo18com
20772,2024-06-21,youtube ads,youtube_shorts_de,90,0.51,2,com_august,bloggersvideo3june
20774,2024-06-21,facebook ads,17.03.24wide_at,7,0.07,0,wide,bloggersvideo16com_at
20775,2024-06-21,tiktok ads,12.07.2023wide_de,61,0.16,0,wide,bloggersvideo14com
20778,2024-06-21,facebook ads,04.07.23recentlymoved_de,7,0.05,1,recentlymoved,bloggersvideo14com

In [56]:
spend_df.dtypes

Date           datetime64[ns]
Source               category
Campaign             category
Impressions             int64
Spend                 float64
Clicks                  int64
AdGroup              category
Ad                     object
dtype: object

In [58]:
spend_df.loc[:,'Ad'] = spend_df['Ad'].fillna('No data')
spend_df

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,google ads,gen_analyst_de,6,0.00,0,No data,No data
1,2023-07-03,google ads,performancemax_eng_de,4,0.01,1,No data,No data
5,2023-07-03,facebook ads,03.07.23women,187,3.30,6,women,b3
6,2023-07-03,facebook ads,03.07.23women,4,0.02,1,women,b1
9,2023-07-03,facebook ads,02.07.23wide_de,61,0.58,0,wide,b4
...,...,...,...,...,...,...,...,...
20771,2024-06-21,tiktok ads,22.05.2024wide_de,7,0.03,0,wide,bloggersvideo18com
20772,2024-06-21,youtube ads,youtube_shorts_de,90,0.51,2,com_august,bloggersvideo3june
20774,2024-06-21,facebook ads,17.03.24wide_at,7,0.07,0,wide,bloggersvideo16com_at
20775,2024-06-21,tiktok ads,12.07.2023wide_de,61,0.16,0,wide,bloggersvideo14com
20778,2024-06-21,facebook ads,04.07.23recentlymoved_de,7,0.05,1,recentlymoved,bloggersvideo14com

In [59]:
spend_df.isnull().sum()

Date           0
Source         0
Campaign       0
Impressions    0
Spend          0
Clicks         0
AdGroup        0
Ad             0
dtype: int64

In [60]:
spend_df.describe(include='all').T

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
Date,16400,NaN,NaN,NaN,2024-01-11 15:03:20.195121920,2023-07-03 00:00:00,2023-10-10 00:00:00,2024-01-22 00:00:00,2024-04-12 00:00:00,2024-06-21 00:00:00,NaN
Source,16400,14,facebook ads,9195,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Campaign,16400,52,No data,2196,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Impressions,16400.0,NaN,NaN,NaN,3114.57378,0.0,15.0,203.0,950.25,431445.0,12800.368578
Spend,16400.0,NaN,NaN,NaN,9.117284,0.0,0.12,1.74,8.09,774.0,29.829559
Clicks,16400.0,NaN,NaN,NaN,30.393598,0.0,0.0,4.0,17.0,2415.0,94.935137
AdGroup,16400,25,wide,4884,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ad,16400,177,No data,3030,NaN,NaN,NaN,NaN,NaN,NaN,NaN