In [1]:
import pandas as pd

deals_df_v2 = pd.read_pickle("clean_deals_v1.pkl")

In [48]:
pd.set_option('display.max_columns', None)

In [49]:
deals_df_v2

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,NaN,NaN,Organic,NaN,NaN,NaN,2024-05-15 08:50:00,NaN,<NA>,NaN,NaN,5805028000049855125,NaN,NaN,2024-05-15,0.0
21407,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-06 18:45:00,NaN,<NA>,NaN,NaN,5805028000053705642,NaN,NaN,2024-06-06,0.0
21408,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_DE,0 days 04:30:17,152789402780_{region_name}_668024583824,it hub,Organic,NaN,NaN,NaN,2024-06-12 05:46:00,NaN,<NA>,NaN,NaN,5805028000054480760,NaN,NaN,2024-06-12,0.0
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0
21410,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0

## Работа с Duplicate

In [5]:
duplicates_id = deals_df_v2[deals_df_v2.duplicated(subset=['Id'])]
duplicates_id

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Date Diff]
Index: []

[0 rows x 25 columns]

In [6]:
duplicates_cm = deals_df_v2[deals_df_v2.duplicated(subset=['Contact Name'])]
duplicates_cm

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
44,5805028000056703432,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,...,2024-06-20 17:34:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
46,5805028000056741308,Paula Underwood,NaT,B - Medium,Registered on Webinar,NaN,/webinar,NaN,NaT,NaN,...,2024-06-20 16:50:00,NaN,<NA>,NaN,NaN,5805028000056685457,NaN,NaN,2024-06-20,NaN
55,5805028000056704066,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,...,2024-06-20 12:50:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,NaN,NaN,0 days 00:01:46,NaN,...,2024-06-19 13:41:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-19,0.0
170,5805028000056158285,Ben Hall,NaT,D - Non Target,Call Delayed,NaN,/eng,12.07.2023wide_DE,0 days 00:13:56,bloggersvideo11,...,2024-06-18 15:13:00,NaN,<NA>,NaN,NaN,5805028000056174445,NaN,NaN,2024-06-18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,70 days 23:12:53,b3,...,2023-07-04 11:46:00,11,<NA>,1000.0,11500.0,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,2023-07-12,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,71 days 00:46:22,b3,...,2023-07-04 10:11:00,11,11,1000.0,11000.0,5805028000000939010,NaN,NaN,2023-07-04,NaN
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,...,2023-07-04 07:10:00,NaN,<NA>,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.0
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaT,b3,...,2023-07-04 07:10:00,NaN,<NA>,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.0
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaT,b3,...,2023-07-03 20:17:00,NaN,<NA>,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.0

In [7]:
duplicates_all = deals_df_v2[deals_df_v2.duplicated(keep=False)]
duplicates_all

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Date Diff]
Index: []

[0 rows x 25 columns]

In [16]:
df_grouped = (
    deals_df_v2
    .groupby('Contact Name')
    .agg({
        'Stage': lambda x: ', '.join(sorted(x.dropna().unique())),
        'Lost Reason': lambda x: ', '.join(sorted(x.dropna().unique()))
    })
    .reset_index()
)

In [17]:
df_grouped

,Contact Name,Stage,Lost Reason
0,5805028000000872003,"Lost, Registered on Webinar",Duplicate
1,5805028000000889001,Lost,Duplicate
2,5805028000000907006,Lost,"Duplicate, Invalid number"
3,5805028000000939010,"Lost, Payment Done",Went to Rivals
4,5805028000000942003,Lost,Stopped Answering
...,...,...,...
18084,5805028000056889019,Qualificated,
18085,5805028000056889209,Call Delayed,
18086,5805028000056889351,Lost,Invalid number
18087,5805028000056892018,Need a consultation,
18088,5805028000056892055,Call Delayed,

In [18]:
df_grouped[df_grouped['Contact Name']=='5805028000056392363']

              Contact Name Stage Lost Reason
18016  5805028000056392363  Lost   Duplicate

In [19]:
deals_df_v2[deals_df_v2['Contact Name']=='5805028000056392363']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
54,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,...,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,NaN,NaN,0 days 00:01:46,NaN,...,2024-06-19 13:41:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-19,0.0

In [20]:
#1. Отфильтруем только нужные строки:
filtered_df = deals_df_v2[
    (deals_df_v2['Stage'] == 'Lost') &
    (deals_df_v2['Lost Reason'] == 'Duplicate') &
    (deals_df_v2['Contact Name'].notna())
]
filtered_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,...,2024-06-21 12:40:00,NaN,<NA>,NaN,NaN,5805028000056849237,NaN,NaN,2024-06-21,0.0
10,5805028000056892253,Ulysses Adams,2024-06-21,E - Non Qualified,Lost,Duplicate,/webinar,NaN,NaT,NaN,...,2024-06-21 12:32:00,NaN,<NA>,NaN,NaN,5805028000056828292,NaN,NaN,2024-06-21,0.0
16,5805028000056828139,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,...,2024-06-21 11:44:00,NaN,<NA>,NaN,NaN,5805028000056824095,NaN,NaN,2024-06-21,0.0
43,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,...,2024-06-20 17:36:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
44,5805028000056703432,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,...,2024-06-20 17:34:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21552,5805028000001348003,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,05.07.23interests_DE,NaT,b3,...,2023-07-08 09:39:00,NaN,<NA>,0.0,0.0,5805028000001387008,NaN,NaN,2023-07-08,0.0
21569,5805028000001135001,Ian Miller,2023-07-21,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,0 days 00:00:53,b3,...,2023-07-06 15:43:00,NaN,<NA>,0.0,0.0,5805028000001129001,NaN,NaN,2023-07-06,15.0
21575,5805028000001037050,Jane Smith,2023-07-06,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,...,2023-07-05 21:36:00,NaN,<NA>,NaN,NaN,5805028000001033019,NaN,NaN,2023-07-05,1.0
21579,5805028000001032016,Kevin Parker,2023-07-05,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,b3,...,2023-07-05 18:05:00,NaN,<NA>,NaN,NaN,5805028000001073001,NaN,NaN,2023-07-05,0.0
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,...,2023-07-04 07:10:00,NaN,<NA>,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.0

In [21]:
#2. Посмотрим, какие Contact Name встречаются более одного раза:
duplicate_count = filtered_df['Contact Name'].value_counts()
duplicate_count

Contact Name
5805028000003014152    30
5805028000005448163    14
5805028000017522090    13
5805028000014478367     7
5805028000003547139     4
                       ..
5805028000001770097     1
5805028000001799036     1
5805028000001726065     1
5805028000001653078     1
5805028000000979006     1
Name: count, Length: 1550, dtype: int64

In [22]:
duplicate_ids_more_one = duplicate_count[duplicate_count > 1].index.tolist()
duplicate_ids_more_one

['5805028000003014152',
 '5805028000005448163',
 '5805028000017522090',
 '5805028000014478367',
 '5805028000003547139',
 '5805028000012657064',
 '5805028000009549838',
 '5805028000032929005',
 '5805028000036951161',
 '5805028000056727001',
 '5805028000020284809',
 '5805028000039641666',
 '5805028000034928040',
 '5805028000004561698',
 '5805028000007265128',
 '5805028000010772151',
 '5805028000008185001',
 '5805028000004130208',
 '5805028000000872003',
 '5805028000020500029',
 '5805028000034915028',
 '5805028000039257080',
 '5805028000002150769',
 '5805028000001552025',
 '5805028000053705642',
 '5805028000011727058',
 '5805028000001401189',
 '5805028000018547198',
 '5805028000026728113',
 '5805028000049855125',
 '5805028000029943763',
 '5805028000001347038',
 '5805028000001347003',
 '5805028000027427115',
 '5805028000042651854',
 '5805028000028292027',
 '5805028000035509687',
 '5805028000046314814',
 '5805028000003466064',
 '5805028000028445257',
 '5805028000028006930',
 '5805028000020158330',
 '5805028000044209042',
 '5805028000039263164',
 '5805028000054480760',
 '5805028000028545845',
 '5805028000009923261',
 '5805028000034891733',
 '5805028000031077166',
 '5805028000010054176',
 '5805028000035374402',
 '5805028000028586271',
 '5805028000003434035',
 '5805028000007649149',
 '5805028000002926308',
 '5805028000022945582',
 '5805028000027986741',
 '5805028000040705671',
 '5805028000023867610',
 '5805028000013047677',
 '5805028000037284428',
 '5805028000020487635',
 '5805028000010410658',
 '5805028000042833248',
 '5805028000014325023',
 '5805028000025508298',
 '5805028000013039197',
 '5805028000024640104',
 '5805028000024373568',
 '5805028000024292204',
 '5805028000022709025',
 '5805028000002799040',
 '5805028000018056036',
 '5805028000020773949',
 '5805028000009786140',
 '5805028000020498447',
 '5805028000004572383',
 '5805028000019915422',
 '5805028000018983573',
 '5805028000014494074',
 '5805028000005124061',
 '5805028000004110587',
 '5805028000014092677',
 '5805028000009547964',
 '5805028000014497066',
 '5805028000014497110',
 '5805028000014092053',
 '5805028000004602724',
 '5805028000056392363',
 '5805028000009682314',
 '5805028000005107022',
 '5805028000008982320',
 '5805028000008983444',
 '5805028000008647030',
 '5805028000008575236',
 '5805028000033674083',
 '5805028000006278100',
 '5805028000007876249',
 '5805028000005254908',
 '5805028000005195439',
 '5805028000003456259',
 '5805028000003147208',
 '5805028000000889001',
 '5805028000004115323',
 '5805028000004336357',
 '5805028000049197176',
 '5805028000019420803',
 '5805028000001805007']

In [23]:
len(duplicate_ids_more_one)

108

In [50]:
duplicates_contact_name = filtered_df[filtered_df['Contact Name'].isin(duplicate_ids_more_one)]
duplicates_contact_name

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
43,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
44,5805028000056703432,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:34:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
54,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0
55,5805028000056704066,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:50:00,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,NaN,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-19,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21514,5805028000001363318,Kevin Parker,2023-07-11,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-10 23:40:00,NaN,<NA>,0.0,0.0,5805028000001401189,NaN,NaN,2023-07-10,1.0
21546,5805028000001405002,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 13:29:00,NaN,<NA>,0.0,0.0,5805028000001347038,NaN,NaN,2023-07-08,0.0
21547,5805028000001375082,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 13:29:00,NaN,<NA>,0.0,0.0,5805028000001347038,NaN,NaN,2023-07-08,0.0
21548,5805028000001369097,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:39:00,NaN,<NA>,0.0,0.0,5805028000001347003,NaN,NaN,2023-07-08,0.0
21549,5805028000001355009,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:39:00,NaN,<NA>,0.0,0.0,5805028000001347003,NaN,NaN,2023-07-08,0.0

In [54]:
duplicates_contact_name['Product'].notna().sum()

np.int64(12)

In [55]:
duplicates_contact_name[duplicates_contact_name['Product'].notna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
2323,5805028000050901050,Victor Barnes,2024-05-20,D - Non Target,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,Digital Marketing,Evening,2024-05-20 10:40:00,11,<NA>,1000.0,11000.0,5805028000034915028,NaN,NaN,2024-05-20,NaN
4522,5805028000045242015,Ulysses Adams,2024-04-22,D - Non Target,Lost,Duplicate,/email,2004start,0 days 09:43:24,NaN,NaN,CRM,NaN,UX/UI Design,NaN,2024-04-20 00:18:00,11,<NA>,NaN,NaN,5805028000003434035,NaN,NaN,2024-04-20,2.0
4527,5805028000045051952,Ulysses Adams,2024-04-20,D - Non Target,Lost,Duplicate,/email,2004start,0 days 11:35:16,NaN,NaN,CRM,NaN,Web Developer,NaN,2024-04-19 22:38:00,6,<NA>,NaN,NaN,5805028000007649149,NaN,NaN,2024-04-19,1.0
7098,5805028000040125213,Charlie Davis,2024-03-27,E - Non Qualified,Lost,Duplicate,/pl-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-03-27 18:55:00,6,<NA>,NaN,NaN,5805028000017522090,NaN,NaN,2024-03-27,0.0
8021,5805028000037535714,Charlie Davis,2024-03-15,D - Non Target,Lost,Duplicate,/specialoffer,web8_DE,NaT,NaN,NaN,Webinar,NaN,Web Developer,Morning,2024-03-15 05:47:00,6,<NA>,1000.0,9000.0,5805028000028292027,NaN,NaN,2024-03-15,0.0
11104,5805028000029573654,Julia Nelson,2024-02-01,C - Low,Lost,Duplicate,/web-developer,NaN,0 days 00:54:01,NaN,NaN,Organic,One Payment,Web Developer,Morning,2024-02-01 18:53:00,6,<NA>,3000.0,2500.0,5805028000013047677,NaN,NaN,2024-02-01,0.0
15562,5805028000018413624,Paula Underwood,2023-11-24,E - Non Qualified,Lost,Duplicate,/offer,web2211_DE,0 days 09:21:57,mail_to_reg,22_11_2023,Webinar,NaN,Digital Marketing,Morning,2023-11-23 00:30:00,11,<NA>,1000.0,11000.0,5805028000014494074,NaN,NaN,2023-11-23,1.0
15815,5805028000018080013,Rachel White,2023-11-21,E - Non Qualified,Lost,Duplicate,/workshop,web2211_DE,8 days 01:51:43,NaN,NaN,Webinar,NaN,Digital Marketing,Morning,2023-11-21 09:03:00,11,<NA>,11000.0,11000.0,5805028000018056036,NaN,NaN,2023-11-21,NaN
16290,5805028000017545187,Julia Nelson,2024-02-09,D - Non Target,Lost,Duplicate,/workshop,NaN,5 days 15:11:26,NaN,allthinking lost,Webinar,NaN,Digital Marketing,Evening,2023-11-17 19:21:00,11,<NA>,NaN,NaN,5805028000014092677,NaN,NaN,2023-11-17,84.0
19359,5805028000008038013,Diana Evans,2023-09-28,C - Low,Lost,Duplicate,/eng/test,NaN,0 days 00:22:49,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2023-09-18 19:25:00,11,<NA>,1000.0,11000.0,5805028000006278100,NaN,NaN,2023-09-18,10.0
19464,5805028000007843309,Kevin Parker,2023-09-15,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,15.07.23b_DE,0 days 00:51:41,b7,b,Facebook Ads,NaN,Digital Marketing,NaN,2023-09-15 19:15:00,11,<NA>,NaN,NaN,5805028000007876249,NaN,NaN,2023-09-15,0.0
20717,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,NaN,NaN,13 days 23:40:53,NaN,NaN,Organic,One Payment,Web Developer,Morning,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,5805028000000872003,NaN,NaN,2023-08-08,NaN

In [51]:
duplicates_contact_name[duplicates_contact_name['Contact Name']=='5805028000056392363']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
54,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,NaN,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-19,0.0

In [26]:
#3. Оставим только одну строку на каждый дублирующийся ID — самую свежую:
latest_duplicates_contact = (
    duplicates_contact_name
    .sort_values('Created Time')
    .groupby('Contact Name', as_index=False)
    .last()
)

In [27]:
latest_duplicates_contact[latest_duplicates_contact['Contact Name']=='5805028000056392363']

,Contact Name,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,...,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,City,Level of Deutsch,Created Date,Date Diff
106,5805028000056392363,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,None,0 days 00:01:46,...,NaN,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,None,None,2024-06-20,0.0

In [33]:
latest_duplicates_contact

,Contact Name,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,...,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,City,Level of Deutsch,Created Date,Date Diff
0,5805028000000872003,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,/test,04.07.23recentlymoved_DE,13 days 23:40:53,...,Morning,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,None,None,2023-08-08,5.0
1,5805028000000889001,5805028000005168087,Bob Brown,2023-10-26,E - Non Qualified,Lost,Duplicate,/workshop,None,NaT,...,NaN,2023-08-18 21:35:00,NaN,<NA>,NaN,NaN,None,None,2023-08-18,69.0
2,5805028000001347003,5805028000001369097,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,...,NaN,2023-07-08 11:39:00,NaN,<NA>,0.0,0.0,None,None,2023-07-08,0.0
3,5805028000001347038,5805028000001375082,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,...,NaN,2023-07-08 13:29:00,NaN,<NA>,0.0,0.0,None,None,2023-07-08,0.0
4,5805028000001401189,5805028000001387193,Kevin Parker,2023-07-13,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,...,NaN,2023-07-11 00:17:00,NaN,<NA>,0.0,0.0,None,None,2023-07-11,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,5805028000049855125,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,None,0 days 05:35:41,...,NaN,2024-05-15 08:50:00,NaN,<NA>,NaN,NaN,None,None,2024-05-15,0.0
104,5805028000053705642,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,None,NaT,...,NaN,2024-06-06 18:45:00,NaN,<NA>,NaN,NaN,None,None,2024-06-06,0.0
105,5805028000054480760,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_DE,0 days 04:30:17,...,NaN,2024-06-12 05:46:00,NaN,<NA>,NaN,NaN,None,None,2024-06-12,0.0
106,5805028000056392363,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,None,0 days 00:01:46,...,NaN,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,None,None,2024-06-20,0.0
107,5805028000056727001,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,None,NaT,...,NaN,2024-06-20 17:36:00,NaN,<NA>,NaN,NaN,None,None,2024-06-20,0.0

In [30]:
import numpy as np

aggregated_contacts = (
    duplicates_contact_name
    .sort_values('Created Time')
    .groupby('Contact Name')
    .agg(lambda x: x.dropna().iloc[-1] if x.dropna().size > 0 else np.nan)
    .reset_index()
)

In [31]:
aggregated_contacts

,Contact Name,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,...,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,City,Level of Deutsch,Created Date,Date Diff
0,5805028000000872003,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,/test,04.07.23recentlymoved_DE,13 days 23:40:53,...,Morning,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,NaN,NaN,2023-08-08,5.0
1,5805028000000889001,5805028000005168087,Bob Brown,2023-10-26,E - Non Qualified,Lost,Duplicate,/workshop,NaN,NaT,...,NaN,2023-08-18 21:35:00,NaN,<NA>,NaN,NaN,NaN,NaN,2023-08-18,69.0
2,5805028000001347003,5805028000001369097,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,...,NaN,2023-07-08 11:39:00,NaN,<NA>,0.0,0.0,NaN,NaN,2023-07-08,0.0
3,5805028000001347038,5805028000001375082,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,...,NaN,2023-07-08 13:29:00,NaN,<NA>,0.0,0.0,NaN,NaN,2023-07-08,0.0
4,5805028000001401189,5805028000001387193,Kevin Parker,2023-07-13,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,...,NaN,2023-07-11 00:17:00,NaN,<NA>,0.0,0.0,NaN,NaN,2023-07-11,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,5805028000049855125,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,...,NaN,2024-05-15 08:50:00,NaN,<NA>,NaN,NaN,NaN,NaN,2024-05-15,0.0
104,5805028000053705642,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,...,NaN,2024-06-06 18:45:00,NaN,<NA>,NaN,NaN,NaN,NaN,2024-06-06,0.0
105,5805028000054480760,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_DE,0 days 04:30:17,...,NaN,2024-06-12 05:46:00,NaN,<NA>,NaN,NaN,NaN,NaN,2024-06-12,0.0
106,5805028000056392363,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,...,NaN,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,NaN,NaN,2024-06-20,0.0
107,5805028000056727001,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,...,NaN,2024-06-20 17:36:00,NaN,<NA>,NaN,NaN,NaN,NaN,2024-06-20,0.0

In [32]:
aggregated_contacts[aggregated_contacts['Contact Name']=='5805028000056392363']

,Contact Name,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,...,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,City,Level of Deutsch,Created Date,Date Diff
106,5805028000056392363,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,...,NaN,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,NaN,NaN,2024-06-20,0.0

In [34]:
# 5. Приводим порядок колонок в aggregated_contacts к deals_df
aggregated_contacts = aggregated_contacts[deals_df_v2.columns]
aggregated_contacts.head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,/test,04.07.23recentlymoved_DE,13 days 23:40:53,v7com,...,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,5805028000000872003,NaN,NaN,2023-08-08,5.0
1,5805028000005168087,Bob Brown,2023-10-26,E - Non Qualified,Lost,Duplicate,/workshop,NaN,NaT,NaN,...,2023-08-18 21:35:00,NaN,<NA>,NaN,NaN,5805028000000889001,NaN,NaN,2023-08-18,69.0
2,5805028000001369097,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,...,2023-07-08 11:39:00,NaN,<NA>,0.0,0.0,5805028000001347003,NaN,NaN,2023-07-08,0.0
3,5805028000001375082,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,...,2023-07-08 13:29:00,NaN,<NA>,0.0,0.0,5805028000001347038,NaN,NaN,2023-07-08,0.0
4,5805028000001387193,Kevin Parker,2023-07-13,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,b3,...,2023-07-11 00:17:00,NaN,<NA>,0.0,0.0,5805028000001401189,NaN,NaN,2023-07-11,2.0

In [57]:
aggregated_contacts[aggregated_contacts['Contact Name']=='5805028000000872003']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,/test,04.07.23recentlymoved_DE,13 days 23:40:53,v7com,recentlymoved,Organic,One Payment,Web Developer,Morning,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,5805028000000872003,NaN,NaN,2023-08-08,5.0

In [35]:
# 6. Удаляем старые строки с этими Contact Name
mask_to_remove = (
    (deals_df_v2['Stage'] == 'Lost') &
    (deals_df_v2['Lost Reason'] == 'Duplicate') &
    (deals_df_v2['Contact Name'].isin(duplicate_ids_more_one))
)
deals_df_v2 = deals_df_v2[~mask_to_remove].copy()
deals_df_v2.shape[0]

21303

In [36]:
deals_df_v2[deals_df_v2['Contact Name']=='5805028000056392363']

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Date Diff]
Index: []

[0 rows x 25 columns]

In [37]:
# # 7. Добавляем очищенные агрегированные строки.  Склеиваем без сброса индексов
deals_df_v2 = pd.concat([deals_df_v2, aggregated_contacts], ignore_index=True)

In [38]:
deals_df_v2.shape[0]

21411

In [39]:
deals_df_v2[deals_df_v2['Contact Name']=='5805028000056392363']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,...,2024-06-20 13:49:00,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0

In [46]:
deals_df_v2[deals_df_v2['Contact Name']=='5805028000000872003']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
16190,5805028000017300107,John Doe,NaT,C - Low,Registered on Webinar,NaN,NaN,NaN,NaT,NaN,...,2023-11-16 17:41:00,NaN,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-11-16,NaN
20104,5805028000005155037,John Doe,NaT,C - Low,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,...,2023-08-18 20:48:00,11,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20105,5805028000005178088,John Doe,NaT,C - Low,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,...,2023-08-18 20:46:00,NaN,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20107,5805028000005176076,John Doe,NaT,C - Low,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,...,2023-08-18 20:22:00,11,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20108,5805028000005180061,John Doe,NaT,E - Non Qualified,Registered on Webinar,NaN,/workshop,NaN,3 days 18:22:35,NaN,...,2023-08-18 19:58:00,11,<NA>,100.0,4000.0,5805028000000872003,NaN,NaN,2023-08-18,NaN
20109,5805028000005174051,John Doe,NaT,C - Low,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,...,2023-08-18 19:54:00,NaN,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20110,5805028000005168037,John Doe,NaT,A - High,Registered on Webinar,NaN,/workshop,web2408_DE,NaT,NaN,...,2023-08-18 19:45:00,NaN,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20111,5805028000005176025,John Doe,NaT,A - High,Registered on Webinar,NaN,/workshop,web2408_DE,NaT,NaN,...,2023-08-18 19:42:00,NaN,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
21303,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,/test,04.07.23recentlymoved_DE,13 days 23:40:53,v7com,...,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,5805028000000872003,NaN,NaN,2023-08-08,5.0

In [40]:
# 1. Список Contact Name, которые мы удалили:
removed_contact_names = deals_df_v2[
    (deals_df_v2['Stage'] == 'Lost') &
    (deals_df_v2['Lost Reason'] == 'Duplicate') &
    (deals_df_v2['Contact Name'].isin(duplicate_ids_more_one))
]['Contact Name'].unique()

In [42]:
len(removed_contact_names)

108

In [43]:
#2. Список Contact Name, которые вернулись через aggregated_contacts
aggregated_contact_names = aggregated_contacts['Contact Name'].unique()
len(aggregated_contact_names)

108

In [44]:
# 3. Сравниваем, кого не хватает:
missing_contacts = set(removed_contact_names) - set(aggregated_contact_names)
len(missing_contacts)  # Сколько потеряно?

0

In [58]:
deals_df_v2[deals_df_v2['Contact Name']=='5805028000000872003']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
16190,5805028000017300107,John Doe,NaT,C - Low,Registered on Webinar,NaN,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-11-16 17:41:00,NaN,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-11-16,NaN
20104,5805028000005155037,John Doe,NaT,C - Low,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,NaN,Organic,NaN,Digital Marketing,Evening,2023-08-18 20:48:00,11,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20105,5805028000005178088,John Doe,NaT,C - Low,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-18 20:46:00,NaN,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20107,5805028000005176076,John Doe,NaT,C - Low,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,NaN,Organic,NaN,Digital Marketing,Evening,2023-08-18 20:22:00,11,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20108,5805028000005180061,John Doe,NaT,E - Non Qualified,Registered on Webinar,NaN,/workshop,NaN,3 days 18:22:35,NaN,NaN,Organic,Recurring Payments,UX/UI Design,Morning,2023-08-18 19:58:00,11,<NA>,100.0,4000.0,5805028000000872003,NaN,NaN,2023-08-18,NaN
20109,5805028000005174051,John Doe,NaT,C - Low,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-18 19:54:00,NaN,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20110,5805028000005168037,John Doe,NaT,A - High,Registered on Webinar,NaN,/workshop,web2408_DE,NaT,NaN,allcomlost,CRM,NaN,NaN,NaN,2023-08-18 19:45:00,NaN,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20111,5805028000005176025,John Doe,NaT,A - High,Registered on Webinar,NaN,/workshop,web2408_DE,NaT,NaN,allcomlost,CRM,NaN,NaN,NaN,2023-08-18 19:42:00,NaN,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
21303,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,/test,04.07.23recentlymoved_DE,13 days 23:40:53,v7com,recentlymoved,Organic,One Payment,Web Developer,Morning,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,5805028000000872003,NaN,NaN,2023-08-08,5.0

In [47]:
deals_df_v2.to_pickle("clean_deals_v2.pkl")