# Очистка и подготовка данных

## Calls

In [1]:
import pandas as pd

# Loading an Excel-file with an explicit data type for IDs
dtype_dict = {
    'Id': 'str',
    'CONTACTID': 'str',
}

calls_df = pd.read_excel('Calls (Done).xlsx', dtype=dtype_dict)

In [2]:
calls_df

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag
0,5805028000000805001,30.06.2023 08:43,John Doe,NaN,Inbound,171.0,Received,NaN,NaN,NaN,NaN
1,5805028000000768006,30.06.2023 08:46,John Doe,NaN,Outbound,28.0,Attended Dialled,NaN,Completed,0.0,NaN
2,5805028000000764027,30.06.2023 08:59,John Doe,NaN,Outbound,24.0,Attended Dialled,NaN,Completed,0.0,NaN
3,5805028000000787003,30.06.2023 09:20,John Doe,5805028000000645014,Outbound,6.0,Attended Dialled,NaN,Completed,0.0,NaN
4,5805028000000768019,30.06.2023 09:30,John Doe,5805028000000645014,Outbound,11.0,Attended Dialled,NaN,Completed,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95869,5805028000056889515,21.06.2024 15:30,Ulysses Adams,5805028000056564231,Outbound,6.0,Attended Dialled,NaN,Completed,0.0,NaN
95870,5805028000056875317,21.06.2024 15:30,Victor Barnes,5805028000054867023,Outbound,8.0,Attended Dialled,NaN,Completed,0.0,NaN
95871,5805028000056832495,21.06.2024 15:30,Kevin Parker,5805028000010617278,Outbound,5.0,Attended Dialled,NaN,Completed,0.0,NaN
95872,5805028000056893619,21.06.2024 15:30,Victor Barnes,5805028000056839048,Outbound,0.0,Unattended Dialled,NaN,Completed,0.0,NaN
95873,5805028000056893631,21.06.2024 15:31,John Doe,NaN,Missed,0.0,Missed,NaN,NaN,NaN,NaN

In [3]:
calls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95874 entries, 0 to 95873
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          95874 non-null  object
 1   Call Start Time             95874 non-null  object
 2   Call Owner Name             95874 non-null  object
 3   CONTACTID                   91941 non-null  object
 4   Call Type                   95874 non-null  object
 5   Call Duration (in seconds)  95791 non-null  float64
 6   Call Status                 95874 non-null  object
 7   Dialled Number              0 non-null      float64
 8   Outgoing Call Status        86875 non-null  object
 9   Scheduled in CRM            86875 non-null  float64
 10  Tag                         0 non-null      float64
dtypes: float64(4), object(7)
memory usage: 8.0+ MB

In [4]:
calls_df.isnull().sum()

Id                                0
Call Start Time                   0
Call Owner Name                   0
CONTACTID                      3933
Call Type                         0
Call Duration (in seconds)       83
Call Status                       0
Dialled Number                95874
Outgoing Call Status           8999
Scheduled in CRM               8999
Tag                           95874
dtype: int64

In [5]:
# Replaces cells that are:
# - completely empty ('')
# - contain only spaces (' ')
# with NaN.
import numpy as np

calls_df = calls_df.replace(r'^\s*$', np.nan, regex=True)
calls_df.isnull().sum()

Id                                0
Call Start Time                   0
Call Owner Name                   0
CONTACTID                      3933
Call Type                         0
Call Duration (in seconds)       83
Call Status                       0
Dialled Number                95874
Outgoing Call Status           8999
Scheduled in CRM               8999
Tag                           95874
dtype: int64

In [6]:
# Checking if there are any full duplicate lines
calls_df[calls_df.duplicated()]

Empty DataFrame
Columns: [Id, Call Start Time, Call Owner Name, CONTACTID, Call Type, Call Duration (in seconds), Call Status, Dialled Number, Outgoing Call Status, Scheduled in CRM, Tag]
Index: []

In [7]:
# Checking if there are Id duplicate
calls_df[calls_df.duplicated(subset='Id', keep=False)]

Empty DataFrame
Columns: [Id, Call Start Time, Call Owner Name, CONTACTID, Call Type, Call Duration (in seconds), Call Status, Dialled Number, Outgoing Call Status, Scheduled in CRM, Tag]
Index: []

In [8]:
# Convert the Call Start Time field to datetime
calls_df['Call Start Time'] = pd.to_datetime(calls_df['Call Start Time'], format='%d.%m.%Y %H:%M', errors='coerce')
type(calls_df['Call Start Time'].iloc[0])

pandas._libs.tslibs.timestamps.Timestamp

In [9]:
calls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95874 entries, 0 to 95873
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          95874 non-null  object
 1   Call Start Time             95874 non-null  datetime64[ns]
 2   Call Owner Name             95874 non-null  object
 3   CONTACTID                   91941 non-null  object
 4   Call Type                   95874 non-null  object
 5   Call Duration (in seconds)  95791 non-null  float64
 6   Call Status                 95874 non-null  object
 7   Dialled Number              0 non-null      float64
 8   Outgoing Call Status        86875 non-null  object
 9   Scheduled in CRM            86875 non-null  float64
 10  Tag                         0 non-null      float64
dtypes: datetime64[ns](1), float64(4), object(6)
memory usage: 8.0+ MB

In [10]:
calls_df['Call Type'].nunique()

3

In [11]:
calls_df['Call Status'].nunique()

11

In [12]:
calls_df['Outgoing Call Status'].nunique()

4

In [14]:
# Convert the data type  to categorical
calls_df['Call Type'] = calls_df['Call Type'].astype('category')
calls_df['Call Status'] = calls_df['Call Status'].astype('category')
calls_df['Outgoing Call Status'] = calls_df['Outgoing Call Status'].astype('category')

# Convert the data type to integer
calls_df['Call Duration (in seconds)'] = calls_df['Call Duration (in seconds)'].astype('Int64')

# Convert the data type to datetime
calls_df['Call Start Time'] = pd.to_datetime(calls_df['Call Start Time'], format='%d.%m.%Y %H:%M', errors='coerce')

print(calls_df.dtypes)

Id                                    object
Call Start Time               datetime64[ns]
Call Owner Name                       object
CONTACTID                             object
Call Type                           category
Call Duration (in seconds)             Int64
Call Status                         category
Dialled Number                       float64
Outgoing Call Status                category
Scheduled in CRM                     float64
Tag                                  float64
dtype: object

In [15]:
# Add a categorical column 'Call Duration Range' and assign it ranges of call duration values

def categorize_duration(sec):
    if pd.isna(sec):
        return np.nan
    elif sec == 0:
        return '0 sec'
    elif 1 <= sec <= 3:
        return '1–3 sec'
    elif sec > 3:
        # Переводим секунды в минуты
        minutes = sec / 60
        if minutes < 0.25:      # < 15 sec
            return '3–15 sec'
        elif minutes < 1:       # 15–60 sec
            return '15–60 sec'
        elif minutes < 3:       # 1–3 min
            return '1–3 min'
        elif minutes < 10:      # 3–10 min
            return '3–10 min'
        elif minutes < 30:      # 10–30 min
            return '10–30 min'
        else:                  # >30 min
            return '30+ min'
    else:
        return 'Other'

calls_df['Call Duration Range'] = calls_df['Call Duration (in seconds)'].apply(categorize_duration).astype('category')

In [16]:
calls_df.head()

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag,Call Duration Range
0,5805028000000805001,2023-06-30 08:43:00,John Doe,NaN,Inbound,171,Received,NaN,NaN,NaN,NaN,1–3 min
1,5805028000000768006,2023-06-30 08:46:00,John Doe,NaN,Outbound,28,Attended Dialled,NaN,Completed,0.0,NaN,15–60 sec
2,5805028000000764027,2023-06-30 08:59:00,John Doe,NaN,Outbound,24,Attended Dialled,NaN,Completed,0.0,NaN,15–60 sec
3,5805028000000787003,2023-06-30 09:20:00,John Doe,5805028000000645014,Outbound,6,Attended Dialled,NaN,Completed,0.0,NaN,3–15 sec
4,5805028000000768019,2023-06-30 09:30:00,John Doe,5805028000000645014,Outbound,11,Attended Dialled,NaN,Completed,0.0,NaN,3–15 sec

In [17]:
calls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95874 entries, 0 to 95873
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          95874 non-null  object
 1   Call Start Time             95874 non-null  datetime64[ns]
 2   Call Owner Name             95874 non-null  object
 3   CONTACTID                   91941 non-null  object
 4   Call Type                   95874 non-null  category
 5   Call Duration (in seconds)  95791 non-null  Int64
 6   Call Status                 95874 non-null  category
 7   Dialled Number              0 non-null      float64
 8   Outgoing Call Status        86875 non-null  category
 9   Scheduled in CRM            86875 non-null  float64
 10  Tag                         0 non-null      float64
 11  Call Duration Range         95791 non-null  category
dtypes: Int64(1), category(4), datetime64[ns](1), float64(3), object(3)
memory usage: 6.3+ MB

In [18]:
# Remove columns that are not needed for analysis

calls_df = calls_df.drop(['Dialled Number', 'Tag', 'Scheduled in CRM'], axis = 1)
calls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95874 entries, 0 to 95873
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          95874 non-null  object
 1   Call Start Time             95874 non-null  datetime64[ns]
 2   Call Owner Name             95874 non-null  object
 3   CONTACTID                   91941 non-null  object
 4   Call Type                   95874 non-null  category
 5   Call Duration (in seconds)  95791 non-null  Int64
 6   Call Status                 95874 non-null  category
 7   Outgoing Call Status        86875 non-null  category
 8   Call Duration Range         95791 non-null  category
dtypes: Int64(1), category(4), datetime64[ns](1), object(3)
memory usage: 4.1+ MB

In [19]:
# Check the statuses that are indicated for calls and that have a duration

calls_df[calls_df['Call Duration (in seconds)'].isna()]['Call Status'].value_counts()

Call Status
Overdue                       60
Cancelled                     20
Scheduled                      3
Missed                         0
Attended Dialled               0
Received                       0
Scheduled Attended             0
Scheduled Attended Delay       0
Scheduled Unattended           0
Scheduled Unattended Delay     0
Unattended Dialled             0
Name: count, dtype: int64

In [21]:
calls_df

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Outgoing Call Status,Call Duration Range
0,5805028000000805001,2023-06-30 08:43:00,John Doe,NaN,Inbound,171,Received,NaN,1–3 min
1,5805028000000768006,2023-06-30 08:46:00,John Doe,NaN,Outbound,28,Attended Dialled,Completed,15–60 sec
2,5805028000000764027,2023-06-30 08:59:00,John Doe,NaN,Outbound,24,Attended Dialled,Completed,15–60 sec
3,5805028000000787003,2023-06-30 09:20:00,John Doe,5805028000000645014,Outbound,6,Attended Dialled,Completed,3–15 sec
4,5805028000000768019,2023-06-30 09:30:00,John Doe,5805028000000645014,Outbound,11,Attended Dialled,Completed,3–15 sec
...,...,...,...,...,...,...,...,...,...
95869,5805028000056889515,2024-06-21 15:30:00,Ulysses Adams,5805028000056564231,Outbound,6,Attended Dialled,Completed,3–15 sec
95870,5805028000056875317,2024-06-21 15:30:00,Victor Barnes,5805028000054867023,Outbound,8,Attended Dialled,Completed,3–15 sec
95871,5805028000056832495,2024-06-21 15:30:00,Kevin Parker,5805028000010617278,Outbound,5,Attended Dialled,Completed,3–15 sec
95872,5805028000056893619,2024-06-21 15:30:00,Victor Barnes,5805028000056839048,Outbound,0,Unattended Dialled,Completed,0 sec
95873,5805028000056893631,2024-06-21 15:31:00,John Doe,NaN,Missed,0,Missed,NaN,0 sec

In [22]:
calls_df.to_pickle("calls_cleaned.pkl")

## Deals

### General data cleaning

In [98]:
import pandas as pd

# Loading an Excel-file with an explicit data type for IDs
dtype_dict = {
    'Id': 'str',
    'Contact Name': 'str'
}

deals_df = pd.read_excel('Deals (Done).xlsx', dtype=dtype_dict)

# setting to display columns as much as possible
pd.set_option('display.max_columns', None)

In [99]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
0,5805028000056864695,Ben Hall,NaN,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,21.06.2024 15:30,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaN,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,21.06.2024 15:23,6.0,NaN,0,2000,5805028000056834471,NaN,NaN
2,5805028000056832357,Ulysses Adams,21.06.2024,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,21.06.2024 14:45,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN
3,5805028000056824246,Eva Kent,21.06.2024,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,21.06.2024 13:32,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN
4,5805028000056873292,Ben Hall,21.06.2024,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,21.06.2024 13:21,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21590,5805028000000945016,Jane Smith,29.08.2023,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,03.07.2023 20:39,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,09.07.2023,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,03.07.2023 20:17,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,03.07.2023,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,03.07.2023 17:03,NaN,NaN,0,0,5805028000001009140,NaN,NaN
21593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21595 entries, 0 to 21594
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   21593 non-null  object
 1   Deal Owner Name      21564 non-null  object
 2   Closing Date         14645 non-null  object
 3   Quality              19340 non-null  object
 4   Stage                21593 non-null  object
 5   Lost Reason          16124 non-null  object
 6   Page                 21593 non-null  object
 7   Campaign             16067 non-null  object
 8   SLA                  15533 non-null  object
 9   Content              14147 non-null  object
 10  Term                 12454 non-null  object
 11  Source               21593 non-null  object
 12  Payment Type         496 non-null    object
 13  Product              3592 non-null   object
 14  Education Type       3300 non-null   object
 15  Created Time         21593 non-null  object
 16  Course duration      3587 non-null   float64
 17  Months of study      840 non-null    float64
 18  Initial Amount Paid  4165 non-null   object
 19  Offer Total Amount   4185 non-null   object
 20  Contact Name         21532 non-null  object
 21  City                 2511 non-null   object
 22  Level of Deutsch     1251 non-null   object
dtypes: float64(2), object(21)
memory usage: 3.8+ MB

In [101]:
# percentage of missing values

(deals_df.isnull().sum()/(len(deals_df)))*100

Id                      0.009261
Deal Owner Name         0.143552
Closing Date           32.183376
Quality                10.442232
Stage                   0.009261
Lost Reason            25.334568
Page                    0.009261
Campaign               25.598518
SLA                    28.071313
Content                34.489465
Term                   42.329243
Source                  0.009261
Payment Type           97.703172
Product                83.366520
Education Type         84.718685
Created Time            0.009261
Course duration        83.389674
Months of study        96.110211
Initial Amount Paid    80.713128
Offer Total Amount     80.620514
Contact Name            0.291734
City                   88.372308
Level of Deutsch       94.206992
dtype: float64

In [102]:
import numpy as np

#replace spaces and empty lines with NaN

deals_df = deals_df.replace(r'^\s*$', np.nan, regex=True)

In [103]:
# Checking if there are any full duplicate lines

deals_df[deals_df.duplicated()]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch]
Index: []

In [104]:
# Checking if there are Id duplicates

deals_df[deals_df.duplicated(subset='Id', keep=False)]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
21593,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21594,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,#REF!,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
# remove duplicate NaN

deals_df = deals_df[~deals_df.duplicated(subset='Id', keep=False)]
deals_df.tail()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
21588,5805028000000970006,Jane Smith,04.07.2023,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,04.07.2023 07:10,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN
21589,5805028000000948010,Jane Smith,29.08.2023,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,04.07.2023 07:10,NaN,NaN,NaN,NaN,5805028000000979006,NaN,NaN
21590,5805028000000945016,Jane Smith,29.08.2023,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,"56 days, 19:01:59",b3,wide,Facebook Ads,NaN,NaN,NaN,03.07.2023 20:39,NaN,NaN,NaN,NaN,5805028000000968001,NaN,NaN
21591,5805028000000927004,Bob Brown,09.07.2023,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,03.07.2023 20:17,NaN,NaN,NaN,NaN,5805028000000961001,NaN,NaN
21592,5805028000000922001,Bob Brown,03.07.2023,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,03.07.2023 17:03,NaN,NaN,0,0,5805028000001009140,NaN,NaN

In [106]:
# date processing

deals_df['Created Time'] = pd.to_datetime(deals_df['Created Time'], format='%d.%m.%Y %H:%M', errors='coerce')
deals_df['Closing Date'] = pd.to_datetime(deals_df['Closing Date'], format='%d.%m.%Y', errors='coerce')
deals_df[['Created Time', 'Closing Date']].dtypes

Created Time    datetime64[ns]
Closing Date    datetime64[ns]
dtype: object

In [107]:
deals_df.nunique()

Id                     21593
Deal Owner Name           27
Closing Date             359
Quality                    6
Stage                     13
Lost Reason               21
Page                      34
Campaign                 154
SLA                    13357
Content                  187
Term                     220
Source                    13
Payment Type               3
Product                    5
Education Type             2
Created Time           20334
Course duration            2
Months of study           12
Initial Amount Paid       24
Offer Total Amount        21
Contact Name           18089
City                     876
Level of Deutsch         215
dtype: int64

In [108]:
deals_df.isnull().sum()

Id                         0
Deal Owner Name           29
Closing Date            6948
Quality                 2253
Stage                      0
Lost Reason             5469
Page                       0
Campaign                5526
SLA                     6060
Content                 7446
Term                    9139
Source                     0
Payment Type           21097
Product                18001
Education Type         18294
Created Time               0
Course duration        18006
Months of study        20753
Initial Amount Paid    17428
Offer Total Amount     17408
Contact Name              61
City                   19082
Level of Deutsch       20342
dtype: int64

In [109]:
# check for special characters
import re

# The string consists entirely of spaces, special characters, and underscores (and does not contain any letters or numbers).
only_specials_pattern_regex = r'^[\s\W_]+$'

mask_strict_regex = deals_df.astype(str).apply(lambda col: col.map(lambda x: bool(re.fullmatch(only_specials_pattern_regex, x))))

print("Number of cells with special characters:", mask_strict_regex.sum().sum())
print("Columns with these values:", mask_strict_regex.any()[mask_strict_regex.any()].index.tolist())

Number of cells with special characters: 1490
Columns with these values: ['Page', 'Term', 'City', 'Level of Deutsch']

In [110]:
deals_df[mask_strict_regex.any(axis=1)]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,NaN,NaN,NaN,NaN,5805028000056849237,NaN,NaN
16,5805028000056828139,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 11:44:00,NaN,NaN,NaN,NaN,5805028000056824095,NaN,NaN
20,5805028000056892092,Ulysses Adams,NaT,NaN,Need a consultation,NaN,/,NaN,01:03:57,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 10:38:00,NaN,NaN,NaN,NaN,5805028000053247795,NaN,NaN
55,5805028000056704066,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:50:00,NaN,NaN,NaN,NaN,5805028000056727001,NaN,NaN
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,/,NaN,00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,NaN,NaN,NaN,NaN,5805028000056392363,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21450,5805028000001775026,John Doe,NaT,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-14 09:27:00,NaN,NaN,0,0,5805028000001805007,NaN,NaN
21456,5805028000001812001,Victor Barnes,2023-07-14,E - Non Qualified,Waiting For Payment,Non target,eng/digital-marketing,07.07.23LAL_DE,"311 days, 10:34:24",b2,LAL1,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-14 07:08:00,11.0,NaN,1000,11500,5805028000001782077,-,B1
21480,5805028000001588071,John Doe,NaT,E - Non Qualified,Lost,Duplicate,/,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-13 10:01:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21581,5805028000001037002,Diana Evans,2023-09-07,A - High,Lost,Changed Decision,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,23:09:28,NaN,_,Google Ads,NaN,NaN,NaN,2023-07-05 15:36:00,NaN,NaN,NaN,NaN,5805028000001023002,NaN,NaN
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,/,NaN,"4 days, 22:47:14",NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,NaN,NaN,0,0,5805028000001009140,NaN,NaN

In [111]:
# Replace with NaN throughout the entire dataframe
deals_df = deals_df.mask(mask_strict_regex, np.nan)

In [113]:
# Re-create the mask on the updated dataframe
mask_strict_regex = deals_df.astype(str).apply(lambda col: col.map(lambda x: bool(re.fullmatch(only_specials_pattern_regex, x))))

# The check will now be correct
print("Number of cells with special characters:", mask_strict_regex.sum().sum())

Number of cells with special characters: 0

In [114]:
deals_df[mask_strict_regex.any(axis=1)]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch]
Index: []

In [117]:
print(deals_df['Initial Amount Paid'].unique())
print(deals_df['Offer Total Amount'].unique())

[nan 0 1000 '€ 3.500,00' 500 100 4500 300 200 2000 11000 4000 3000 3500
 11500 1200 1500 1 5000 600 700 350 9 400 450]
[nan 2000 9000 11000 3500 4500 '€ 2.900,00' 6500 4000 3000 10000 2500 5000
 11500 1 1000 1200 0 1500 '€ 11398,00' 11111 6000]

In [118]:
# Processing Initial Amount Paid
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].astype(str)
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.replace('€', '', regex=False)
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.strip()
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.replace('.', '', regex=False)
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].str.replace(',', '.', regex=False)
deals_df['Initial Amount Paid'] = pd.to_numeric(deals_df['Initial Amount Paid'], errors='coerce')

# Processing Offer Total Amount
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].astype(str)
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.replace('€', '', regex=False)
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.strip()
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.replace('.', '', regex=False)
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].str.replace(',', '.', regex=False)
deals_df['Offer Total Amount'] = pd.to_numeric(deals_df['Offer Total Amount'], errors='coerce')

In [119]:
print(deals_df['Initial Amount Paid'].dtype)
print(deals_df['Offer Total Amount'].dtype)

float64
float64

In [122]:
# output all unique values from the Initial Amount Paid column, sorted in ascending order, and each value will be presented with two decimal places
unique_vals_init = sorted(deals_df['Initial Amount Paid'].dropna().unique())
for val in unique_vals_init:
    print(f"{val:.2f}")

0.00
1.00
9.00
100.00
200.00
300.00
350.00
400.00
450.00
500.00
600.00
700.00
1000.00
1200.00
1500.00
2000.00
3000.00
3500.00
4000.00
4500.00
5000.00
11000.00
11500.00

In [124]:
# output all unique values from the Offer Total Amount column, sorted in ascending order, and each value will be presented with two decimal places

unique_vals_offer = sorted(deals_df['Offer Total Amount'].dropna().unique())
for val in unique_vals_offer:
    print(f"{val:.2f}")

0.00
1.00
1000.00
1200.00
1500.00
2000.00
2500.00
2900.00
3000.00
3500.00
4000.00
4500.00
5000.00
6000.00
6500.00
9000.00
10000.00
11000.00
11111.00
11398.00
11500.00

In [126]:
# count the number of zeros in Initial Amount Paid
num_zeros = (deals_df['Initial Amount Paid'] == 0).sum()

# count NaN in Initial Amount Paid
num_nans = deals_df['Initial Amount Paid'].isna().sum()

print(f"Zero: {num_zeros}")
print(f"NaN: {num_nans}")

Zero: 876
NaN: 17428

In [129]:
# Filter only deals with the stage 'Payment Done'
payment_done_df = deals_df[deals_df['Stage'] == 'Payment Done']

# Counting the number of zeros and NaN
num_zeros = (payment_done_df['Initial Amount Paid'] == 0).sum()
num_nans = payment_done_df['Initial Amount Paid'].isna().sum()
total_rows = len(payment_done_df)

# display the result with percentages
print(f"Zero: {num_zeros} ({num_zeros / total_rows:.2%})")
print(f"NaN: {num_nans} ({num_nans / total_rows:.2%})")

Zero: 3 (0.35%)
NaN: 15 (1.75%)

In [130]:
# Replace 0 to NaN in 'Initial Amount Paid'
deals_df['Initial Amount Paid'] = deals_df['Initial Amount Paid'].replace(0, np.nan)

In [132]:
num_zeros = (deals_df['Initial Amount Paid'] == 0).sum()
num_nans = deals_df['Initial Amount Paid'].isna().sum()

print(f"Zero: {num_zeros}")
print(f"NaN: {num_nans}")

Zero: 0
NaN: 18304

In [133]:
# count the number of zeros in Offer Total Amount
num_zeros_offer = (deals_df['Offer Total Amount'] == 0).sum()

# count NaN in Offer Total Amount
num_nans_offer = deals_df['Offer Total Amount'].isna().sum()

print(f"Zero: {num_zeros_offer}")
print(f"NaN: {num_nans_offer}")

Zero: 848
NaN: 17408

In [134]:
# Replace 0 to NaN in 'Offer Total Amount'
deals_df['Offer Total Amount'] = deals_df['Offer Total Amount'].replace(0, np.nan)

In [135]:
num_zeros_offer = (deals_df['Offer Total Amount'] == 0).sum()

num_nans_offer = deals_df['Offer Total Amount'].isna().sum()

print(f"Zero: {num_zeros_offer}")
print(f"NaN: {num_nans_offer}")

Zero: 0
NaN: 18256

In [143]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21593 entries, 0 to 21592
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   21593 non-null  object
 1   Deal Owner Name      21564 non-null  object
 2   Closing Date         14645 non-null  datetime64[ns]
 3   Quality              19340 non-null  object
 4   Stage                21593 non-null  object
 5   Lost Reason          16124 non-null  object
 6   Page                 20511 non-null  object
 7   Campaign             16067 non-null  object
 8   SLA                  15533 non-null  object
 9   Content              14147 non-null  object
 10  Term                 12417 non-null  object
 11  Source               21593 non-null  object
 12  Payment Type         496 non-null    object
 13  Product              3592 non-null   object
 14  Education Type       3299 non-null   object
 15  Created Time         21593 non-null  datetime64[ns]
 16  Course duration      3587 non-null   float64
 17  Months of study      840 non-null    float64
 18  Initial Amount Paid  3289 non-null   float64
 19  Offer Total Amount   3337 non-null   float64
 20  Contact Name         21532 non-null  object
 21  City                 2163 non-null   object
 22  Level of Deutsch     1228 non-null   object
 23  Created Date         21593 non-null  datetime64[ns]
dtypes: datetime64[ns](3), float64(4), object(17)
memory usage: 4.1+ MB

In [140]:
# Create a column with only the creation date (without time) to check the correctness of the closing dates
deals_df['Created Date'] = deals_df['Created Time'].dt.normalize() # sets time to 00:00:00 format
deals_df['Created Date'] = pd.to_datetime(deals_df['Created Date'])
deals_df.head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21

In [142]:
# data closing verification (if 'Closing Date' < 'Created Date' it is incorrect)

(deals_df['Closing Date'] < deals_df['Created Date']).sum()

np.int64(44)

In [145]:
invalid_dates = deals_df[(deals_df['Closing Date'] < deals_df['Created Date'])]
invalid_dates.head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date
454,5805028000055502890,Quincy Vincent,2024-06-11,D - Non Target,Lost,Changed Decision,/eng,24.09.23retargeting_DE,11:22:54,v15,retargeting,Facebook Ads,NaN,NaN,NaN,2024-06-16 00:06:00,NaN,NaN,NaN,NaN,5805028000055488584,NaN,NaN,2024-06-16
2083,5805028000051847114,Quincy Vincent,2024-05-22,E - Non Qualified,Lost,Changed Decision,/eng/test,22.05.2024wide_DE,12:58:43,bloggersvideo18com,wide,Tiktok Ads,NaN,NaN,NaN,2024-05-25 21:29:00,NaN,NaN,NaN,NaN,5805028000051866233,NaN,NaN,2024-05-25
2787,5805028000049539444,Julia Nelson,2024-05-07,E - Non Qualified,Lost,Changed Decision,/eng/test,NaN,00:06:32,NaN,NaN,SMM,NaN,NaN,NaN,2024-05-12 11:19:00,NaN,NaN,NaN,NaN,5805028000049438717,NaN,NaN,2024-05-12
3019,5805028000048886321,Oliver Taylor,2024-05-07,C - Low,Payment Done,NaN,NaN,NaN,NaN,NaN,NaN,Organic,Recurring Payments,UX/UI Design,Morning,2024-05-08 15:31:00,11.0,2.0,1000.0,11000.0,5805028000048886280,Berlin,B1,2024-05-08
3022,5805028000048883316,Ulysses Adams,2024-04-17,A - High,Lost,Duplicate,/eng,03.07.23women,NaN,v16,women,Facebook Ads,Recurring Payments,UX/UI Design,Morning,2024-05-08 14:48:00,11.0,NaN,1000.0,11000.0,5805028000043444319,NaN,NaN,2024-05-08

In [146]:
# check if there are closing dates that are less than the creation date
lost_mask = deals_df['Stage'] == 'Lost'
(deals_df.loc[lost_mask, 'Closing Date'] < deals_df.loc[lost_mask, 'Created Date']).sum()

np.int64(40)

In [147]:
invalid_dates[['Id', 'Closing Date', 'Created Date', 'Contact Name', 'Stage']]

,Id,Closing Date,Created Date,Contact Name,Stage
454,5805028000055502890,2024-06-11,2024-06-16,5805028000055488584,Lost
2083,5805028000051847114,2024-05-22,2024-05-25,5805028000051866233,Lost
2787,5805028000049539444,2024-05-07,2024-05-12,5805028000049438717,Lost
3019,5805028000048886321,2024-05-07,2024-05-08,5805028000048886280,Payment Done
3022,5805028000048883316,2024-04-17,2024-05-08,5805028000043444319,Lost
3031,5805028000048886160,2024-05-07,2024-05-08,5805028000048886140,Payment Done
3691,5805028000047482214,2024-04-23,2024-04-30,5805028000047492138,Lost
4107,5805028000046234250,2024-04-17,2024-04-24,5805028000046193190,Lost
4169,5805028000045961466,2024-04-18,2024-04-23,5805028000045998344,Lost
4434,5805028000045314301,2024-04-18,2024-04-21,5805028000045305375,Lost
4520,5805028000045245616,2023-08-21,2024-04-20,5805028000003597256,Lost
4798,5805028000044499302,2024-04-12,2024-04-17,5805028000044499235,Lost
4906,5805028000044342009,2024-04-11,2024-04-16,5805028000040234689,Lost
5000,5805028000044017980,2024-04-10,2024-04-16,5805028000044160080,Lost
5088,5805028000043980301,2024-04-11,2024-04-16,5805028000043982060,Lost
5492,5805028000043623605,2024-04-08,2024-04-13,5805028000043630666,Lost
5657,5805028000043408097,2024-04-09,2024-04-12,5805028000043385265,Lost
6212,5805028000042255704,2024-04-03,2024-04-07,5805028000042291268,Lost
6357,5805028000042015392,2023-10-03,2024-04-05,5805028000009072093,Payment Done
7215,5805028000039885153,2024-03-19,2024-03-26,5805028000039920131,Lost
7622,5805028000038726269,2024-03-13,2024-03-20,5805028000038738285,Lost
7752,5805028000038223676,2024-03-12,2024-03-19,5805028000034891733,Lost
8655,5805028000035795505,2024-02-28,2024-03-06,5805028000035782435,Lost
8817,5805028000035472715,2024-02-29,2024-03-04,5805028000035509553,Lost
9044,5805028000034901649,2024-02-22,2024-02-29,5805028000034915704,Lost
9086,5805028000034907064,2024-02-21,2024-02-28,5805028000034912001,Lost
9349,5805028000034004022,2024-02-24,2024-02-25,5805028000033889455,Lost
9475,5805028000033525798,2024-02-16,2024-02-23,5805028000033646006,Lost
9624,5805028000033287611,2024-02-14,2024-02-21,5805028000033287591,Lost
9943,5805028000032566474,2024-02-13,2024-02-17,5805028000032528677,Lost
10367,5805028000030992007,2024-02-01,2024-02-08,5805028000030877879,Lost
10413,5805028000030881469,2024-02-01,2024-02-08,5805028000030831406,Lost
10545,5805028000030630156,2024-01-31,2024-02-07,5805028000030637199,Lost
12561,5805028000025976668,2024-01-11,2024-01-15,5805028000025976636,Lost
14007,5805028000022036007,2023-07-01,2023-12-19,NaN,Payment Done
15436,5805028000018706283,2023-11-19,2023-11-25,5805028000018704446,Lost
15722,5805028000018163631,2023-11-15,2023-11-21,5805028000018148571,Lost
17650,5805028000013174103,2023-09-26,2023-10-21,5805028000013128091,Lost
18169,5805028000011322126,2023-09-26,2023-10-12,5805028000011144141,Lost
18277,5805028000010744206,2023-09-20,2023-10-10,5805028000010764225,Lost
18508,5805028000010282031,2023-09-30,2023-10-05,5805028000010282001,Lost
18526,5805028000010216149,2023-09-24,2023-10-05,5805028000010209081,Lost
18658,5805028000009789201,2022-10-11,2023-10-03,5805028000009784179,Lost
18747,5805028000009682053,2023-09-25,2023-10-02,5805028000009575662,Lost

In [148]:
# calculate the difference in days (where Closing Date is filled)
mask_close_fill = deals_df['Closing Date'].notna()
deals_df.loc[mask_close_fill, 'Date Diff'] = (deals_df.loc[mask_close_fill, 'Closing Date'] - deals_df.loc[mask_close_fill, 'Created Date']).dt.days

In [149]:
# difference mod for transactions with Lost status
most_lost_diff = deals_df.loc[deals_df['Stage'] == 'Lost', 'Date Diff'].mode()[0]
print(most_lost_diff)

0.0

In [150]:
deals_df[deals_df['Closing Date'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
5,5805028000056828429,Paula Underwood,NaT,NaN,Need a consultation,NaN,/eng,youtube_shorts_DE,01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,NaN,Need To Call,NaN,eng/digital-marketing,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,NaN,Need a consultation,NaN,/eng,brand_search_eng_DE,02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21567,5805028000001225001,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,03:57:36,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 06:53:00,11.0,NaN,1000.0,11500.0,5805028000001204013,NaN,NaN,2023-07-07,NaN
21568,5805028000001164001,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-06 17:04:00,NaN,NaN,NaN,NaN,5805028000001154013,NaN,NaN,2023-07-06,NaN
21580,5805028000001061006,George King,NaT,A - High,Call Delayed,Next stream,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,18:51:07,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-05 17:30:00,NaN,NaN,NaN,NaN,5805028000001068001,NaN,NaN,2023-07-05,NaN
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,"70 days, 23:12:53",b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11.0,NaN,1000.0,11500.0,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,"71 days, 0:46:22",b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.0,11.0,1000.0,11000.0,5805028000000939010,NaN,NaN,2023-07-04,NaN

In [153]:
deals_df[(deals_df['Stage'] == 'Lost') & (deals_df['Closing Date'].isna())]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
73,5805028000056570095,Charlie Davis,NaT,E - Non Qualified,Lost,Duplicate,/eng/ux-ui,02.07.23wide_DE,12:27:23,bloggersvideo23com,wide,Facebook Ads,NaN,NaN,NaN,2024-06-19 21:58:00,NaN,NaN,NaN,NaN,5805028000056555054,NaN,NaN,2024-06-19,NaN
106,5805028000056370221,Ulysses Adams,NaT,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 11:07:00,NaN,NaN,NaN,NaN,5805028000056272091,NaN,NaN,2024-06-19,NaN
175,5805028000056164376,Paula Underwood,NaT,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-18 14:22:00,NaN,NaN,NaN,NaN,5805028000056254001,NaN,NaN,2024-06-18,NaN
180,5805028000056177319,Ben Hall,NaT,E - Non Qualified,Lost,Doesn't Answer,/eng,04.07.23recentlymoved_DE,00:43:43,bloggersvideo15com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-18 13:38:00,NaN,NaN,NaN,NaN,5805028000055965957,NaN,NaN,2024-06-18,NaN
234,5805028000055987901,Ben Hall,NaT,E - Non Qualified,Lost,Duplicate,/webinar,webinar1906,NaN,NaN,invitation,Webinar,NaN,NaN,NaN,2024-06-18 05:19:00,NaN,NaN,NaN,NaN,5805028000056115037,Gummersbach,NaN,2024-06-18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21508,5805028000001508013,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,00:06:48,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-11 15:07:00,11.0,NaN,1000.0,11500.0,5805028000001495037,NaN,NaN,2023-07-11,NaN
21550,5805028000001390038,Jane Smith,NaT,D - Non Target,Lost,Conditions are not suitable,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaN,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:38:00,NaN,NaN,NaN,NaN,5805028000001347003,NaN,NaN,2023-07-08,NaN
21559,5805028000001319036,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,03.07.23women,00:27:56,b3,women,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 19:02:00,11.0,NaN,1000.0,11500.0,5805028000001296026,NaN,NaN,2023-07-07,NaN
21564,5805028000001204084,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,05.07.23interests_DE,03:09:15,b2,interest_work,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 09:05:00,11.0,NaN,1000.0,11500.0,5805028000001187016,NaN,NaN,2023-07-07,NaN
21567,5805028000001225001,Oliver Taylor,NaT,B - Medium,Lost,Stopped Answering,eng/digital-marketing,02.07.23wide_DE,03:57:36,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-07 06:53:00,11.0,NaN,1000.0,11500.0,5805028000001204013,NaN,NaN,2023-07-07,NaN

In [154]:
# Fill in Closing Date with 'Date Diff' mode for Stage = 'Lost' if Stage == 'Lost' and Closing Date is empty
lost_mask = (deals_df['Stage'] == 'Lost') & deals_df['Closing Date'].isna()
deals_df.loc[lost_mask, 'Closing Date'] = (deals_df.loc[lost_mask, 'Created Date'] + pd.to_timedelta(most_lost_diff, unit='D'))

In [156]:
# make sure there are no empty Closing Dates for 'Stage' == 'Lost'
deals_df[(deals_df['Stage'] == 'Lost') & (deals_df['Closing Date'].isna())]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Date Diff]
Index: []

In [158]:
print(len(invalid_dates))

44

In [159]:
# heck if there are Closing Date that is less than the Created Date with Lost status
lost_mask = deals_df['Stage'] == 'Lost'
(deals_df.loc[lost_mask, 'Closing Date'] < deals_df.loc[lost_mask, 'Created Date']).sum()

np.int64(40)

In [161]:
# Difference mode
most_common_diff = deals_df['Date Diff'].mode()[0]
most_common_diff

np.float64(0.0)

In [162]:
# Mask for invalid strings (where Closing Date < Created Date)
invalid_mask = deals_df['Closing Date'] < deals_df['Created Date']

In [163]:
# Correction: Closing Date = Created Date + mode
deals_df.loc[invalid_mask, 'Closing Date'] = deals_df.loc[invalid_mask, 'Created Date'] + pd.to_timedelta(most_common_diff, unit='D')

In [164]:
# Check that invalide dates are absent
invalid_dates_updated = deals_df[(deals_df['Closing Date'] < deals_df['Created Date'])]
print(len(invalid_dates_updated))

0

In [166]:
(deals_df['Closing Date'] < deals_df['Created Date']).sum()

np.int64(0)

In [167]:
deals_df['Closing Date'].isnull().sum()

np.int64(5063)

In [168]:
deals_df[deals_df['Closing Date'].isna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
5,5805028000056828429,Paula Underwood,NaT,NaN,Need a consultation,NaN,/eng,youtube_shorts_DE,01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
6,5805028000056893379,Ulysses Adams,NaT,NaN,Need To Call,NaN,eng/digital-marketing,NaN,NaN,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,NaN,NaN,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,NaN,Need a consultation,NaN,/eng,brand_search_eng_DE,02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21560,5805028000001299037,NaN,NaT,A - High,Qualificated,NaN,eng/digital-marketing,03.07.23women,NaN,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-07 18:48:00,NaN,NaN,NaN,NaN,5805028000001325013,NaN,NaN,2023-07-07,NaN
21568,5805028000001164001,NaN,NaT,B - Medium,Qualificated,NaN,eng/digital-marketing,02.07.23wide_DE,NaN,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-06 17:04:00,NaN,NaN,NaN,NaN,5805028000001154013,NaN,NaN,2023-07-06,NaN
21580,5805028000001061006,George King,NaT,A - High,Call Delayed,Next stream,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,18:51:07,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-05 17:30:00,NaN,NaN,NaN,NaN,5805028000001068001,NaN,NaN,2023-07-05,NaN
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,"70 days, 23:12:53",b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11.0,NaN,1000.0,11500.0,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,"71 days, 0:46:22",b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.0,11.0,1000.0,11000.0,5805028000000939010,NaN,NaN,2023-07-04,NaN

In [169]:
unique_stages_in_open_deals = deals_df[deals_df['Closing Date'].isna()]['Stage'].dropna().unique()
print("Unique stages among open deals:", unique_stages_in_open_deals)

Unique stages among open deals: ['New Lead' 'Need a consultation' 'Need To Call' 'Call Delayed'
 'Qualificated' 'Registered on Webinar' 'Waiting For Payment'
 'Need to Call - Sales' 'Test Sent' 'Payment Done'
 'Registered on Offline Day' 'Free Education']

In [171]:
open_paid_deals = deals_df[(deals_df['Closing Date'].isna()) & (deals_df['Stage'] == 'Payment Done')]
print("Open deals with status 'Payment Done':", open_paid_deals.shape[0])

Open deals with status 'Payment Done': 337

In [172]:
open_paid_deals

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
497,5805028000055524040,Ben Hall,NaT,B - Medium,Payment Done,NaN,/eng,Live_DE,00:23:42,b0,03_06_2024,Telegram posts,NaN,Web Developer,Morning,2024-06-15 12:20:00,6.0,1.0,1000.0,9000.0,5805028000055464156,Wolfsburg,B1,2024-06-15,NaN
833,5805028000054664018,Ben Hall,NaT,D - Non Target,Payment Done,NaN,/eng,NaN,16:31:52,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-11 19:39:00,6.0,1.0,1000.0,9000.0,5805028000054683001,Zwickau,A2,2024-06-11,NaN
1065,5805028000054269295,Ben Hall,NaT,D - Non Target,Payment Done,NaN,/eng,12.07.2023wide_DE,03:54:02,bloggersvideo16com,wide,Tiktok Ads,NaN,Digital Marketing,Morning,2024-06-10 12:37:00,11.0,1.0,1000.0,11000.0,5805028000054318001,Hof,A2,2024-06-10,NaN
1073,5805028000054226039,Eva Kent,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,07.07.23LAL_DE,05:54:20,bloggersvideo9com,LAL1,Facebook Ads,NaN,Digital Marketing,Morning,2024-06-10 09:01:00,11.0,1.0,1000.0,11000.0,5805028000054226036,Nürnberg,b1,2024-06-10,NaN
1121,5805028000054231507,Eva Kent,NaT,B - Medium,Payment Done,NaN,/eng,NaN,03:44:24,NaN,NaN,Organic,NaN,UX/UI Design,Morning,2024-06-10 09:00:00,11.0,1.0,1000.0,11000.0,5805028000054106087,Bochum,b1,2024-06-10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20613,5805028000004313387,Oliver Taylor,NaT,A - High,Payment Done,NaN,eng/digital-marketing,07.07.23LAL_DE,01:49:10,v9com,LAL1,Facebook Ads,NaN,Digital Marketing,NaN,2023-08-10 17:28:00,11.0,11.0,1000.0,11000.0,5805028000004333294,NaN,А2-В1 учит,2023-08-10,NaN
20728,5805028000004133115,Kevin Parker,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,NaN,03:59:05,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2023-08-08 07:15:00,11.0,11.0,1000.0,11000.0,5805028000004106113,NaN,NaN,2023-08-08,NaN
21111,5805028000003130171,Ulysses Adams,NaT,C - Low,Payment Done,NaN,eng/digital-marketing,03.07.23women,00:37:23,b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-26 15:32:00,11.0,11.0,NaN,NaN,5805028000003112233,NaN,NaN,2023-07-26,NaN
21555,5805028000001401001,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,02:22:36,b3,wide,Facebook Ads,NaN,Digital Marketing,NaN,2023-07-08 08:56:00,11.0,8.0,1000.0,11500.0,5805028000001350049,NaN,NaN,2023-07-08,NaN
21586,5805028000000947046,Oliver Taylor,NaT,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,"71 days, 0:46:22",b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11.0,11.0,1000.0,11000.0,5805028000000939010,NaN,NaN,2023-07-04,NaN

In [173]:
# difference mode for 'Payment Done' statuses

most_paydone_diff = deals_df.loc[deals_df['Stage'] == 'Payment Done', 'Date Diff'].mode()[0]
most_paydone_diff

np.float64(8.0)

In [174]:
# fill Closing Date with Date Diff mode for 'Payment Done' statuses

paydone_mask = (deals_df['Stage'] == 'Payment Done') & deals_df['Closing Date'].isna()
deals_df.loc[paydone_mask, 'Closing Date'] = (
    deals_df.loc[paydone_mask, 'Created Date'] + pd.to_timedelta(most_paydone_diff, unit='D') # to_timedelta - converts the most_lost_diff value (a number, for example, 5) to a time interval (Timedelta type) in days.
)

In [175]:
# check that there are no deals left with empty 'Closing Date' and Stage == 'Payment Done'

deals_df[(deals_df['Closing Date'].isna()) & (deals_df['Stage'] == 'Payment Done')]

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Date Diff]
Index: []

In [176]:
deals_df['Closing Date'].isnull().sum()

np.int64(4726)

In [177]:
deals_df['Quality'].value_counts(dropna=True)

Quality
E - Non Qualified    7634
D - Non Target       6248
C - Low              3459
B - Medium           1564
A - High              432
F                       3
Name: count, dtype: int64

In [178]:
print(deals_df['Quality'].dtype)

object

In [179]:
# since we don't know what category F is, but it may be important, we'll mark it as Unknown
deals_df['Quality'] = deals_df['Quality'].replace('F', 'F - Unknown')

In [180]:
deals_df['Quality'].value_counts(dropna=True)

Quality
E - Non Qualified    7634
D - Non Target       6248
C - Low              3459
B - Medium           1564
A - High              432
F - Unknown             3
Name: count, dtype: int64

In [181]:
# change the type to categorical

deals_df['Quality'] = deals_df['Quality'].astype('category')
print(deals_df['Quality'].dtype)

category

In [259]:
deals_df['Quality'].isna().sum()

np.int64(2253)

In [182]:
deals_df['Stage'].value_counts()

Stage
Lost                         15743
Call Delayed                  2248
Registered on Webinar         2072
Payment Done                   858
Waiting For Payment            325
Qualificated                   128
Registered on Offline Day      100
Need to Call - Sales            33
Need To Call                    31
Test Sent                       25
Need a consultation             23
New Lead                         6
Free Education                   1
Name: count, dtype: int64

In [183]:
# change the type to categorical

deals_df['Stage'] = deals_df['Stage'].astype('category')
print(deals_df['Stage'].dtype)

category

In [184]:
deals_df['Lost Reason'].value_counts(dropna=True)

Lost Reason
Doesn't Answer                             4135
Changed Decision                           2146
Duplicate                                  1771
Non target                                 1761
Stopped Answering                          1588
Invalid number                             1481
needs time to think                         655
Expensive                                   626
Conditions are not suitable                 531
Next stream                                 288
Inadequate                                  176
Gutstein refusal                            172
Considering a different direction in IT     148
Not for myself                              145
Does not speak English                      138
Didn't leave an application                 133
Thought for free                            110
Does not know how to use a computer          50
Went to Rivals                               48
The contract did not fit                     21
Refugee                                       1
Name: count, dtype: int64

In [185]:
# change the type to categorical

deals_df['Lost Reason'] = deals_df['Lost Reason'].astype('category')
print(deals_df['Lost Reason'].dtype)

category

In [186]:
deals_df['Page'].value_counts(dropna=True)

Page
/eng                         5814
eng/digital-marketing        4552
/eng/test                    2996
/workshop                    1162
/webinar                     1130
/direct                      1076
/eng/ux-ui                   1058
/web-developer                658
/email                        462
/pl-eng                       446
/event                        325
/at-eng                       224
/account                      116
eng/web-developer             105
/pl-eng/web-developer          94
/test                          42
/at-end/web-developer          37
/eng/career                    36
/digital-marketing             33
/offer                         27
/specialoffer                  25
/pl-eng/digital-marketing      21
/at-eng/digital-marketing      19
/ppc                           12
/smm                           11
/ux-ui                          9
/course                         7
/at-ru/ux/ui                    7
/pl-eng/ux-ui                   2
/page                           2
/at/digital-marketing           1
/welcomepage                    1
/page1                          1
Name: count, dtype: int64

In [187]:
deals_df['Campaign'].value_counts(dropna=True)

Campaign
performancemax_digitalmarkt_ru_DE    2653
youtube_shorts_DE                    1635
12.07.2023wide_DE                    1575
02.07.23wide_DE                       975
04.07.23recentlymoved_DE              750
                                     ...
women_DE                                1
anuta_DE                                1
grad_DE                                 1
comp_search_DE                          1
marue_DE                                1
Name: count, Length: 154, dtype: int64

In [189]:
print(deals_df['SLA'].dtype)

object

In [190]:
deals_df[deals_df['SLA'].notna()].head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaN,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,NaN,NaN,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaN,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6.0,NaN,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0

In [191]:
# change the type to Timedelta

import datetime

def time_to_timedelta(x):
    if pd.isna(x):
        return pd.NaT
    if isinstance(x, datetime.time):
        return pd.Timedelta(hours=x.hour, minutes=x.minute, seconds=x.second)
    # If it's already a line or something else, we try directly
    try:
        return pd.to_timedelta(x)
    except:
        return pd.NaT

deals_df['SLA'] = deals_df['SLA'].apply(time_to_timedelta)

In [192]:
print(deals_df['SLA'].dtype)

timedelta64[ns]

In [193]:
deals_df[deals_df['SLA'].notna()].head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,NaN,NaN,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,NaN,NaN,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,NaN,NaN,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0
5,5805028000056828429,Paula Underwood,NaT,NaN,Need a consultation,NaN,/eng,youtube_shorts_DE,0 days 01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,NaN,NaN,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN
7,5805028000056849262,Eva Kent,NaT,NaN,Need a consultation,NaN,/eng,brand_search_eng_DE,0 days 02:12:29,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-06-21 12:44:00,NaN,NaN,NaN,NaN,5805028000056833242,NaN,NaN,2024-06-21,NaN

In [194]:
print(deals_df['Source'].dtype)

object

In [195]:
deals_df['Source'].value_counts(dropna=True)

Source
Facebook Ads      4850
Google Ads        4226
Organic           2590
Tiktok Ads        2051
SMM               1730
Youtube Ads       1657
CRM               1656
Bloggers          1089
Telegram posts    1001
Webinar            379
Partnership        203
Test               159
Offline              2
Name: count, dtype: int64

In [196]:
# change the type to categorical

deals_df['Source'] = deals_df['Source'].astype('category')
print(deals_df['Source'].dtype)

category

In [197]:
print(deals_df['Payment Type'].dtype)

object

In [198]:
deals_df['Payment Type'].value_counts(dropna=True)

Payment Type
Recurring Payments    350
One Payment           141
Reservation             5
Name: count, dtype: int64

In [200]:
# change the type to categorical

deals_df['Payment Type'] = deals_df['Payment Type'].astype('category')
print(deals_df['Payment Type'].dtype)

category

In [201]:
print(deals_df['Product'].dtype)

object

In [202]:
deals_df['Product'].value_counts(dropna=True)

Product
Digital Marketing      1990
UX/UI Design           1022
Web Developer           575
Find yourself in IT       4
Data Analytics            1
Name: count, dtype: int64

In [203]:
# change the type to categorical

deals_df['Product'] = deals_df['Product'].astype('category')
print(deals_df['Product'].dtype)

category

In [204]:
print(deals_df['Education Type'].dtype)

object

In [205]:
deals_df['Education Type'].value_counts(dropna=True)

Education Type
Morning    2895
Evening     404
Name: count, dtype: int64

In [206]:
# change the type to categorical

deals_df['Education Type'] = deals_df['Education Type'].astype('category')
print(deals_df['Education Type'].dtype)

category

In [207]:
print(deals_df['Course duration'].dtype)

float64

In [208]:
deals_df['Course duration'].value_counts(dropna=True)

Course duration
11.0    3012
6.0      575
Name: count, dtype: int64

In [209]:
# change the type to integer

deals_df['Course duration'] = deals_df['Course duration'].astype('Int64')
print(deals_df['Course duration'].dtype)

Int64

In [211]:
print(deals_df['Months of study'].dtype)

float64

In [212]:
deals_df['Months of study'].value_counts(dropna=True)

Months of study
6.0     107
2.0     104
3.0      94
4.0      93
8.0      83
7.0      79
1.0      67
5.0      64
9.0      61
11.0     45
10.0     42
0.0       1
Name: count, dtype: int64

In [213]:
# change the type to integer

deals_df['Months of study'] = deals_df['Months of study'].astype('Int64')
print(deals_df['Months of study'].dtype)

Int64

In [215]:
# Number of unique values Contact Name
print("unique Id:", deals_df['Id'].nunique())
print("unique Contact Name:", deals_df['Contact Name'].nunique())

# check if there are multiple deals for one Contact Name
print("\nTop 5 Contact Name with some deals:")
print(deals_df['Contact Name'].value_counts().head())

unique Id: 21593
unique Contact Name: 18089

Top 5 Contact Name with some deals:
Contact Name
5805028000003014152    54
5805028000005448163    39
5805028000017522090    19
5805028000014478367    13
5805028000000872003    11
Name: count, dtype: int64

Let's assume that the deal's quality depends on the following parameters: 'Initial Amount Paid', 'Stage', 'Created Date', 'Closing Date', 'Quality', 'Source'.
Based on these parameters, we will determine whether the deal is closed and how long it lasted. Let's try to predict empty values in the 'Quality' parameter based on known values

In [261]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, accuracy_score
from datetime import datetime

# Copy the required columns
df_quality_model = deals_df[['Initial Amount Paid', 'Stage', 'Created Date', 'Closing Date', 'Quality', 'Source']].copy()

# Create a binary feature "Is Closed"
df_quality_model['Is Closed'] = df_quality_model['Closing Date'].notna().astype(int)

# Sign: how many days since the beginning of observation
df_quality_model['Created Days'] = (df_quality_model['Created Date'] - df_quality_model['Created Date'].min()).dt.days

# Feature: deal duration
today = pd.to_datetime(datetime.today().date())
df_quality_model['Deal Duration'] = (df_quality_model['Closing Date'] - df_quality_model['Created Date']).dt.days
df_quality_model['Deal Duration'] = df_quality_model['Deal Duration'].fillna(
    (today - df_quality_model['Created Date']).dt.days
)

# Encoding categorical variables
df_dummies = pd.get_dummies(df_quality_model[['Stage', 'Source']], prefix=['Stage', 'Source'])

# Combining the features
features = pd.concat([
    df_quality_model[['Initial Amount Paid', 'Is Closed', 'Created Days', 'Deal Duration']],
    df_dummies
], axis=1)

# divide it into training and predictable parts
df_train = df_quality_model[df_quality_model['Quality'].notna()].copy()
df_predict = df_quality_model[df_quality_model['Quality'].isna()].copy()

X = features.loc[df_train.index]
y = df_train['Quality']
X_pred = features.loc[df_predict.index]

# divide into training and test samples
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# Creating a model
model = DecisionTreeClassifier(
    max_depth=10,
    min_samples_leaf=10,
    class_weight='balanced',
    random_state=42
)

# training
model.fit(X_train, y_train)

# Predictions and assessment
y_pred = model.predict(X_test)

print(f"Accuracy: {accuracy_score(y_test, y_pred):.2f}")
print("Classification report:")
print(classification_report(y_test, y_pred, zero_division=0))

Accuracy: 0.52
Classification report:
                   precision    recall  f1-score   support

         A - High       0.10      0.50      0.17        86
       B - Medium       0.30      0.38      0.33       312
          C - Low       0.34      0.25      0.29       691
   D - Non Target       0.66      0.46      0.54      1246
E - Non Qualified       0.68      0.73      0.70      1497
      F - Unknown       0.00      0.00      0.00         0

         accuracy                           0.52      3832
        macro avg       0.35      0.39      0.34      3832
     weighted avg       0.57      0.52      0.53      3832

Due to the fact that we got quite low accuracy, it was decided not to fill the 'Quality' parameter with this data. Trying other parameters also didn't show good results. Probably too little data to get a model with good accuracy.

### Cleaning duplicates 'Contact Name'

In [216]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,<NA>,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,<NA>,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,<NA>,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,<NA>,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,<NA>,<NA>,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.0
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,<NA>,<NA>,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.0
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,56 days 19:01:59,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:39:00,<NA>,<NA>,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03,57.0
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,<NA>,<NA>,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.0
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,4 days 22:47:14,NaN,NaN,Organic,NaN,NaN,NaN,2023-07-03 17:03:00,<NA>,<NA>,NaN,NaN,5805028000001009140,NaN,NaN,2023-07-03,0.0

In [218]:
# display duplicates for 'Contact Name'

duplicates_cm = deals_df[deals_df.duplicated(subset=['Contact Name'])]
duplicates_cm

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
44,5805028000056703432,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:34:00,<NA>,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
46,5805028000056741308,Paula Underwood,NaT,NaN,Registered on Webinar,NaN,/webinar,NaN,NaT,NaN,NaN,SMM,NaN,NaN,NaN,2024-06-20 16:50:00,<NA>,<NA>,NaN,NaN,5805028000056685457,NaN,NaN,2024-06-20,NaN
55,5805028000056704066,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:50:00,<NA>,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,NaN,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,<NA>,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-19,0.0
170,5805028000056158285,Ben Hall,NaT,D - Non Target,Call Delayed,NaN,/eng,12.07.2023wide_DE,0 days 00:13:56,bloggersvideo11,wide,Tiktok Ads,NaN,NaN,NaN,2024-06-18 15:13:00,<NA>,<NA>,NaN,NaN,5805028000056174445,NaN,NaN,2024-06-18,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21585,5805028000000935081,Julia Nelson,NaT,D - Non Target,Call Delayed,NaN,eng/digital-marketing,03.07.23women,70 days 23:12:53,b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 11:46:00,11,<NA>,1000.0,11500.0,5805028000000971007,NaN,NaN,2023-07-04,NaN
21586,5805028000000947046,Oliver Taylor,2023-07-12,B - Medium,Payment Done,NaN,eng/digital-marketing,02.07.23wide_DE,71 days 00:46:22,b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-04 10:11:00,11,11,1000.0,11000.0,5805028000000939010,NaN,NaN,2023-07-04,NaN
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,<NA>,<NA>,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.0
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,<NA>,<NA>,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.0
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-03 20:17:00,<NA>,<NA>,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.0

In [220]:
deals_df[deals_df['Contact Name']=='5805028000004115323']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
20698,5805028000004112371,Bob Brown,2023-08-08,F - Unknown,Lost,Duplicate,/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-08 20:52:00,<NA>,<NA>,NaN,NaN,5805028000004115323,NaN,NaN,2023-08-08,NaN
20699,5805028000004130362,Bob Brown,2023-08-08,F - Unknown,Lost,Duplicate,/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-08 20:48:00,<NA>,<NA>,500.0,3000.0,5805028000004115323,NaN,NaN,2023-08-08,NaN

In [221]:
deals_df[deals_df['Contact Name']=='5805028000056392363']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
54,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,<NA>,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,NaN,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,<NA>,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-19,0.0

In [223]:
# Filter the lines where 'Stage' == 'Lost' & 'Lost Reason' == 'Duplicate' to make sure we don't delete duplicates 
# in other statuses that are correct and mean that one client may have multiple active or closed deals
lost_duplicate_df = deals_df[
    (deals_df['Stage'] == 'Lost') &
    (deals_df['Lost Reason'] == 'Duplicate') &
    (deals_df['Contact Name'].notna())
]
lost_duplicate_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
8,5805028000056845137,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:40:00,<NA>,<NA>,NaN,NaN,5805028000056849237,NaN,NaN,2024-06-21,0.0
10,5805028000056892253,Ulysses Adams,2024-06-21,E - Non Qualified,Lost,Duplicate,/webinar,NaN,NaT,NaN,NaN,Webinar,NaN,NaN,NaN,2024-06-21 12:32:00,<NA>,<NA>,NaN,NaN,5805028000056828292,NaN,NaN,2024-06-21,0.0
16,5805028000056828139,Rachel White,2024-06-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 11:44:00,<NA>,<NA>,NaN,NaN,5805028000056824095,NaN,NaN,2024-06-21,0.0
43,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,<NA>,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
44,5805028000056703432,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:34:00,<NA>,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21552,5805028000001348003,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,05.07.23interests_DE,NaT,b3,interest_work,Facebook Ads,NaN,NaN,NaN,2023-07-08 09:39:00,<NA>,<NA>,NaN,NaN,5805028000001387008,NaN,NaN,2023-07-08,0.0
21569,5805028000001135001,Ian Miller,2023-07-21,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,0 days 00:00:53,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-06 15:43:00,<NA>,<NA>,NaN,NaN,5805028000001129001,NaN,NaN,2023-07-06,15.0
21575,5805028000001037050,Jane Smith,2023-07-06,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-05 21:36:00,<NA>,<NA>,NaN,NaN,5805028000001033019,NaN,NaN,2023-07-05,1.0
21579,5805028000001032016,Kevin Parker,2023-07-05,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-05 18:05:00,<NA>,<NA>,NaN,NaN,5805028000001073001,NaN,NaN,2023-07-05,0.0
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,women,Facebook Ads,NaN,NaN,NaN,2023-07-04 07:10:00,<NA>,<NA>,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.0

In [224]:
# Which Contact Names occur more than once:

duplicate_count = lost_duplicate_df['Contact Name'].value_counts()
duplicate_count

Contact Name
5805028000003014152    30
5805028000005448163    14
5805028000017522090    13
5805028000014478367     7
5805028000003547139     4
                       ..
5805028000001770097     1
5805028000001799036     1
5805028000001726065     1
5805028000001653078     1
5805028000000979006     1
Name: count, Length: 1550, dtype: int64

In [225]:
# select only those Contact Names that occur more than once:

duplicate_ids_more_one = duplicate_count[duplicate_count > 1].index.tolist()
duplicate_ids_more_one

['5805028000003014152',
 '5805028000005448163',
 '5805028000017522090',
 '5805028000014478367',
 '5805028000003547139',
 '5805028000012657064',
 '5805028000009549838',
 '5805028000032929005',
 '5805028000036951161',
 '5805028000056727001',
 '5805028000020284809',
 '5805028000039641666',
 '5805028000034928040',
 '5805028000004561698',
 '5805028000007265128',
 '5805028000010772151',
 '5805028000008185001',
 '5805028000004130208',
 '5805028000000872003',
 '5805028000020500029',
 '5805028000034915028',
 '5805028000039257080',
 '5805028000002150769',
 '5805028000001552025',
 '5805028000053705642',
 '5805028000011727058',
 '5805028000001401189',
 '5805028000018547198',
 '5805028000026728113',
 '5805028000049855125',
 '5805028000029943763',
 '5805028000001347038',
 '5805028000001347003',
 '5805028000027427115',
 '5805028000042651854',
 '5805028000028292027',
 '5805028000035509687',
 '5805028000046314814',
 '5805028000003466064',
 '5805028000028445257',
 '5805028000028006930',
 '5805028000020158330',
 '5805028000044209042',
 '5805028000039263164',
 '5805028000054480760',
 '5805028000028545845',
 '5805028000009923261',
 '5805028000034891733',
 '5805028000031077166',
 '5805028000010054176',
 '5805028000035374402',
 '5805028000028586271',
 '5805028000003434035',
 '5805028000007649149',
 '5805028000002926308',
 '5805028000022945582',
 '5805028000027986741',
 '5805028000040705671',
 '5805028000023867610',
 '5805028000013047677',
 '5805028000037284428',
 '5805028000020487635',
 '5805028000010410658',
 '5805028000042833248',
 '5805028000014325023',
 '5805028000025508298',
 '5805028000013039197',
 '5805028000024640104',
 '5805028000024373568',
 '5805028000024292204',
 '5805028000022709025',
 '5805028000002799040',
 '5805028000018056036',
 '5805028000020773949',
 '5805028000009786140',
 '5805028000020498447',
 '5805028000004572383',
 '5805028000019915422',
 '5805028000018983573',
 '5805028000014494074',
 '5805028000005124061',
 '5805028000004110587',
 '5805028000014092677',
 '5805028000009547964',
 '5805028000014497066',
 '5805028000014497110',
 '5805028000014092053',
 '5805028000004602724',
 '5805028000056392363',
 '5805028000009682314',
 '5805028000005107022',
 '5805028000008982320',
 '5805028000008983444',
 '5805028000008647030',
 '5805028000008575236',
 '5805028000033674083',
 '5805028000006278100',
 '5805028000007876249',
 '5805028000005254908',
 '5805028000005195439',
 '5805028000003456259',
 '5805028000003147208',
 '5805028000000889001',
 '5805028000004115323',
 '5805028000004336357',
 '5805028000049197176',
 '5805028000019420803',
 '5805028000001805007']

In [226]:
len(duplicate_ids_more_one)

108

In [227]:
# select only those Contact Names in statuses 'Stage' == 'Lost' & 'Lost Reason' == 'Duplicate' and occur more than once:

duplicates_contact_name = lost_duplicate_df[lost_duplicate_df['Contact Name'].isin(duplicate_ids_more_one)]
duplicates_contact_name

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
43,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,<NA>,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
44,5805028000056703432,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:34:00,<NA>,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
54,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,<NA>,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0
55,5805028000056704066,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:50:00,<NA>,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,NaN,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,<NA>,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-19,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21514,5805028000001363318,Kevin Parker,2023-07-11,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-10 23:40:00,<NA>,<NA>,NaN,NaN,5805028000001401189,NaN,NaN,2023-07-10,1.0
21546,5805028000001405002,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 13:29:00,<NA>,<NA>,NaN,NaN,5805028000001347038,NaN,NaN,2023-07-08,0.0
21547,5805028000001375082,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 13:29:00,<NA>,<NA>,NaN,NaN,5805028000001347038,NaN,NaN,2023-07-08,0.0
21548,5805028000001369097,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:39:00,<NA>,<NA>,NaN,NaN,5805028000001347003,NaN,NaN,2023-07-08,0.0
21549,5805028000001355009,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:39:00,<NA>,<NA>,NaN,NaN,5805028000001347003,NaN,NaN,2023-07-08,0.0

In [228]:
duplicates_contact_name['Product'].notna().sum()

np.int64(12)

In [229]:
duplicates_contact_name[duplicates_contact_name['Product'].notna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
2323,5805028000050901050,Victor Barnes,2024-05-20,D - Non Target,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,Digital Marketing,Evening,2024-05-20 10:40:00,11,<NA>,1000.0,11000.0,5805028000034915028,NaN,NaN,2024-05-20,NaN
4522,5805028000045242015,Ulysses Adams,2024-04-22,D - Non Target,Lost,Duplicate,/email,2004start,0 days 09:43:24,NaN,NaN,CRM,NaN,UX/UI Design,NaN,2024-04-20 00:18:00,11,<NA>,NaN,NaN,5805028000003434035,NaN,NaN,2024-04-20,2.0
4527,5805028000045051952,Ulysses Adams,2024-04-20,D - Non Target,Lost,Duplicate,/email,2004start,0 days 11:35:16,NaN,NaN,CRM,NaN,Web Developer,NaN,2024-04-19 22:38:00,6,<NA>,NaN,NaN,5805028000007649149,NaN,NaN,2024-04-19,1.0
7098,5805028000040125213,Charlie Davis,2024-03-27,E - Non Qualified,Lost,Duplicate,/pl-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-03-27 18:55:00,6,<NA>,NaN,NaN,5805028000017522090,NaN,NaN,2024-03-27,0.0
8021,5805028000037535714,Charlie Davis,2024-03-15,D - Non Target,Lost,Duplicate,/specialoffer,web8_DE,NaT,NaN,NaN,Webinar,NaN,Web Developer,Morning,2024-03-15 05:47:00,6,<NA>,1000.0,9000.0,5805028000028292027,NaN,NaN,2024-03-15,0.0
11104,5805028000029573654,Julia Nelson,2024-02-01,C - Low,Lost,Duplicate,/web-developer,NaN,0 days 00:54:01,NaN,NaN,Organic,One Payment,Web Developer,Morning,2024-02-01 18:53:00,6,<NA>,3000.0,2500.0,5805028000013047677,NaN,NaN,2024-02-01,0.0
15562,5805028000018413624,Paula Underwood,2023-11-24,E - Non Qualified,Lost,Duplicate,/offer,web2211_DE,0 days 09:21:57,mail_to_reg,22_11_2023,Webinar,NaN,Digital Marketing,Morning,2023-11-23 00:30:00,11,<NA>,1000.0,11000.0,5805028000014494074,NaN,NaN,2023-11-23,1.0
15815,5805028000018080013,Rachel White,2023-11-21,E - Non Qualified,Lost,Duplicate,/workshop,web2211_DE,8 days 01:51:43,NaN,NaN,Webinar,NaN,Digital Marketing,Morning,2023-11-21 09:03:00,11,<NA>,11000.0,11000.0,5805028000018056036,NaN,NaN,2023-11-21,NaN
16290,5805028000017545187,Julia Nelson,2024-02-09,D - Non Target,Lost,Duplicate,/workshop,NaN,5 days 15:11:26,NaN,allthinking lost,Webinar,NaN,Digital Marketing,Evening,2023-11-17 19:21:00,11,<NA>,NaN,NaN,5805028000014092677,NaN,NaN,2023-11-17,84.0
19359,5805028000008038013,Diana Evans,2023-09-28,C - Low,Lost,Duplicate,/eng/test,NaN,0 days 00:22:49,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2023-09-18 19:25:00,11,<NA>,1000.0,11000.0,5805028000006278100,NaN,NaN,2023-09-18,10.0
19464,5805028000007843309,Kevin Parker,2023-09-15,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,15.07.23b_DE,0 days 00:51:41,b7,b,Facebook Ads,NaN,Digital Marketing,NaN,2023-09-15 19:15:00,11,<NA>,NaN,NaN,5805028000007876249,NaN,NaN,2023-09-15,0.0
20717,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,NaN,NaN,13 days 23:40:53,NaN,NaN,Organic,One Payment,Web Developer,Morning,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,5805028000000872003,NaN,NaN,2023-08-08,NaN

In [230]:
duplicates_contact_name[duplicates_contact_name['Contact Name']=='5805028000056392363']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
54,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,<NA>,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0
90,5805028000056368560,Ulysses Adams,2024-06-19,E - Non Qualified,Lost,Duplicate,NaN,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-19 13:41:00,<NA>,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-19,0.0

In [231]:
duplicates_contact_name[duplicates_contact_name['Contact Name']=='5805028000004115323']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
20698,5805028000004112371,Bob Brown,2023-08-08,F - Unknown,Lost,Duplicate,/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-08 20:52:00,<NA>,<NA>,NaN,NaN,5805028000004115323,NaN,NaN,2023-08-08,NaN
20699,5805028000004130362,Bob Brown,2023-08-08,F - Unknown,Lost,Duplicate,/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-08 20:48:00,<NA>,<NA>,500.0,3000.0,5805028000004115323,NaN,NaN,2023-08-08,NaN

In [232]:
# Leave only one line for each duplicate ID - the most recent one:
latest_duplicates_contact = (duplicates_contact_name.sort_values('Created Time').groupby('Contact Name', as_index=False).last())

In [233]:
#Let's check corectness of groupby for one Contact Name

latest_duplicates_contact[latest_duplicates_contact['Contact Name']=='5805028000056392363']

,Contact Name,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,City,Level of Deutsch,Created Date,Date Diff
106,5805028000056392363,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,None,0 days 00:01:46,None,None,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,<NA>,<NA>,NaN,NaN,None,None,2024-06-20,0.0

In [234]:
#Let's check corectness of groupby for one Contact Name

latest_duplicates_contact[latest_duplicates_contact['Contact Name']=='5805028000004115323']

,Contact Name,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,City,Level of Deutsch,Created Date,Date Diff
17,5805028000004115323,5805028000004112371,Bob Brown,2023-08-08,F - Unknown,Lost,Duplicate,/test,None,NaT,None,None,Organic,NaN,NaN,NaN,2023-08-08 20:52:00,<NA>,<NA>,500.0,3000.0,None,None,2023-08-08,NaN

In [235]:
latest_duplicates_contact

,Contact Name,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,City,Level of Deutsch,Created Date,Date Diff
0,5805028000000872003,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,/test,04.07.23recentlymoved_DE,13 days 23:40:53,v7com,recentlymoved,Organic,One Payment,Web Developer,Morning,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,None,None,2023-08-08,5.0
1,5805028000000889001,5805028000005168087,Bob Brown,2023-10-26,E - Non Qualified,Lost,Duplicate,/workshop,None,NaT,None,None,Organic,NaN,NaN,NaN,2023-08-18 21:35:00,<NA>,<NA>,NaN,NaN,None,None,2023-08-18,69.0
2,5805028000001347003,5805028000001369097,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,None,Google Ads,NaN,NaN,NaN,2023-07-08 11:39:00,<NA>,<NA>,NaN,NaN,None,None,2023-07-08,0.0
3,5805028000001347038,5805028000001375082,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,None,Google Ads,NaN,NaN,NaN,2023-07-08 13:29:00,<NA>,<NA>,NaN,NaN,None,None,2023-07-08,0.0
4,5805028000001401189,5805028000001387193,Kevin Parker,2023-07-13,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-11 00:17:00,<NA>,<NA>,NaN,NaN,None,None,2023-07-11,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
103,5805028000049855125,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,None,0 days 05:35:41,None,None,Organic,NaN,NaN,NaN,2024-05-15 08:50:00,<NA>,<NA>,NaN,NaN,None,None,2024-05-15,0.0
104,5805028000053705642,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,None,NaT,None,None,Organic,NaN,NaN,NaN,2024-06-06 18:45:00,<NA>,<NA>,NaN,NaN,None,None,2024-06-06,0.0
105,5805028000054480760,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_DE,0 days 04:30:17,152789402780_{region_name}_668024583824,it hub,Organic,NaN,NaN,NaN,2024-06-12 05:46:00,<NA>,<NA>,NaN,NaN,None,None,2024-06-12,0.0
106,5805028000056392363,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,None,0 days 00:01:46,None,None,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,<NA>,<NA>,NaN,NaN,None,None,2024-06-20,0.0
107,5805028000056727001,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,None,NaT,None,None,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,<NA>,<NA>,NaN,NaN,None,None,2024-06-20,0.0

In [236]:
# Before removing duplicates: since we are grouping by the most recent row with data, some data that was missing in the new row but was in the old 
# one may be deleted. To do this, we will run through all the parameters and transfer them to the new row if it is empty. 
# However, we will take Source strictly from the earliest row in time, since we are interested in where the client originally came from
# Before removing duplicates, let's move some important values from duplicates to the rows we'll keep.
import numpy as np

# First, we sort by time
sorted_df = duplicates_contact_name.sort_values('Created Time')

# Specify for each column 
aggregated_contacts = (
    sorted_df
    .groupby('Contact Name')
    .agg(lambda x: (
        x.iloc[0] if x.name == 'Source'  # for Source - the first value (earlier in time)
        else (
            x.dropna()[x.dropna() != 0].iloc[-1]  # last non-zero
            if not x.dropna()[x.dropna() != 0].empty
            else x.dropna().iloc[-1]              # or the last non-empty
            if not x.dropna().empty
            else np.nan                           # otherwise NaN
        )
    ))
    .reset_index()
)

In [237]:
aggregated_contacts[aggregated_contacts['Contact Name']=='5805028000004115323']

,Contact Name,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,City,Level of Deutsch,Created Date,Date Diff
17,5805028000004115323,5805028000004112371,Bob Brown,2023-08-08,F - Unknown,Lost,Duplicate,/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-08 20:52:00,<NA>,<NA>,500.0,3000.0,NaN,NaN,2023-08-08,NaN

In [238]:
aggregated_contacts[aggregated_contacts['Contact Name']=='5805028000056392363']

,Contact Name,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,City,Level of Deutsch,Created Date,Date Diff
106,5805028000056392363,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,<NA>,<NA>,NaN,NaN,NaN,NaN,2024-06-20,0.0

In [241]:
# Return the order of columns in aggregated_contacts to deals_df, since the order was lost after groupings

aggregated_contacts = aggregated_contacts[deals_df.columns]
aggregated_contacts.head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,/test,04.07.23recentlymoved_DE,13 days 23:40:53,v7com,recentlymoved,Facebook Ads,One Payment,Web Developer,Morning,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,5805028000000872003,NaN,NaN,2023-08-08,5.0
1,5805028000005168087,Bob Brown,2023-10-26,E - Non Qualified,Lost,Duplicate,/workshop,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-18 21:35:00,<NA>,<NA>,NaN,NaN,5805028000000889001,NaN,NaN,2023-08-18,69.0
2,5805028000001369097,Bob Brown,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 11:39:00,<NA>,<NA>,NaN,NaN,5805028000001347003,NaN,NaN,2023-07-08,0.0
3,5805028000001375082,Kevin Parker,2023-07-08,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-07-08 13:29:00,<NA>,<NA>,NaN,NaN,5805028000001347038,NaN,NaN,2023-07-08,0.0
4,5805028000001387193,Kevin Parker,2023-07-13,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,02.07.23wide_DE,NaT,b3,wide,Facebook Ads,NaN,NaN,NaN,2023-07-11 00:17:00,<NA>,<NA>,NaN,NaN,5805028000001401189,NaN,NaN,2023-07-11,2.0

In [242]:
aggregated_contacts[aggregated_contacts['Contact Name']=='5805028000000872003']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,/test,04.07.23recentlymoved_DE,13 days 23:40:53,v7com,recentlymoved,Facebook Ads,One Payment,Web Developer,Morning,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,5805028000000872003,NaN,NaN,2023-08-08,5.0

In [243]:
# Delete old lines with these Contact Name

mask_to_remove = (
    (deals_df['Stage'] == 'Lost') &
    (deals_df['Lost Reason'] == 'Duplicate') &
    (deals_df['Contact Name'].isin(duplicate_ids_more_one))
)
deals_df = deals_df[~mask_to_remove].copy()
deals_df.shape[0]

21303

In [245]:
# There are not lines and it's correct:

deals_df[deals_df['Contact Name']=='5805028000056392363']

Empty DataFrame
Columns: [Id, Deal Owner Name, Closing Date, Quality, Stage, Lost Reason, Page, Campaign, SLA, Content, Term, Source, Payment Type, Product, Education Type, Created Time, Course duration, Months of study, Initial Amount Paid, Offer Total Amount, Contact Name, City, Level of Deutsch, Created Date, Date Diff]
Index: []

In [247]:
# Adding cleared aggregated rows. Gluing without resetting indexes

deals_df = pd.concat([deals_df, aggregated_contacts], ignore_index=True)
deals_df.shape[0]

21411

In [248]:
# Line is appeared:

deals_df[deals_df['Contact Name']=='5805028000056392363']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,<NA>,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0

In [249]:
deals_df[deals_df['Contact Name']=='5805028000004115323']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
21320,5805028000004112371,Bob Brown,2023-08-08,F - Unknown,Lost,Duplicate,/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-08 20:52:00,<NA>,<NA>,500.0,3000.0,5805028000004115323,NaN,NaN,2023-08-08,NaN

In [250]:
# Check that other lines with the same Contact Name in other status aren't deleted and one line from duplicate in [Lost Reason] == 'Duplicate' is displayed

deals_df[deals_df['Contact Name']=='5805028000000872003']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
16190,5805028000017300107,John Doe,NaT,NaN,Registered on Webinar,NaN,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-11-16 17:41:00,<NA>,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-11-16,NaN
20104,5805028000005155037,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,NaN,Organic,NaN,Digital Marketing,Evening,2023-08-18 20:48:00,11,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20105,5805028000005178088,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-18 20:46:00,<NA>,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20107,5805028000005176076,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,NaN,Organic,NaN,Digital Marketing,Evening,2023-08-18 20:22:00,11,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20108,5805028000005180061,John Doe,NaT,E - Non Qualified,Registered on Webinar,NaN,/workshop,NaN,3 days 18:22:35,NaN,NaN,Organic,Recurring Payments,UX/UI Design,Morning,2023-08-18 19:58:00,11,<NA>,100.0,4000.0,5805028000000872003,NaN,NaN,2023-08-18,NaN
20109,5805028000005174051,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2023-08-18 19:54:00,<NA>,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20110,5805028000005168037,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,web2408_DE,NaT,NaN,allcomlost,CRM,NaN,NaN,NaN,2023-08-18 19:45:00,<NA>,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
20111,5805028000005176025,John Doe,NaT,NaN,Registered on Webinar,NaN,/workshop,web2408_DE,NaT,NaN,allcomlost,CRM,NaN,NaN,NaN,2023-08-18 19:42:00,<NA>,<NA>,NaN,NaN,5805028000000872003,NaN,NaN,2023-08-18,NaN
21303,5805028000004111157,John Doe,2023-08-08,C - Low,Lost,Duplicate,/test,04.07.23recentlymoved_DE,13 days 23:40:53,v7com,recentlymoved,Facebook Ads,One Payment,Web Developer,Morning,2023-08-08 14:40:00,6,<NA>,3500.0,3500.0,5805028000000872003,NaN,NaN,2023-08-08,5.0

In [252]:
# List of Contact Names we removed:
removed_contact_names = deals_df[
    (deals_df['Stage'] == 'Lost') &
    (deals_df['Lost Reason'] == 'Duplicate') &
    (deals_df['Contact Name'].isin(duplicate_ids_more_one))
]['Contact Name'].unique()
len(removed_contact_names)

108

In [253]:
# List of Contact Names returned in deals_df by aggregated_contacts
aggregated_contact_names = aggregated_contacts['Contact Name'].unique()
len(aggregated_contact_names)

108

In [254]:
# Let's compare who is missing:
missing_contacts = set(removed_contact_names) - set(aggregated_contact_names)
len(missing_contacts)  # How much is lost?

0

In [255]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,<NA>,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,<NA>,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,<NA>,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,<NA>,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,NaN,NaN,Organic,NaN,NaN,NaN,2024-05-15 08:50:00,<NA>,<NA>,NaN,NaN,5805028000049855125,NaN,NaN,2024-05-15,0.0
21407,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-06 18:45:00,<NA>,<NA>,NaN,NaN,5805028000053705642,NaN,NaN,2024-06-06,0.0
21408,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_DE,0 days 04:30:17,152789402780_{region_name}_668024583824,it hub,Google Ads,NaN,NaN,NaN,2024-06-12 05:46:00,<NA>,<NA>,NaN,NaN,5805028000054480760,NaN,NaN,2024-06-12,0.0
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,<NA>,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0
21410,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,<NA>,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0

### Processing 'City' and 'Level of Deutsch'

In [256]:
print(deals_df['City'].dtype)

object

In [258]:
deals_df['City'].nunique()

875

In [263]:
# Check if the city name contains Cyrillic characters
non_latin_cities = deals_df[deals_df['City'].notna() & deals_df['City'].str.contains('[\u0400-\u04FF]', regex=True)]

print(non_latin_cities['City'])

Series([], Name: City, dtype: object)

In [262]:
# search for lines containing commas or numbers, equivalent to the logical OR operator, which finally, if one of these characters is present in the line.

import re

pattern = r'[,\d]'  

mask = deals_df['City'].str.contains(pattern, na=False)
incorrect_cities = deals_df[mask]

print(incorrect_cities['City'].unique())

['Karl-Liebknecht str. 24, Hildburghausen, Thüringen'
 'Poland , Gdansk , Al. Grunwaldzka 7, ap. 1a'
 'Vor Ebersbach 1, 77761 Schiltach']

In [264]:
deals_df[deals_df['City']=='Karl-Liebknecht str. 24, Hildburghausen, Thüringen']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
132,5805028000056242502,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,NaT,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,Digital Marketing,Morning,2024-06-18 18:38:00,11,<NA>,1000.0,11000.0,5805028000056242477,"Karl-Liebknecht str. 24, Hildburghausen, Thüri...",b1,2024-06-18,NaN
517,5805028000055337926,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,0 days 10:22:18,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,UX/UI Design,Morning,2024-06-15 01:15:00,11,<NA>,1000.0,11000.0,5805028000055329808,"Karl-Liebknecht str. 24, Hildburghausen, Thüri...",b1,2024-06-15,NaN

In [265]:
deals_df[deals_df['City']=='Poland , Gdansk , Al. Grunwaldzka 7, ap. 1a']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
488,5805028000055525099,Eva Kent,NaT,B - Medium,Waiting For Payment,NaN,/webinar,webinar1906,4 days 21:19:46,NaN,invitation,Webinar,NaN,Web Developer,Morning,2024-06-15 13:50:00,6,<NA>,100.0,2900.0,5805028000055474262,"Poland , Gdansk , Al. Grunwaldzka 7, ap. 1a",NaN,2024-06-15,NaN

In [267]:
deals_df[deals_df['City']== 'Vor Ebersbach 1, 77761 Schiltach']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
1199,5805028000053993309,Cara Iverson,NaT,C - Low,Waiting For Payment,NaN,NaN,NaN,0 days 15:06:28,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2024-06-07 19:23:00,11,<NA>,11000.0,11000.0,5805028000053993277,"Vor Ebersbach 1, 77761 Schiltach",в1,2024-06-07,NaN

In [269]:
# replace the full address with the city name

deals_df.loc[deals_df['City'] == 'Karl-Liebknecht str. 24, Hildburghausen, Thüringen', 'City'] = 'Hildburghausen'
deals_df.loc[deals_df['City'] == 'Poland , Gdansk , Al. Grunwaldzka 7, ap. 1a', 'City'] = 'Gdansk'
deals_df.loc[deals_df['City'] == 'Vor Ebersbach 1, 77761 Schiltach', 'City'] = 'Schiltach'
deals_df[deals_df['Id'].isin(['5805028000055337926', '5805028000056242502', '5805028000055525099', '5805028000053993309'])]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
132,5805028000056242502,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,NaT,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,Digital Marketing,Morning,2024-06-18 18:38:00,11,<NA>,1000.0,11000.0,5805028000056242477,Hildburghausen,b1,2024-06-18,NaN
488,5805028000055525099,Eva Kent,NaT,B - Medium,Waiting For Payment,NaN,/webinar,webinar1906,4 days 21:19:46,NaN,invitation,Webinar,NaN,Web Developer,Morning,2024-06-15 13:50:00,6,<NA>,100.0,2900.0,5805028000055474262,Gdansk,NaN,2024-06-15,NaN
517,5805028000055337926,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,0 days 10:22:18,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,UX/UI Design,Morning,2024-06-15 01:15:00,11,<NA>,1000.0,11000.0,5805028000055329808,Hildburghausen,b1,2024-06-15,NaN
1199,5805028000053993309,Cara Iverson,NaT,C - Low,Waiting For Payment,NaN,NaN,NaN,0 days 15:06:28,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2024-06-07 19:23:00,11,<NA>,11000.0,11000.0,5805028000053993277,Schiltach,в1,2024-06-07,NaN

In [270]:
# output all unique city names

deals_df['City'].dropna().unique()

array(['Crailsheim', 'Dortmund', 'Stuttgart', 'München', 'Berlin', 'Wien',
       'Offenbach am Main', 'Eberbach', 'Görlitz', 'Pfedelbach',
       'Unterhaching', 'Hildburghausen', 'Rüdesheim am Rhein', 'Dresden',
       'Gummersbach', 'Kassel', 'Wenzenbach', 'Merseburg', 'Gommern',
       'Pommelsbrunn', 'Duisburg', 'Herzogenrath', 'Schwandorf', 'Mainz',
       'Podskalie', 'Zinnowitz', 'Quedlinburg', 'Gdansk', 'Wolfsburg',
       'Weilburg', 'Dillenburg', 'Neu-Ulm', 'Lauter-Bernsbach', 'Bonn',
       'Riedstadt', 'Rosenheim', 'Mönchengladbach', 'Neuburg', 'Rostock',
       'Bad Oeynhausen', 'Chemnitz', 'Diez', 'Nürnberg', 'Laubach',
       'Düren', 'Düsseldorf', 'Zwickau', 'Bremen', 'Halle', 'Erbach',
       'Jünkerath', 'Magdeburg', 'Celle', 'Germering', 'Kleve',
       'Leinfelden-Echterdingen', 'Garmisch-Partenkirchen', 'Leipzig',
       'Hof', 'Lünen', 'Murr', 'Bochum', 'Leonberg',
       'Bad Homburg vor der Höhe', 'Kiel', 'Theres', 'Lüchow', 'Stolberg',
       'Bautzen', 'Weiden', 'Osterode am Harz', 'Schiltach', 'Göppingen',
       'Ansbach', 'Aachen', 'Menden', 'Iserlohn', 'Aying', 'Mannheim',
       'Hamburg', 'Einhausen', 'Minden', 'Igalo', 'Süßen', 'Flensburg',
       'Tönning', 'Aschaffenburg', 'Holzwickede',
       'Villingen‑Schwenningen', 'Ochtrup', 'Klosterlechfeld',
       'Straubing', 'Augsburg', 'Rheine', 'Singen', 'Werl', 'Schweinfurt',
       'Ditzingen', 'Frankfurt', 'Waldbronn',
       'Bad Wildbad im Schwarzwald', 'Essen', 'Weil am Rhein',
       'Lahnstein', 'Osnabrück', 'Lierschied', 'Eggenfelden', 'Trebgast',
       'Verl', 'Wesel', 'Frammersbach', 'Grevesmühlen', 'Perleberg',
       'Michelfeld', 'Stralsund', 'Zeitz', 'Novi Sad', 'Münster',
       'Helmstedt', 'Krefeld', 'Rastatt', 'Detmold', 'Weinstadt',
       'Friedrichshafen', 'Wächtersbach', 'Weißenburg in Bayern',
       'Solingen', 'Worms', 'Schlangen', 'Schwarzenberg', 'Ludwigsburg',
       'Büchen', 'Remscheid', 'Kulmbach', 'Burghausen', 'Meinerzhagen',
       'Torgau', 'Coesfeld', 'Hartmannsdorf', 'Adelschlag', 'Eisenberg',
       'Kehl', 'Delbrück', 'Kempten', 'Marburg', 'Oranienburg', 'Siegen',
       'Castrop-Rauxel', 'Kalkar', 'Würzburg', 'Molsberg', 'Rust',
       'Bad Hersfeld', 'Südlohn', 'Erfurt', 'Wiesenttal', 'Altenstadt',
       'Sankt Leon-Rot', 'Friedrichsdorf', 'Heinsberg', 'Passau',
       'Darmstadt', 'Ruhla', 'Bad Nauheim', 'Bärnau', 'Erftstadt',
       'Arnsberg', 'Pullach im Isartal', 'Gelnhausen',
       'Liederbach am Taunus', 'Gröditz', 'Trier', 'Buxtehude', 'Uelzen',
       'Aldenhoven', 'Lutherstadt Wittenberg', 'Friedenweiler',
       'Witzeeze', 'Neuss', 'Pforzheim', 'Königswinter', 'Northeim',
       'Rohrdorf', 'Filderstadt', 'Übelbach', 'Fürth', 'Kerpen',
       'Warszawa', 'Markdorf', 'Piatek', 'Hannover',
       'Mülheim an der Ruhr', 'Erkner', 'Monschau', 'Bad Segeberg',
       'Lauf an der Pegnitz', 'Oberasbach', 'Naumburg', 'Wandlitz',
       'Witten', 'Obernheim', 'Wilhelmshaven', 'Heimbuchenthal',
       'Weiterstadt', 'Braunfels', 'Salzwedel', 'Rechitsa', 'Freiburg',
       'Regensburg', 'Leer', 'Höhenkirchen-Siegertsbrunn', 'Coburg',
       'Wolfenbüttel', 'Niederorschel', 'Vierden', 'Ostbevern',
       'Bad Pyrmont', 'Stelle', 'Wadgassen', 'Leingarten', 'Obermarchtal',
       'Güglingen', 'Linz', 'Sankt Ingbert', 'Staufen im Breisgau',
       'Baku', 'Erlensee', 'Erkrath', 'Kornwestheim', 'Wiesbaden',
       'Leutershausen', 'Rees', 'Schwerin', 'Słupsk', 'Reutlingen',
       'Hamm', 'Köln', 'Gdańsk', 'Allendorf', 'Gladenbach', 'Euskirchen',
       'Gerlingen', 'Lübeck', 'Büren', 'Ganderkesee', 'Ohrdruf',
       'Beverungen', 'Oldenburg', 'Usingen', 'Geilenkirchen',
       'Leichlingen', 'Veldenz', 'Duschanbe', 'Ahad Al Masarihah',
       'Werder', 'Morsbach', 'Herdecke', 'Gießen', 'Seevetal',
       'Korschenbroich', 'Stendal', 'Teublitz', 'Meerbusch',
       'Obergünzburg', 'Eggolsheim', 'Limbach-Oberfrohna', 'Kraichtal',
       'Rathenow', 'Śrem', 'Mülheim-Kärlich', 'Babenhausen', 'Heidenheim',
       'Rotterdam', 'Cremlingen', 'Hörstel', 'Rinteln', 'Gütersloh',
       'Röttingen', 'Bayreuth', 'Ajman', 'Hagen', 'Rötgesbüttel',
       'Parchim', 'Emsdetten', 'Randersacker', 'Erding',
       'Kressbronn am Bodensee', 'Essing', 'Nesselwang', 'Braunschweig',
       'Zoetermeer', 'Karlsfeld', 'Nuenchritz', 'Obergriesbach',
       'Karlsruhe', 'Paderborn', 'Remchingen', 'Großrosseln',
       'Neuhemsbach', 'Nebra (Unstrut)', 'Herford', 'Lubrza', 'Kalanchak',
       'Piotrków Trybunalski', 'Neumünster', 'Hennef', 'Wörthsee',
       'Monheim am Rhein', 'Klasztorna', 'Taraz', 'Troisdorf',
       'Henstedt-Ulzburg', 'Achberg', 'Bialystok', 'Königsmoos',
       'Warburg', 'Stade', 'Großbreitenbach', 'Bad Driburg', 'Sollstedt',
       'Esslingen am Neckar', 'Cloppenburg', 'Landshut', 'Karstädt',
       'Steinfurt', 'Tatabanya', 'Gerolstein', 'Astana',
       'Dabrowa Gornicza', 'Schwanewede', 'Glendale', 'Hückelhoven',
       'Cheremkhovo', 'Schwarzheide', 'Böhlen', 'Pleinfeld',
       'Hettenshausen', 'Bünde', 'Sankt Georgen im Schwarzwald',
       'Lichtenfels', 'Fulda', 'Riesa', 'Löbau', 'Waren', 'Hameln',
       'Aichwald', 'Eppelheim', 'Bad Berleburg', 'Aalen', 'Minsk',
       'Oberding', 'Wermelskirchen', 'Jindrichuv Hradec', 'Trossingen',
       'Stein', 'Nizhny Novgorod', 'Murom', 'Bad Wörishofen',
       'Twistringen', 'Langenselbold', 'Alsfeld', 'Limeshain',
       'Helmstidde', 'Schwalbach', 'Alfeld', 'Mainz-Kastel', 'Forchheim',
       'Altenkirchen', 'Velden', 'Alzenau in Unterfranken', 'Bühl',
       'Bad Tölz', 'Schkeuditz', 'Poing', 'Tuttlingen', 'Semej',
       'Cuxhaven', 'Kirchlauter', 'Speyer', 'Untersiemau', 'Słubice',
       'Pfalzgrafenweiler', 'Wetzlar', 'Reichenau', 'Scharbeutz',
       'Kirchheim', 'Blankenfelde', 'Güstrow', 'Frechen', 'Vechta',
       'Leuna', 'Coswig', 'Kisslegg', 'Ebern', 'Weilheim in Oberbayern',
       'Engen', 'Lippstadt', 'Konstanz', 'Saarbrücken', 'Aichach',
       'Heilbronn', 'Sandersdorf', 'Luckenwalde', 'Inchenhofen', 'Amberg',
       'Oberhausen', 'Waiblingen', 'Appen', 'Chambon-sur-Lignon',
       'Nettetal', 'Kirchlinteln', 'Ottobrunn', 'Koblenz', 'Kusel',
       'Massenbachhausen', 'Rangsdorf', 'Hildesheim', 'Heidelberg',
       'Senden', 'Borna', 'Bad Saulgau', 'Cham', 'Herne', 'Lenningen',
       'Niederstetten', 'Olpe', 'Heinersreuth', 'Speichersdorf',
       'Potsdam', 'Bergisch Gladbach', 'Weingarten',
       'Brandenburg an der Havel', 'Lengerich', 'Poppenhausen',
       'Villingen-Schwenningen', 'Friesoythe', 'Lingen', 'Jena',
       'Griepswohld', 'Garrel', 'Herbrechtingen', 'Binzen', 'Friedberg',
       'Wuppertal', 'Ulm', 'Markgröningen', 'Dinslaken', 'Ravensburg',
       'Geyer', 'Ilmenau', 'Freital', 'Engelsbrand', 'Planegg',
       'Zwingenberg', 'Abensberg', 'Weinähr', 'Wiefelstede', 'Fritzlar',
       'Rheda-Wiedenbrück', 'Rudolstadt', 'Neunkirchen-Seelscheid',
       'Tittmoning', 'Kamen', 'Haimhausen', 'Weißwasser', 'Triberg',
       'Herrsching am Ammersee', 'Oberndorf am Neckar', 'Schwäbisch Hall',
       'Tashkent', 'Bad Windsheim', 'Selm', 'Arnstadt', 'Neu-Isenburg',
       'Buttstädt', 'Kaltenkirchen', 'Neuenkirchen', 'Eystrup', 'Kirn',
       'Neunkirchen', 'Buchholz', 'Mittweida', 'Altötting',
       'Saint Petersburg', 'Bad Emstal', 'Mandelbachtal', 'Riga',
       'Nünchritz', 'Oelde', 'Bergheim', 'London', 'Mainz-Kostheim',
       'Niedenstein', 'Kaliningrad', 'Hilchenbach', 'Neu Wulmstorf',
       'Bielefeld', 'Zorneding', 'Eggenstein-Leopoldshafen', 'Floß',
       'Rosengarten', 'Schwaig', 'Bingen', 'Tettnang', 'Wismar', 'Ahaus',
       'Eppelborn', 'Dörverden', 'Bat yam', 'Rodewisch', 'Schrozberg',
       'Hoyerswerda', 'Aschersleben', 'Teterow', 'Gera', 'Backnang',
       'Kamenskoe', 'Kirchlengern', 'Delitzsch', 'Walldorf',
       'Königstein im Taunus', 'Brühl', 'Neubrandenburg', 'Viernheim',
       'Fernwald', 'Hösbach', 'Kemnath', 'Neumarkt in der Oberpfalz',
       'Kamenz', 'Hattgenstein', 'Neukirchen-Vluyn', 'Wolnzach',
       'Hofkirchen', 'Moscow', 'Nastätten', 'Zerbst', 'Grafenau',
       'Albstadt', 'Postbauer-Heng', 'Neutraubling', 'Meinersen',
       'Espenau', 'Grevenbroich', 'Deggendorf', 'Niedereschach',
       'Donauwörth', 'Haldensleben', 'Illingen', 'Norderney', 'Itzehoe',
       'Münchhausen', 'Oberrot', 'Weilheim', 'Marsberg', 'Beckingen',
       'Lemgo', 'Werlte', 'Pfaffenhofen', 'Waldenburg',
       'Schieder-Schwalenberg', 'Nordhausen', 'Dormagen', 'Dußlingen',
       'Ottersweier', 'Voerde', 'Forst', 'Seesen', 'Baesweiler', 'Nagold',
       'Kleinostheim', 'Löningen', 'Unterschneidheim', 'Sand am Main',
       'Wangen im Allgäu', 'Maasbree', 'Homburg', 'Bad Abbach', 'Lotte',
       'Birkenfeld', 'Phuket', 'Almaty', 'Ingolstadt', 'Böblingen',
       'Adelebsen', 'Sigmarszell', 'Neuhäusel', 'Lehre', 'Herzogenaurach',
       'Mömlingen', 'Willich', 'Dettelbach', 'Michelstadt', 'Niesky',
       'Neuwied', 'Freren', 'Nienburg/Weser', 'Heimbach', 'Euerbach',
       'Waldkraiburg', 'Saarlouis', 'Litzendorf', 'Fröndenberg',
       'Überlingen', 'Bad Soden am Taunus', 'Lauf', 'Anklam', 'Eislingen',
       'Hachenburg', 'Pfinztal', 'Szczecin', 'Leutkirch im Allgäu',
       'Neusäß', 'Mühlhausen', 'Annaberg-Buchholz', 'Blumberg',
       'Retzstadt', 'Kolbermoor', 'Donaueschingen', 'Gdynia', 'Rendsburg',
       'Namur', 'Dingolfing', 'Dinkelscherben', 'Neuburg an der Donau',
       'Halle (Saale)', 'Sundern', 'Tübingen', 'Sexau',
       'Vaihingen an der Enz', 'Steinbach', 'Imsbach', 'Harsewinkel',
       'Bad Feilnbach', 'Marne', 'Hückeswagen', 'Kappelrodeck',
       'Ehrensberg', 'Dettenhausen', 'Wittstock', 'Vellberg',
       'Bad Vilbel', 'Kluse', 'Hockenheim', 'Runkel', 'Włodawa',
       'Kelkheim', 'Viereth-Trunstadt', 'Nellingen', 'Fürstenfeldbruck',
       'Glandorf', 'Nisterberg', 'Landsberg am Lech', 'Bamberg',
       'Kernen im Remstal', 'Nottuln', 'Hechingen', 'Marktredwitz',
       'Beilstein', 'Heusweiler', 'Aidlingen', 'Elze', 'Borken', 'Bernau',
       'Pyrbaum', 'Niederstotzingen', 'Porta Westfalica', 'Wülfrath',
       'Volgodonsk', 'Müllrose', 'Burg', 'Hüttisheim', 'Königslutter',
       'Melsungen', 'Bitterfeld-Wolfen', 'Uhldingen-Mühlhofen',
       'Grafenhausen', 'Freudenstadt', 'Mengerskirchen', 'Heppenheim',
       'Nürtingen', 'Rothenburg ob der Tauber', 'Sasbach', 'Malchin',
       'Schmölln', 'Lengenfeld', 'Miesbach', 'Holzminden', 'Gröbenzell',
       'Mettmann', 'Eching', 'Manching', 'Karben', 'Mainaschaff',
       'Baden-Baden', 'Dubai', 'Miltenberg', 'Wetter', 'Garbsen',
       'Kirchheim bei München', 'Prenzlau', 'Odelzhausen', 'Urbach',
       'Schönwald', 'Altlandsberg', 'Hopfen am See', 'Schwäbisch Gmünd',
       'Boppard', 'Wertheim', 'Sindelfingen', 'Pirmasens',
       'Rosbach vor der Höhe', 'Neuenrade', 'Hagenow', 'Kaufbeuren',
       'Osterhofen', 'Rotenburg an der Fulda', 'Hofheim am Taunus',
       'Krumbach', 'Bretten', 'Langenbach', 'Stadecken-Elsheim',
       'Oerlinghausen', 'Göttingen', 'Lampertheim',
       'Steinau an der Straße', 'Wolfhagen', 'Plauen', 'Sulzbach',
       'Herzberg', 'Biberach', 'Schmallenberg', 'Gelsenkirchen', 'Verden',
       'Salzgitter', 'Furtwangen', 'Isernhagen',
       'Schonach im Schwarzwald', 'Kobyłka', 'Erkelenz', 'Heide',
       'Mainbernheim', 'Bopfingen', 'Bremerhaven', 'Ampfing',
       'Hohenberg an der Eger', 'Leopoldshöhe', 'Bergneustadt',
       'Offenbach', 'Hennigsdorf', 'Schliersee', 'Gaildorf',
       'Bad Gottleuba-Berggießhübel', 'Kitzingen', 'Lennestadt',
       'Weinsberg', 'Kaiserslautern', 'Plön', 'Wittendörp', 'Konz',
       'Landau in der Pfalz', 'Nordenham', 'Raschau-Markersbach',
       'Wirges', 'Lörrach', 'Öhringen', 'Zetel', 'Weimar', 'Bobingen',
       'Wemding', 'Sankt Augustin', 'Haselünne', 'Maikammer',
       'Oberkochen', 'Siegburg', 'Greven', 'Birstein', 'Altenburg',
       'Brakel', 'Pinneberg', 'Ladenburg', 'Bad Schwalbach', 'Mahlberg',
       'Leverkusen', 'Pavlograd', 'Mühldorf', 'Starnberg', 'Meißenheim',
       'Rommerskirchen', 'Lychen', 'Zella-Mehlis', 'Lutherstadt Eisleben',
       'Eiterfeld', 'Neustadt-Glewe', 'Finnentrop', 'Thalmassing',
       'Przesław', 'Ahrensburg', 'Bad Hindelang', 'Bad Blankenburg',
       'Germersheim', 'Montabaur', 'Bürstadt', 'Hasbergen', 'Bad Ems',
       'Bad Essen', 'Norden', 'Heiligenhaus', 'Mutlangen',
       'Edingen-Neckarhausen', 'Sonneberg', 'Recklinghausen',
       'Delmenhorst', 'Freising', 'Peine', 'Altshausen', 'Baiersbronn',
       'Lüdenscheid', 'Alsbach-Hähnlein', 'Schenefeld', 'Hallbergmoos',
       'Burbach', 'Waldkirch', 'Stuhr', 'Bad Wildungen', 'Warendorf',
       'Winhöring', 'Erlangen', 'Pößneck', 'Tengen', 'Saalfeld',
       'Olching', 'Berchtesgaden', 'Lage', 'Freigericht',
       'Bad Friedrichshall', 'Reichenbach', 'Causeni', 'Bruchköbel',
       'Schwepnitz', 'Quickborn', 'Radebeul', 'Korbach',
       'Landau an der Isar', 'Emden', 'Eisenbach (Hochschwarzwald)',
       'Hohenstein', 'Duderstadt', 'Chuguev', 'Lindau (Bodensee)',
       'Bad Hönningen', 'Senftenberg', 'Günzburg', 'Malschwitz',
       'Tutzing', 'Blankenburg', 'Eschenburg', 'Netphen', 'Apen',
       'Kharkiv', 'Wittmund', 'Novorossiysk', 'Jördenstorf', 'Werne',
       'Melle', 'Lüneburg', 'Bruck', 'Prostejov', 'Wenden', 'Belgrade',
       'Alamudun', 'Bad Gandersheim', 'Braubach', 'Geldern', 'Bassum',
       'Brake'], dtype=object)

Find coordinates for each city on external resources and bring the names into line with the official ones.
Names and coordinates of cities will be in the file 'City Coordinates.csv'

In [271]:
# Replace some city names that were not found when unloading the file with coordinates

city_rename_dict = {
    'Neuburg': 'Neuburg an der Donau',
    'Bat yam': 'Bat Yam',
    'Halle': 'Halle (Saale)'
}
deals_df['City'] = deals_df['City'].replace(city_rename_dict)

In [272]:
# Loading file with coordinates
city_coords_df = pd.read_csv("City Coordinates.csv")
city_coords_df

                City  Country  Latitude  Longitude
0         Crailsheim  Germany   49.1344    10.0712
1           Dortmund  Germany   51.5136     7.4653
2          Stuttgart  Germany   48.7773     9.1855
3            München  Germany   48.1371    11.5754
4             Berlin  Germany   52.5160    13.4041
..               ...      ...       ...        ...
868  Bad Gandersheim  Germany   51.8718    10.0253
869         Braubach  Germany   50.2667     7.6667
870          Geldern  Germany   51.5181     6.3317
871           Bassum  Germany   52.8506     8.7279
872            Brake  Germany   53.3333     8.4833

[873 rows x 4 columns]

In [273]:
# There are duplicate cities in the file

city_coords_df[city_coords_df.duplicated(subset='City', keep=False)]

                     City  Country  Latitude  Longitude
37   Neuburg an der Donau  Germany   48.7322    11.1871
48          Halle (Saale)  Germany   51.4826    11.9690
118             Helmstedt  Germany   52.2280    11.0098
291             Nünchritz  Germany   51.3167    13.3833
361             Helmstedt  Germany   52.2280    11.0098
485             Nünchritz  Germany   51.3167    13.3833
621  Neuburg an der Donau  Germany   48.7322    11.1871
622         Halle (Saale)  Germany   51.4826    11.9690

In [274]:
# remove duplicate cities - leave the first line

city_coords_df_unique = city_coords_df.drop_duplicates(subset='City')
city_coords_df_unique

                City  Country  Latitude  Longitude
0         Crailsheim  Germany   49.1344    10.0712
1           Dortmund  Germany   51.5136     7.4653
2          Stuttgart  Germany   48.7773     9.1855
3            München  Germany   48.1371    11.5754
4             Berlin  Germany   52.5160    13.4041
..               ...      ...       ...        ...
868  Bad Gandersheim  Germany   51.8718    10.0253
869         Braubach  Germany   50.2667     7.6667
870          Geldern  Germany   51.5181     6.3317
871           Bassum  Germany   52.8506     8.7279
872            Brake  Germany   53.3333     8.4833

[869 rows x 4 columns]

In [275]:
# Combining deals_df with city_coords_df_unique by City

deals_df = deals_df.merge(city_coords_df_unique[['City', 'Latitude', 'Longitude']], on='City', how='left')
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,<NA>,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,<NA>,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0,NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,<NA>,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0,NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,<NA>,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,NaN,NaN,Organic,NaN,NaN,NaN,2024-05-15 08:50:00,<NA>,<NA>,NaN,NaN,5805028000049855125,NaN,NaN,2024-05-15,0.0,NaN,NaN
21407,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-06 18:45:00,<NA>,<NA>,NaN,NaN,5805028000053705642,NaN,NaN,2024-06-06,0.0,NaN,NaN
21408,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_DE,0 days 04:30:17,152789402780_{region_name}_668024583824,it hub,Google Ads,NaN,NaN,NaN,2024-06-12 05:46:00,<NA>,<NA>,NaN,NaN,5805028000054480760,NaN,NaN,2024-06-12,0.0,NaN,NaN
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 13:49:00,<NA>,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0,NaN,NaN
21410,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 17:36:00,<NA>,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0,NaN,NaN

In [276]:
deals_df[deals_df['City'].notna()]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude
52,5805028000056683030,Charlie Davis,NaT,C - Low,Waiting For Payment,NaN,/eng/test,performancemax_eng_DE,0 days 00:20:39,_{region_name}_,NaN,Google Ads,NaN,Web Developer,Morning,2024-06-20 12:34:00,6,<NA>,1000.0,9000.0,5805028000056690015,Crailsheim,NaN,2024-06-20,NaN,49.1344,10.0712
56,5805028000056558351,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,NaN,0 days 00:09:49,NaN,NaN,SMM,NaN,Web Developer,Morning,2024-06-20 11:16:00,6,<NA>,1000.0,9000.0,5805028000056578244,Dortmund,в1,2024-06-20,NaN,51.5136,7.4653
61,5805028000056555140,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,/eng,03.07.23women,0 days 01:55:11,v16,women,Facebook Ads,NaN,Digital Marketing,Morning,2024-06-20 08:48:00,11,<NA>,1000.0,11000.0,5805028000056576103,Stuttgart,NaN,2024-06-20,NaN,48.7773,9.1855
67,5805028000056564131,Ben Hall,NaT,D - Non Target,Waiting For Payment,NaN,/eng,20.05.24interests_DE,0 days 12:51:39,bloggersvideo14com,interest_work,Facebook Ads,NaN,UX/UI Design,Morning,2024-06-19 22:31:00,11,<NA>,1000.0,11000.0,5805028000056575100,München,A2,2024-06-19,NaN,48.1371,11.5754
71,5805028000056590062,Paula Underwood,NaT,B - Medium,Waiting For Payment,NaN,eng/digital-marketing,brand_search_eng_DE,NaT,152789402780_{region_name}_668024583824,it career hub,Google Ads,NaN,Digital Marketing,Morning,2024-06-19 20:25:00,11,<NA>,1000.0,11000.0,5805028000056570036,Berlin,NaN,2024-06-19,NaN,52.5160,13.4041
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21033,5805028000002302156,Julia Nelson,2023-10-16,C - Low,Waiting For Payment,Next stream,eng/digital-marketing,05.07.23interests_DE,0 days 15:31:11,v6com,interest_programming,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-18 21:11:00,11,<NA>,1000.0,11000.0,5805028000002302153,Frankfurt,NaN,2023-07-18,90.0,50.1109,8.6821
21034,5805028000002302112,Julia Nelson,2023-07-19,C - Low,Payment Done,Expensive,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,0 days 15:24:52,_{region_name}_,NaN,Google Ads,NaN,Web Developer,Morning,2023-07-18 21:11:00,6,2,1000.0,5000.0,5805028000002302109,Wolfsburg,b1,2023-07-18,1.0,52.4226,10.7865
21130,5805028000001885076,Jane Smith,2023-08-31,A - High,Payment Done,NaN,eng/digital-marketing,04.07.23recentlymoved_DE,0 days 00:13:31,b2,recentlymoved,Facebook Ads,One Payment,Digital Marketing,Morning,2023-07-15 13:27:00,11,11,450.0,4000.0,5805028000001880249,Ingolstadt,NaN,2023-07-15,47.0,48.7651,11.4237
21261,5805028000001404042,Quincy Vincent,2024-02-15,A - High,Call Delayed,Gutstein refusal,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,0 days 00:01:39,_{region_name}_,NaN,Google Ads,NaN,Digital Marketing,Morning,2023-07-08 11:29:00,11,<NA>,1000.0,11000.0,5805028000001404007,Essen,NaN,2023-07-08,222.0,51.4556,7.0116
21288,5805028000001040014,Quincy Vincent,2023-07-14,C - Low,Lost,Conditions are not suitable,eng/digital-marketing,02.07.23wide_DE,8 days 18:22:16,b3,wide,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-05 18:06:00,11,<NA>,1000.0,11000.0,5805028000001073001,Brake,NaN,2023-07-05,9.0,53.3333,8.4833

In [277]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 27 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Id                   21411 non-null  object
 1   Deal Owner Name      21382 non-null  object
 2   Closing Date         16685 non-null  datetime64[ns]
 3   Quality              19158 non-null  category
 4   Stage                21411 non-null  category
 5   Lost Reason          15942 non-null  category
 6   Page                 20342 non-null  object
 7   Campaign             16006 non-null  object
 8   SLA                  15504 non-null  timedelta64[ns]
 9   Content              14101 non-null  object
 10  Term                 12387 non-null  object
 11  Source               21411 non-null  category
 12  Payment Type         496 non-null    category
 13  Product              3592 non-null   category
 14  Education Type       3299 non-null   category
 15  Created Time         21411 non-null  datetime64[ns]
 16  Course duration      3587 non-null   Int64
 17  Months of study      840 non-null    Int64
 18  Initial Amount Paid  3289 non-null   float64
 19  Offer Total Amount   3337 non-null   float64
 20  Contact Name         21350 non-null  object
 21  City                 2163 non-null   object
 22  Level of Deutsch     1228 non-null   object
 23  Created Date         21411 non-null  datetime64[ns]
 24  Date Diff            14495 non-null  float64
 25  Latitude             2156 non-null   float64
 26  Longitude            2156 non-null   float64
dtypes: Int64(2), category(7), datetime64[ns](3), float64(5), object(9), timedelta64[ns](1)
memory usage: 3.5+ MB

In [278]:
deals_df['Level of Deutsch'].nunique()

212

In [279]:
deals_df['Level of Deutsch'].value_counts(dropna=True)

Level of Deutsch
B1                                                      219
б1                                                      118
в1                                                      100
b1                                                       93
Б1                                                       93
                                                       ...
точно уровень не знаю, но говорить могу - учила сама      1
А2-В1 учит                                                1
В1 (учится на В2 уже)                                     1
В январе - В2 сдает                                       1
b1 должна получить результаты в феврале                   1
Name: count, Length: 212, dtype: int64

In [281]:
deals_df['Level of Deutsch'].isna().sum()

np.int64(20183)

In [282]:
# Creates a new column 'Level of Deutsch Cleaned', where if the value is a string, then removes spaces from the edges (strip()) and converts to uppercase (upper())
# if not a string (NaN), leaves as is

deals_df['Level of Deutsch Cleaned'] = deals_df['Level of Deutsch'].apply(lambda x: x.strip().upper() if isinstance(x, str) else x)
deals_df['Level of Deutsch Cleaned'].value_counts(dropna=True)

Level of Deutsch Cleaned
B1                                                      312
Б1                                                      211
В1                                                      163
А2                                                       85
B2                                                       64
                                                       ...
ТОЧНО УРОВЕНЬ НЕ ЗНАЮ, НО ГОВОРИТЬ МОГУ - УЧИЛА САМА      1
А2-В1 УЧИТ                                                1
В1 (УЧИТСЯ НА В2 УЖЕ)                                     1
В ЯНВАРЕ - В2 СДАЕТ                                       1
B1 ДОЛЖНА ПОЛУЧИТЬ РЕЗУЛЬТАТЫ В ФЕВРАЛЕ                   1
Name: count, Length: 193, dtype: int64

In [283]:
deals_df['Level of Deutsch Cleaned'].isna().sum()

np.int64(20183)

In [284]:
deals_df['Level of Deutsch Cleaned'].nunique()

193

Make a dictionary and a function to replace imprecise matches of the level of knowledge of the language

In [285]:
# Regular expression for finding levels
level_pattern = r'([A-C][1-2]|[А-Я][1-2])(?:-([A-C][1-2]|[А-Я][1-2]))?'

# Dictionary for translating levels into English
level_translation = {
    'A0': 'A0',
    'A1': 'A1',
    'A2': 'A2',
    'B1': 'B1',
    'B2': 'B2',
    'C1': 'C1',
    'C2': 'C2',
    'А1': 'A1',
    'А1': 'A1',
    'А2': 'A2',
    'Б1': 'B1',
    'Б2': 'B2',
    'Ц1': 'C1',
    'Ц2': 'C2',
}

# Regular expression for searching levels
# We take into account both Latin and Cyrillic, as well as combinations of levels like 'A2-B1'
level_pattern = r'([A-C][0-2]|[А-Я][0-2])(?:-([A-C][0-2]|[А-Я][0-2]))?'

# replacing Cyrillic letters with their Latin meaning
def normalize_cyrillic(text):
    return (str(text)
        .replace('А', 'A')
        .replace('В', 'B')
        .replace('С', 'C')
        .replace('Б', 'B')
        .replace('Ц', 'C'))

    
# Function to extract level and translate
def extract_level(text):
    text = normalize_cyrillic(str(text).upper())  # First we convert to upper case
    match = re.search(level_pattern, text)
    if match:
        if match.group(2):
            return level_translation.get(match.group(1), match.group(1)) + '-' + level_translation.get(match.group(2), match.group(2))
        else:
            return level_translation.get(match.group(1), match.group(1))
    return None

In [286]:
# Apply the function to the column 'Level of Deutsch'
deals_df['Level of Deutsch Cleaned'] = deals_df['Level of Deutsch Cleaned'].apply(normalize_cyrillic).apply(extract_level)
deals_df['Level of Deutsch Cleaned'].value_counts(dropna=True)

Level of Deutsch Cleaned
B1       783
B2       165
A2       136
B1-B2     34
C1        27
A1        21
A2-B1     13
A0         5
A1-A2      4
B2-C1      4
C2         3
B2-C2      2
A0-A1      1
Name: count, dtype: int64

In [287]:
# check that the number of unique values corresponds to the number of levels
deals_df['Level of Deutsch Cleaned'].nunique()

13

In [288]:
deals_df[deals_df['Id']== '5805028000055337926']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude,Level of Deutsch Cleaned
517,5805028000055337926,Eva Kent,NaT,D - Non Target,Waiting For Payment,NaN,/eng/test,brand_search_eng_DE,0 days 10:22:18,152789402780_{region_name}_668024583824,it%20career%20hub,Google Ads,NaN,UX/UI Design,Morning,2024-06-15 01:15:00,11,<NA>,1000.0,11000.0,5805028000055329808,Hildburghausen,b1,2024-06-15,NaN,50.4262,10.7288,B1

In [289]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        21411 non-null  object
 1   Deal Owner Name           21382 non-null  object
 2   Closing Date              16685 non-null  datetime64[ns]
 3   Quality                   19158 non-null  category
 4   Stage                     21411 non-null  category
 5   Lost Reason               15942 non-null  category
 6   Page                      20342 non-null  object
 7   Campaign                  16006 non-null  object
 8   SLA                       15504 non-null  timedelta64[ns]
 9   Content                   14101 non-null  object
 10  Term                      12387 non-null  object
 11  Source                    21411 non-null  category
 12  Payment Type              496 non-null    category
 13  Product                   3592 non-null   category
 14  Education Type            3299 non-null   category
 15  Created Time              21411 non-null  datetime64[ns]
 16  Course duration           3587 non-null   Int64
 17  Months of study           840 non-null    Int64
 18  Initial Amount Paid       3289 non-null   float64
 19  Offer Total Amount        3337 non-null   float64
 20  Contact Name              21350 non-null  object
 21  City                      2163 non-null   object
 22  Level of Deutsch          1228 non-null   object
 23  Created Date              21411 non-null  datetime64[ns]
 24  Date Diff                 14495 non-null  float64
 25  Latitude                  2156 non-null   float64
 26  Longitude                 2156 non-null   float64
 27  Level of Deutsch Cleaned  1198 non-null   object
dtypes: Int64(2), category(7), datetime64[ns](3), float64(5), object(10), timedelta64[ns](1)
memory usage: 3.6+ MB

In [290]:
# Let's fill in the missing values for 'City' and 'Level of Deutsch Cleaned' where duplicates Contact Name. 
# To do this, first remember how many empty values there were

missing_before = deals_df[['City', 'Level of Deutsch Cleaned']].isna().sum()
missing_before

City                        19248
Level of Deutsch Cleaned    20213
dtype: int64

In [291]:
# 1. Find duplicates of Contact Name (occurs more than once)
contact_name_duplicate_ids = deals_df['Contact Name'].value_counts()
contact_name_duplicate_ids = contact_name_duplicate_ids[contact_name_duplicate_ids > 1].index

# 2. Filter the lines where Contact Name is in the duplicate list and both fields are not empty
city_level_df = deals_df[deals_df['Contact Name'].isin(contact_name_duplicate_ids) & deals_df['City'].notna() & deals_df['Level of Deutsch Cleaned'].notna()].copy()

city_level_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude,Level of Deutsch Cleaned
334,5805028000055845510,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,youtube_shorts_DE,0 days 00:10:45,bloggersvideo1june,Com_august,Youtube Ads,NaN,Digital Marketing,Morning,2024-06-17 15:19:00,11,<NA>,1000.0,11000.0,5805028000013860161,Gommern,в1-в2,2024-06-17,NaN,52.0737,11.8235,B1-B2
803,5805028000054755129,Paula Underwood,2024-06-19,C - Low,Waiting For Payment,NaN,/webinar,webinar1906,7 days 08:29:07,NaN,invitation,Webinar,NaN,Web Developer,Morning,2024-06-12 08:13:00,6,<NA>,1000.0,9000.0,5805028000024183526,Düren,б1,2024-06-12,7.0,50.8047,6.4819,B1
804,5805028000054758046,Eva Kent,2024-06-12,B - Medium,Lost,Stopped Answering,/email,1406start,0 days 03:25:32,NaN,NaN,CRM,NaN,Digital Marketing,Morning,2024-06-12 07:38:00,11,<NA>,1000.0,11000.0,5805028000030074915,Düsseldorf,b1,2024-06-12,NaN,51.2277,6.7735,B1
1029,5805028000054257317,Quincy Vincent,2024-06-17,B - Medium,Payment Done,NaN,/eng,02.07.23wide_DE,0 days 00:45:55,bloggersvideo16com,wide,Facebook Ads,NaN,Digital Marketing,Morning,2024-06-10 15:33:00,11,1,1000.0,11000.0,5805028000054284461,Leinfelden-Echterdingen,B1,2024-06-10,7.0,48.6941,9.1479,B1
1109,5805028000054231507,Eva Kent,2024-06-18,B - Medium,Payment Done,NaN,/eng,NaN,0 days 03:44:24,NaN,NaN,Organic,NaN,UX/UI Design,Morning,2024-06-10 09:00:00,11,1,1000.0,11000.0,5805028000054106087,Bochum,b1,2024-06-10,NaN,51.4818,7.2162,B1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20152,5805028000004920001,Charlie Davis,2023-09-13,C - Low,Payment Done,Next stream,/eng,NaN,0 days 00:48:38,NaN,NaN,SMM,NaN,Digital Marketing,Morning,2023-08-17 10:47:00,11,11,1000.0,11500.0,5805028000004910006,Haldensleben,Б1,2023-08-17,27.0,52.2833,11.4167,B1
20258,5805028000004603773,Julia Nelson,2024-06-14,C - Low,Payment Done,Doesn't Answer,eng/digital-marketing,03.07.23women,0 days 09:26:01,bloggersvideo1com,women,Facebook Ads,One Payment,Digital Marketing,Morning,2023-08-14 01:12:00,11,11,1000.0,11000.0,5805028000004561698,Mettmann,b1,2023-08-14,305.0,51.2504,6.9754,B1
20610,5805028000003571464,Ulysses Adams,2023-08-02,A - High,Lost,Stopped Answering,eng/digital-marketing,15.07.23b_DE,0 days 00:49:58,b2com,b,Facebook Ads,NaN,Digital Marketing,Morning,2023-08-02 14:03:00,11,<NA>,1000.0,11000.0,5805028000003554473,Hagen,В январе - В2 сдает,2023-08-02,NaN,51.3608,7.4717,B2
20664,5805028000003461836,Jane Smith,2023-11-15,B - Medium,Payment Done,NaN,eng/digital-marketing,03.07.23women,0 days 00:09:10,b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-31 19:33:00,11,11,1000.0,11500.0,5805028000003456878,Düsseldorf,B2,2023-07-31,107.0,51.2277,6.7735,B2
20890,5805028000002926478,Julia Nelson,2023-10-16,C - Low,Lost,Next stream,eng/digital-marketing,work_DE,0 days 00:26:51,b3com,19_07_2023,Telegram posts,NaN,Digital Marketing,Morning,2023-07-24 11:22:00,11,<NA>,1000.0,11000.0,5805028000002895508,Hamburg,b1,2023-07-24,84.0,53.5511,9.9937,B1

In [292]:
# Check on 
deals_df[deals_df['Contact Name']== '5805028000002895508']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude,Level of Deutsch Cleaned
11878,5805028000027446849,Julia Nelson,2024-01-21,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,NaN,0 days 00:24:32,NaN,NaN,CRM,NaN,NaN,NaN,2024-01-21 17:57:00,<NA>,<NA>,NaN,NaN,5805028000002895508,NaN,NaN,2024-01-21,0.0,NaN,NaN,None
20890,5805028000002926478,Julia Nelson,2023-10-16,C - Low,Lost,Next stream,eng/digital-marketing,work_DE,0 days 00:26:51,b3com,19_07_2023,Telegram posts,NaN,Digital Marketing,Morning,2023-07-24 11:22:00,11,<NA>,1000.0,11000.0,5805028000002895508,Hamburg,b1,2023-07-24,84.0,53.5511,9.9937,B1

In [294]:
# Check on 
deals_df[deals_df['Contact Name']== '5805028000013860161']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude,Level of Deutsch Cleaned
154,5805028000056187569,Ulysses Adams,NaT,NaN,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-18 16:41:00,<NA>,<NA>,NaN,NaN,5805028000013860161,NaN,NaN,2024-06-18,NaN,NaN,NaN,None
334,5805028000055845510,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,youtube_shorts_DE,0 days 00:10:45,bloggersvideo1june,Com_august,Youtube Ads,NaN,Digital Marketing,Morning,2024-06-17 15:19:00,11,<NA>,1000.0,11000.0,5805028000013860161,Gommern,в1-в2,2024-06-17,NaN,52.0737,11.8235,B1-B2
17229,5805028000013846226,Ulysses Adams,2023-10-27,C - Low,Lost,needs time to think,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,0 days 01:48:42,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-10-26 12:37:00,<NA>,<NA>,NaN,NaN,5805028000013860161,NaN,NaN,2023-10-26,1.0,NaN,NaN,None

In [295]:
# Fill in missing values based on other rows with the same contact name

deals_df['City'] = deals_df.groupby('Contact Name')['City'].transform(lambda x: x.ffill().bfill()).infer_objects(copy=False)
deals_df['Level of Deutsch Cleaned'] = deals_df.groupby('Contact Name')['Level of Deutsch Cleaned'].transform(lambda x: x.ffill().bfill()).infer_objects(copy=False)
deals_df['Latitude'] = deals_df.groupby('Contact Name')['Latitude'].transform(lambda x: x.ffill().bfill()).infer_objects(copy=False)
deals_df['Longitude'] = deals_df.groupby('Contact Name')['Longitude'].transform(lambda x: x.ffill().bfill()).infer_objects(copy=False)

C:\Users\user\AppData\Local\Temp\ipykernel_1812\3197382422.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  deals_df['City'] = deals_df.groupby('Contact Name')['City'].transform(lambda x: x.ffill().bfill()).infer_objects(copy=False)

In [297]:
# If everything works correctly, then both prints will output nothing. If there are any discrepancies, we will see which Contact Names have this.
# Check: each Contact Name must have only one unique value in these columns
check_city = deals_df.groupby('Contact Name')['City'].nunique()
check_deutsch = deals_df.groupby('Contact Name')['Level of Deutsch Cleaned'].nunique()
check_latitude = deals_df.groupby('Contact Name')['Latitude'].nunique()
check_longitude = deals_df.groupby('Contact Name')['Longitude'].nunique()

#  display only those where there is a problem (more than 1 unique value is an error)
print("Problems with  'City':")
print(check_city[check_city > 1])

print("\nProblems with  'Level of Deutsch Cleaned':")
print(check_deutsch[check_deutsch > 1])

print("\nProblems with  'Latitude':")
print(check_latitude[check_latitude > 1])

print("\nProblems with  'Longitude':")
print(check_longitude[check_longitude > 1])

Problems with  'City':
Contact Name
5805028000018547198    2
5805028000018952496    2
Name: City, dtype: int64

Problems with  'Level of Deutsch Cleaned':
Series([], Name: Level of Deutsch Cleaned, dtype: int64)

Problems with  'Latitude':
Contact Name
5805028000018952496    2
Name: Latitude, dtype: int64

Problems with  'Longitude':
Contact Name
5805028000018952496    2
Name: Longitude, dtype: int64

Let's check incorrect objects:

In [298]:
# we see that the error is due to the fact that the the same contact has different spelling of cities is Nünchritz and Nuenchritz.
# Since this is only one object and coordinates are correct for both spelling, we will leave it as is, it will not have a significant impact on the analysis.

deals_df[deals_df['Contact Name']== '5805028000018547198']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude,Level of Deutsch Cleaned
5583,5805028000043391490,Paula Underwood,2024-04-24,E - Non Qualified,Lost,Doesn't Answer,/webinar,webinar1604,NaT,NaN,invitation,Webinar,NaN,NaN,NaN,2024-04-12 08:14:00,<NA>,<NA>,NaN,NaN,5805028000018547198,Nuenchritz,NaN,2024-04-12,12.0,51.3167,13.3833,None
10815,5805028000029953462,Paula Underwood,2024-03-12,A - High,Lost,Stopped Answering,/eng,NaN,1 days 02:01:46,120202615685650341,120202614050220341,Organic,NaN,Digital Marketing,Morning,2024-02-03 14:45:00,11,<NA>,1000.0,11000.0,5805028000018547198,Nünchritz,NaN,2024-02-03,38.0,51.3167,13.3833,None
15335,5805028000018602153,Paula Underwood,2023-12-07,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,04.07.23recentlymoved_DE,0 days 21:00:50,bloggersvideo4com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2023-11-23 17:58:00,<NA>,<NA>,NaN,NaN,5805028000018547198,Nünchritz,NaN,2023-11-23,14.0,51.3167,13.3833,None
21361,5805028000043398470,Paula Underwood,2024-04-16,D - Non Target,Lost,Duplicate,/specialoffer,web8_DE,NaT,NaN,NaN,Webinar,NaN,NaN,NaN,2024-04-12 08:15:00,<NA>,<NA>,NaN,NaN,5805028000018547198,Nünchritz,NaN,2024-04-12,4.0,51.3167,13.3833,None

In [299]:
# we see that the error is due to the fact that the same contact indicated different cities of residence.
# Since we can't say which of these cities to leave, we'll leave both.

deals_df[deals_df['Contact Name']== '5805028000018952496']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude,Level of Deutsch Cleaned
11716,5805028000027926021,Charlie Davis,2024-01-24,B - Medium,Payment Done,NaN,/eng/test,02.07.23wide_DE,1 days 00:51:41,bloggersvideo3com,wide,Facebook Ads,Recurring Payments,UX/UI Design,Morning,2024-01-23 15:32:00,11,6,200.0,2500.0,5805028000018952496,Hofkirchen,NaN,2024-01-23,1.0,48.6833,13.1167,A2
15170,5805028000018990428,Charlie Davis,2024-01-25,D - Non Target,Lost,Gutstein refusal,/eng/test,02.07.23wide_DE,0 days 00:18:45,bloggersvideo3com,wide,Facebook Ads,NaN,UX/UI Design,Morning,2023-11-28 19:03:00,11,<NA>,1000.0,11000.0,5805028000018952496,Passau,А2,2023-11-28,58.0,48.5667,13.4319,A2

In [300]:
# Check other objects. It's correct:

deals_df[deals_df['Contact Name']== '5805028000013860161']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude,Level of Deutsch Cleaned
154,5805028000056187569,Ulysses Adams,NaT,NaN,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-18 16:41:00,<NA>,<NA>,NaN,NaN,5805028000013860161,Gommern,NaN,2024-06-18,NaN,52.0737,11.8235,B1-B2
334,5805028000055845510,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,youtube_shorts_DE,0 days 00:10:45,bloggersvideo1june,Com_august,Youtube Ads,NaN,Digital Marketing,Morning,2024-06-17 15:19:00,11,<NA>,1000.0,11000.0,5805028000013860161,Gommern,в1-в2,2024-06-17,NaN,52.0737,11.8235,B1-B2
17229,5805028000013846226,Ulysses Adams,2023-10-27,C - Low,Lost,needs time to think,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,0 days 01:48:42,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-10-26 12:37:00,<NA>,<NA>,NaN,NaN,5805028000013860161,Gommern,NaN,2023-10-26,1.0,52.0737,11.8235,B1-B2

In [301]:
deals_df[deals_df['Contact Name']== '5805028000002895508']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude,Level of Deutsch Cleaned
11878,5805028000027446849,Julia Nelson,2024-01-21,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,NaN,0 days 00:24:32,NaN,NaN,CRM,NaN,NaN,NaN,2024-01-21 17:57:00,<NA>,<NA>,NaN,NaN,5805028000002895508,Hamburg,NaN,2024-01-21,0.0,53.5511,9.9937,B1
20890,5805028000002926478,Julia Nelson,2023-10-16,C - Low,Lost,Next stream,eng/digital-marketing,work_DE,0 days 00:26:51,b3com,19_07_2023,Telegram posts,NaN,Digital Marketing,Morning,2023-07-24 11:22:00,11,<NA>,1000.0,11000.0,5805028000002895508,Hamburg,b1,2023-07-24,84.0,53.5511,9.9937,B1

In [302]:
city_level_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude,Level of Deutsch Cleaned
334,5805028000055845510,Ulysses Adams,NaT,C - Low,Waiting For Payment,NaN,/eng,youtube_shorts_DE,0 days 00:10:45,bloggersvideo1june,Com_august,Youtube Ads,NaN,Digital Marketing,Morning,2024-06-17 15:19:00,11,<NA>,1000.0,11000.0,5805028000013860161,Gommern,в1-в2,2024-06-17,NaN,52.0737,11.8235,B1-B2
803,5805028000054755129,Paula Underwood,2024-06-19,C - Low,Waiting For Payment,NaN,/webinar,webinar1906,7 days 08:29:07,NaN,invitation,Webinar,NaN,Web Developer,Morning,2024-06-12 08:13:00,6,<NA>,1000.0,9000.0,5805028000024183526,Düren,б1,2024-06-12,7.0,50.8047,6.4819,B1
804,5805028000054758046,Eva Kent,2024-06-12,B - Medium,Lost,Stopped Answering,/email,1406start,0 days 03:25:32,NaN,NaN,CRM,NaN,Digital Marketing,Morning,2024-06-12 07:38:00,11,<NA>,1000.0,11000.0,5805028000030074915,Düsseldorf,b1,2024-06-12,NaN,51.2277,6.7735,B1
1029,5805028000054257317,Quincy Vincent,2024-06-17,B - Medium,Payment Done,NaN,/eng,02.07.23wide_DE,0 days 00:45:55,bloggersvideo16com,wide,Facebook Ads,NaN,Digital Marketing,Morning,2024-06-10 15:33:00,11,1,1000.0,11000.0,5805028000054284461,Leinfelden-Echterdingen,B1,2024-06-10,7.0,48.6941,9.1479,B1
1109,5805028000054231507,Eva Kent,2024-06-18,B - Medium,Payment Done,NaN,/eng,NaN,0 days 03:44:24,NaN,NaN,Organic,NaN,UX/UI Design,Morning,2024-06-10 09:00:00,11,1,1000.0,11000.0,5805028000054106087,Bochum,b1,2024-06-10,NaN,51.4818,7.2162,B1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20152,5805028000004920001,Charlie Davis,2023-09-13,C - Low,Payment Done,Next stream,/eng,NaN,0 days 00:48:38,NaN,NaN,SMM,NaN,Digital Marketing,Morning,2023-08-17 10:47:00,11,11,1000.0,11500.0,5805028000004910006,Haldensleben,Б1,2023-08-17,27.0,52.2833,11.4167,B1
20258,5805028000004603773,Julia Nelson,2024-06-14,C - Low,Payment Done,Doesn't Answer,eng/digital-marketing,03.07.23women,0 days 09:26:01,bloggersvideo1com,women,Facebook Ads,One Payment,Digital Marketing,Morning,2023-08-14 01:12:00,11,11,1000.0,11000.0,5805028000004561698,Mettmann,b1,2023-08-14,305.0,51.2504,6.9754,B1
20610,5805028000003571464,Ulysses Adams,2023-08-02,A - High,Lost,Stopped Answering,eng/digital-marketing,15.07.23b_DE,0 days 00:49:58,b2com,b,Facebook Ads,NaN,Digital Marketing,Morning,2023-08-02 14:03:00,11,<NA>,1000.0,11000.0,5805028000003554473,Hagen,В январе - В2 сдает,2023-08-02,NaN,51.3608,7.4717,B2
20664,5805028000003461836,Jane Smith,2023-11-15,B - Medium,Payment Done,NaN,eng/digital-marketing,03.07.23women,0 days 00:09:10,b3,women,Facebook Ads,NaN,Digital Marketing,Morning,2023-07-31 19:33:00,11,11,1000.0,11500.0,5805028000003456878,Düsseldorf,B2,2023-07-31,107.0,51.2277,6.7735,B2
20890,5805028000002926478,Julia Nelson,2023-10-16,C - Low,Lost,Next stream,eng/digital-marketing,work_DE,0 days 00:26:51,b3com,19_07_2023,Telegram posts,NaN,Digital Marketing,Morning,2023-07-24 11:22:00,11,<NA>,1000.0,11000.0,5805028000002895508,Hamburg,b1,2023-07-24,84.0,53.5511,9.9937,B1

In [303]:
# check that the number of lines with filled 'City' and 'Level of Deutsch Cleaned' has increased

# 1. Find duplicates of Contact Name (occurs more than once)
contact_name_duplicate_ids = deals_df['Contact Name'].value_counts()
contact_name_duplicate_ids = contact_name_duplicate_ids[contact_name_duplicate_ids > 1].index

# 2. Filter the lines where Contact Name is in the duplicate list and both fields are not empty
city_level_df = deals_df[deals_df['Contact Name'].isin(contact_name_duplicate_ids) & deals_df['City'].notna() & deals_df['Level of Deutsch Cleaned'].notna()].copy()

city_level_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude,Level of Deutsch Cleaned
53,5805028000056568397,Paula Underwood,NaT,NaN,Registered on Webinar,NaN,/webinar,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-20 12:17:00,<NA>,<NA>,NaN,NaN,5805028000020664131,Prenzlau,NaN,2024-06-20,NaN,53.3167,13.8667,B1
85,5805028000056378468,Ulysses Adams,NaT,NaN,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-19 14:53:00,<NA>,<NA>,NaN,NaN,5805028000027735302,Berlin,NaN,2024-06-19,NaN,52.5160,13.4041,B2
133,5805028000056197613,Julia Nelson,NaT,NaN,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-18 18:11:00,<NA>,<NA>,NaN,NaN,5805028000012569171,Sonneberg,NaN,2024-06-18,NaN,50.3592,11.1746,B1
143,5805028000056174908,Quincy Vincent,NaT,NaN,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-18 17:17:00,<NA>,<NA>,NaN,NaN,5805028000031340270,Düsseldorf,NaN,2024-06-18,NaN,51.2277,6.7735,B1
154,5805028000056187569,Ulysses Adams,NaT,NaN,Registered on Webinar,NaN,/webinar,webinar1906,NaT,NaN,invitation,CRM,NaN,NaN,NaN,2024-06-18 16:41:00,<NA>,<NA>,NaN,NaN,5805028000013860161,Gommern,NaN,2024-06-18,NaN,52.0737,11.8235,B1-B2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21376,5805028000024632568,Julia Nelson,2024-01-08,E - Non Qualified,Lost,Duplicate,/eng,02.07.23wide_DE,0 days 01:55:58,bloggersvideo9com,wide,Facebook Ads,NaN,NaN,NaN,2024-01-07 18:52:00,<NA>,<NA>,NaN,NaN,5805028000024640104,Hannover,NaN,2024-01-07,1.0,52.3759,9.7320,B1
21379,5805028000038064604,Charlie Davis,2024-03-18,E - Non Qualified,Lost,Duplicate,/event,NaN,0 days 01:04:26,NaN,NaN,Webinar,NaN,NaN,NaN,2024-03-18 11:08:00,<NA>,<NA>,NaN,NaN,5805028000027427115,Oberhausen,NaN,2024-03-18,39.0,51.4696,6.8514,B1
21381,5805028000038085086,Paula Underwood,2024-03-18,E - Non Qualified,Lost,Duplicate,/event,NaN,NaT,NaN,NaN,CRM,NaN,NaN,NaN,2024-03-18 08:14:00,<NA>,<NA>,NaN,NaN,5805028000028006930,Hennef,NaN,2024-03-18,31.0,50.7754,7.2831,B2
21389,5805028000046297317,Charlie Davis,2024-04-26,E - Non Qualified,Lost,Duplicate,/eng,webinar1604,NaT,NaN,NaN,SMM,NaN,NaN,NaN,2024-04-24 22:27:00,<NA>,<NA>,NaN,NaN,5805028000033674083,Bremen,NaN,2024-04-24,2.0,53.0834,8.8106,B1
21395,5805028000038067280,Julia Nelson,2024-03-18,E - Non Qualified,Lost,Duplicate,/event,NaN,0 days 01:54:42,NaN,NaN,Organic,NaN,NaN,NaN,2024-03-18 11:04:00,<NA>,<NA>,NaN,NaN,5805028000036951161,Essen,NaN,2024-03-18,0.0,51.4556,7.0116,B1

In [306]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        21411 non-null  object
 1   Deal Owner Name           21382 non-null  object
 2   Closing Date              16685 non-null  datetime64[ns]
 3   Quality                   19158 non-null  category
 4   Stage                     21411 non-null  category
 5   Lost Reason               15942 non-null  category
 6   Page                      20342 non-null  object
 7   Campaign                  16006 non-null  object
 8   SLA                       15504 non-null  timedelta64[ns]
 9   Content                   14101 non-null  object
 10  Term                      12387 non-null  object
 11  Source                    21411 non-null  category
 12  Payment Type              496 non-null    category
 13  Product                   3592 non-null   category
 14  Education Type            3299 non-null   category
 15  Created Time              21411 non-null  datetime64[ns]
 16  Course duration           3587 non-null   Int64
 17  Months of study           840 non-null    Int64
 18  Initial Amount Paid       3289 non-null   float64
 19  Offer Total Amount        3337 non-null   float64
 20  Contact Name              21350 non-null  object
 21  City                      2831 non-null   object
 22  Level of Deutsch          1228 non-null   object
 23  Created Date              21411 non-null  datetime64[ns]
 24  Date Diff                 14495 non-null  float64
 25  Latitude                  2824 non-null   float64
 26  Longitude                 2824 non-null   float64
 27  Level of Deutsch Cleaned  1584 non-null   object
dtypes: Int64(2), category(7), datetime64[ns](3), float64(5), object(10), timedelta64[ns](1)
memory usage: 3.6+ MB

In [307]:
# Transferring values from 'Level of Deutsch Cleaned' to 'Level of Deutsch'

deals_df['Level of Deutsch'] = deals_df['Level of Deutsch Cleaned']

In [308]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        21411 non-null  object
 1   Deal Owner Name           21382 non-null  object
 2   Closing Date              16685 non-null  datetime64[ns]
 3   Quality                   19158 non-null  category
 4   Stage                     21411 non-null  category
 5   Lost Reason               15942 non-null  category
 6   Page                      20342 non-null  object
 7   Campaign                  16006 non-null  object
 8   SLA                       15504 non-null  timedelta64[ns]
 9   Content                   14101 non-null  object
 10  Term                      12387 non-null  object
 11  Source                    21411 non-null  category
 12  Payment Type              496 non-null    category
 13  Product                   3592 non-null   category
 14  Education Type            3299 non-null   category
 15  Created Time              21411 non-null  datetime64[ns]
 16  Course duration           3587 non-null   Int64
 17  Months of study           840 non-null    Int64
 18  Initial Amount Paid       3289 non-null   float64
 19  Offer Total Amount        3337 non-null   float64
 20  Contact Name              21350 non-null  object
 21  City                      2831 non-null   object
 22  Level of Deutsch          1584 non-null   object
 23  Created Date              21411 non-null  datetime64[ns]
 24  Date Diff                 14495 non-null  float64
 25  Latitude                  2824 non-null   float64
 26  Longitude                 2824 non-null   float64
 27  Level of Deutsch Cleaned  1584 non-null   object
dtypes: Int64(2), category(7), datetime64[ns](3), float64(5), object(10), timedelta64[ns](1)
memory usage: 3.6+ MB

In [309]:
deals_df[deals_df['Contact Name']== '5805028000002895508']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff,Latitude,Longitude,Level of Deutsch Cleaned
11878,5805028000027446849,Julia Nelson,2024-01-21,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,NaN,0 days 00:24:32,NaN,NaN,CRM,NaN,NaN,NaN,2024-01-21 17:57:00,<NA>,<NA>,NaN,NaN,5805028000002895508,Hamburg,B1,2024-01-21,0.0,53.5511,9.9937,B1
20890,5805028000002926478,Julia Nelson,2023-10-16,C - Low,Lost,Next stream,eng/digital-marketing,work_DE,0 days 00:26:51,b3com,19_07_2023,Telegram posts,NaN,Digital Marketing,Morning,2023-07-24 11:22:00,11,<NA>,1000.0,11000.0,5805028000002895508,Hamburg,B1,2023-07-24,84.0,53.5511,9.9937,B1

In [310]:
deals_df['Level of Deutsch'] = deals_df['Level of Deutsch'].astype('category')
print(deals_df['Level of Deutsch'].dtype)

category

In [311]:
# Keep the Date Diff column, which may be useful for further calculations, but rename it

deals_df.rename(columns={"Date Diff": "Create_to_Close_Days"}, inplace=True)

In [312]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        21411 non-null  object
 1   Deal Owner Name           21382 non-null  object
 2   Closing Date              16685 non-null  datetime64[ns]
 3   Quality                   19158 non-null  category
 4   Stage                     21411 non-null  category
 5   Lost Reason               15942 non-null  category
 6   Page                      20342 non-null  object
 7   Campaign                  16006 non-null  object
 8   SLA                       15504 non-null  timedelta64[ns]
 9   Content                   14101 non-null  object
 10  Term                      12387 non-null  object
 11  Source                    21411 non-null  category
 12  Payment Type              496 non-null    category
 13  Product                   3592 non-null   category
 14  Education Type            3299 non-null   category
 15  Created Time              21411 non-null  datetime64[ns]
 16  Course duration           3587 non-null   Int64
 17  Months of study           840 non-null    Int64
 18  Initial Amount Paid       3289 non-null   float64
 19  Offer Total Amount        3337 non-null   float64
 20  Contact Name              21350 non-null  object
 21  City                      2831 non-null   object
 22  Level of Deutsch          1584 non-null   category
 23  Created Date              21411 non-null  datetime64[ns]
 24  Create_to_Close_Days      14495 non-null  float64
 25  Latitude                  2824 non-null   float64
 26  Longitude                 2824 non-null   float64
 27  Level of Deutsch Cleaned  1584 non-null   object
dtypes: Int64(2), category(8), datetime64[ns](3), float64(5), object(9), timedelta64[ns](1)
memory usage: 3.5+ MB

In [315]:
# check if there are any negative values that could have appeared before our processing of incorrect Closing Dates that were less than Created Date

deals_df[deals_df['Create_to_Close_Days'] < 0]

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,Latitude,Longitude,Level of Deutsch Cleaned
449,5805028000055502890,Quincy Vincent,2024-06-16,D - Non Target,Lost,Changed Decision,/eng,24.09.23retargeting_DE,0 days 11:22:54,v15,retargeting,Facebook Ads,NaN,NaN,NaN,2024-06-16 00:06:00,<NA>,<NA>,NaN,NaN,5805028000055488584,NaN,NaN,2024-06-16,-5.0,NaN,NaN,None
2065,5805028000051847114,Quincy Vincent,2024-05-25,E - Non Qualified,Lost,Changed Decision,/eng/test,22.05.2024wide_DE,0 days 12:58:43,bloggersvideo18com,wide,Tiktok Ads,NaN,NaN,NaN,2024-05-25 21:29:00,<NA>,<NA>,NaN,NaN,5805028000051866233,NaN,NaN,2024-05-25,-3.0,NaN,NaN,None
2762,5805028000049539444,Julia Nelson,2024-05-12,E - Non Qualified,Lost,Changed Decision,/eng/test,NaN,0 days 00:06:32,NaN,NaN,SMM,NaN,NaN,NaN,2024-05-12 11:19:00,<NA>,<NA>,NaN,NaN,5805028000049438717,NaN,NaN,2024-05-12,-5.0,NaN,NaN,None
2992,5805028000048886321,Oliver Taylor,2024-05-08,C - Low,Payment Done,NaN,NaN,NaN,NaT,NaN,NaN,Organic,Recurring Payments,UX/UI Design,Morning,2024-05-08 15:31:00,11,2,1000.0,11000.0,5805028000048886280,Berlin,B1,2024-05-08,-1.0,52.5160,13.4041,B1
2995,5805028000048883316,Ulysses Adams,2024-05-08,A - High,Lost,Duplicate,/eng,03.07.23women,NaT,v16,women,Facebook Ads,Recurring Payments,UX/UI Design,Morning,2024-05-08 14:48:00,11,<NA>,1000.0,11000.0,5805028000043444319,Neu-Ulm,NaN,2024-05-08,-21.0,48.3928,10.0111,None
3004,5805028000048886160,Oliver Taylor,2024-05-08,C - Low,Payment Done,NaN,NaN,NaN,NaT,NaN,NaN,Organic,NaN,Digital Marketing,Morning,2024-05-08 12:54:00,11,1,1000.0,11000.0,5805028000048886140,Berlin,B1,2024-05-08,-1.0,52.5160,13.4041,B1
3662,5805028000047482214,Paula Underwood,2024-04-30,E - Non Qualified,Lost,Expensive,/eng,12.07.2023wide_DE,0 days 00:24:45,bloggersvideo11,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-30 15:16:00,<NA>,<NA>,NaN,NaN,5805028000047492138,NaN,NaN,2024-04-30,-7.0,NaN,NaN,None
4074,5805028000046234250,Rachel White,2024-04-24,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-04-24 17:30:00,<NA>,<NA>,NaN,NaN,5805028000046193190,NaN,NaN,2024-04-24,-7.0,NaN,NaN,None
4134,5805028000045961466,Paula Underwood,2024-04-23,D - Non Target,Lost,Expensive,/eng/test,12.07.2023wide_DE,0 days 20:38:10,bloggersvideo16com,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-23 21:44:00,<NA>,<NA>,NaN,NaN,5805028000045998344,NaN,NaN,2024-04-23,-5.0,NaN,NaN,None
4398,5805028000045314301,Quincy Vincent,2024-04-21,E - Non Qualified,Lost,Doesn't Answer,/eng,02.07.23wide_DE,0 days 05:17:10,bloggersvideo14com,wide,Facebook Ads,NaN,NaN,NaN,2024-04-21 08:57:00,<NA>,<NA>,NaN,NaN,5805028000045305375,NaN,NaN,2024-04-21,-3.0,NaN,NaN,None
4484,5805028000045245616,Ulysses Adams,2024-04-20,B - Medium,Lost,Doesn't Answer,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,27 days 13:56:25,_{region_name}_,NaN,Google Ads,NaN,Digital Marketing,Morning,2024-04-20 06:19:00,11,<NA>,1000.0,11000.0,5805028000003597256,Eggolsheim,NaN,2024-04-20,-243.0,49.9167,11.0667,None
4758,5805028000044499302,Cara Iverson,2024-04-17,E - Non Qualified,Lost,Invalid number,/pl-eng,20.03.2024wide_PL,NaT,bloggersvideo19com_pl,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-17 09:10:00,<NA>,<NA>,NaN,NaN,5805028000044499235,NaN,NaN,2024-04-17,-5.0,NaN,NaN,None
4865,5805028000044342009,Yara Edwards,2024-04-16,E - Non Qualified,Lost,Invalid number,NaN,brand_search_eng_DE,NaT,152789402780_{region_name}_695563281558,it career hub,Google Ads,NaN,NaN,NaN,2024-04-16 19:30:00,<NA>,<NA>,NaN,NaN,5805028000040234689,NaN,NaN,2024-04-16,-5.0,NaN,NaN,None
4957,5805028000044017980,Ben Hall,2024-04-16,E - Non Qualified,Lost,Changed Decision,/eng,02.07.23wide_DE,0 days 01:58:31,bloggersvideo14com,wide,Facebook Ads,NaN,NaN,NaN,2024-04-16 15:35:00,<NA>,<NA>,NaN,NaN,5805028000044160080,NaN,NaN,2024-04-16,-6.0,NaN,NaN,None
5045,5805028000043980301,Paula Underwood,2024-04-16,E - Non Qualified,Lost,Doesn't Answer,/eng,02.07.23wide_DE,2 days 04:26:30,bloggersvideo14com,wide,Facebook Ads,NaN,NaN,NaN,2024-04-16 07:50:00,<NA>,<NA>,NaN,NaN,5805028000043982060,NaN,NaN,2024-04-16,-5.0,NaN,NaN,None
5446,5805028000043623605,Cara Iverson,2024-04-13,D - Non Target,Lost,Changed Decision,/pl-eng,PL_life,0 days 11:24:26,b3-pl,12_04_2024,Telegram posts,NaN,NaN,NaN,2024-04-13 04:14:00,<NA>,<NA>,NaN,NaN,5805028000043630666,NaN,NaN,2024-04-13,-5.0,NaN,NaN,None
5610,5805028000043408097,Cara Iverson,2024-04-12,D - Non Target,Lost,Doesn't Answer,/eng,12.07.2023wide_DE,0 days 11:36:18,bloggersvideo14com,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-12 01:40:00,<NA>,<NA>,NaN,NaN,5805028000043385265,NaN,NaN,2024-04-12,-3.0,NaN,NaN,None
6159,5805028000042255704,Quincy Vincent,2024-04-07,D - Non Target,Lost,Doesn't Answer,/eng,12.07.2023wide_DE,0 days 03:41:10,bloggersvideo14com,wide,Tiktok Ads,NaN,NaN,NaN,2024-04-07 15:02:00,<NA>,<NA>,NaN,NaN,5805028000042291268,NaN,NaN,2024-04-07,-4.0,NaN,NaN,None
6304,5805028000042015392,Ulysses Adams,2024-04-05,A - High,Payment Done,NaN,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,6 days 08:00:58,_{region_name}_,NaN,Google Ads,Recurring Payments,UX/UI Design,Morning,2024-04-05 10:40:00,11,1,1000.0,11000.0,5805028000009072093,Düren,C1,2024-04-05,-185.0,50.8047,6.4819,C1
7156,5805028000039885153,Julia Nelson,2024-03-26,D - Non Target,Lost,Changed Decision,/direct,NaN,0 days 00:39:39,NaN,NaN,SMM,NaN,NaN,NaN,2024-03-26 16:44:00,<NA>,<NA>,NaN,NaN,5805028000039920131,NaN,NaN,2024-03-26,-7.0,NaN,NaN,None
7556,5805028000038726269,Charlie Davis,2024-03-20,D - Non Target,Lost,Changed Decision,/eng,mu_DE,0 days 02:07:32,NaN,19_03_2024,Bloggers,NaN,NaN,NaN,2024-03-20 12:37:00,<NA>,<NA>,NaN,NaN,5805028000038738285,NaN,NaN,2024-03-20,-7.0,NaN,NaN,None
8562,5805028000035795505,Paula Underwood,2024-03-06,D - Non Target,Lost,Changed Decision,/eng,youtube_shorts_DE,0 days 03:14:22,bloggersvideo10,Com_august,Youtube Ads,NaN,NaN,NaN,2024-03-06 09:15:00,<NA>,<NA>,NaN,NaN,5805028000035782435,NaN,NaN,2024-03-06,-7.0,NaN,NaN,None
8723,5805028000035472715,Victor Barnes,2024-03-04,D - Non Target,Lost,Doesn't Answer,/eng/test,NaN,0 days 02:25:22,NaN,NaN,Organic,NaN,NaN,NaN,2024-03-04 08:17:00,<NA>,<NA>,NaN,NaN,5805028000035509553,NaN,NaN,2024-03-04,-4.0,NaN,NaN,None
8950,5805028000034901649,Ulysses Adams,2024-02-29,E - Non Qualified,Lost,Conditions are not suitable,/eng,performancemax_digitalmarkt_ru_DE,0 days 03:01:40,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2024-02-29 08:54:00,<NA>,<NA>,NaN,NaN,5805028000034915704,NaN,NaN,2024-02-29,-7.0,NaN,NaN,None
8990,5805028000034907064,Charlie Davis,2024-02-28,D - Non Target,Lost,Non target,/eng/test,02.07.23wide_DE,NaT,bloggersvideo11,wide,Facebook Ads,NaN,NaN,NaN,2024-02-28 14:33:00,<NA>,<NA>,NaN,NaN,5805028000034912001,NaN,NaN,2024-02-28,-7.0,NaN,NaN,None
9251,5805028000034004022,Charlie Davis,2024-02-25,E - Non Qualified,Lost,Conditions are not suitable,/eng,12.07.2023wide_DE,0 days 09:52:33,bloggersvideo11,wide,Tiktok Ads,NaN,NaN,NaN,2024-02-25 04:14:00,<NA>,<NA>,NaN,NaN,5805028000033889455,NaN,NaN,2024-02-25,-1.0,NaN,NaN,None
9377,5805028000033525798,Rachel White,2024-02-23,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-02-23 10:29:00,<NA>,<NA>,NaN,NaN,5805028000033646006,NaN,NaN,2024-02-23,-7.0,NaN,NaN,None
9526,5805028000033287611,Rachel White,2024-02-21,E - Non Qualified,Lost,Duplicate,NaN,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-02-21 19:51:00,<NA>,<NA>,NaN,NaN,5805028000033287591,NaN,NaN,2024-02-21,-7.0,NaN,NaN,None
9843,5805028000032566474,Paula Underwood,2024-02-17,E - Non Qualified,Lost,Duplicate,/eng,02.07.23wide_DE,0 days 22:23:52,bloggersvideo11,wide,Facebook Ads,NaN,NaN,NaN,2024-02-17 18:07:00,<NA>,<NA>,NaN,NaN,5805028000032528677,NaN,NaN,2024-02-17,-4.0,NaN,NaN,None
10256,5805028000030992007,Quincy Vincent,2024-02-08,D - Non Target,Lost,Expensive,/eng,24.09.23retargeting_DE,0 days 00:16:39,v11comwebdev,retargeting,Facebook Ads,NaN,NaN,NaN,2024-02-08 17:20:00,<NA>,<NA>,NaN,NaN,5805028000030877879,NaN,NaN,2024-02-08,-7.0,NaN,NaN,None
10302,5805028000030881469,Victor Barnes,2024-02-08,D - Non Target,Lost,Expensive,/direct,NaN,0 days 01:37:08,NaN,NaN,SMM,NaN,NaN,NaN,2024-02-08 12:35:00,<NA>,<NA>,NaN,NaN,5805028000030831406,NaN,NaN,2024-02-08,-7.0,NaN,NaN,None
10433,5805028000030630156,Quincy Vincent,2024-02-07,D - Non Target,Lost,Invalid number,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2024-02-07 17:39:00,<NA>,<NA>,NaN,NaN,5805028000030637199,NaN,NaN,2024-02-07,-7.0,NaN,NaN,None
12427,5805028000025976668,Julia Nelson,2024-01-15,E - Non Qualified,Lost,Doesn't Answer,/eng/ux-ui,12.09.23interests_Uxui_DE,0 days 11:43:30,bloggersvideo5,interest_programming_WebDev,Facebook Ads,NaN,NaN,NaN,2024-01-15 00:43:00,<NA>,<NA>,NaN,NaN,5805028000025976636,NaN,NaN,2024-01-15,-4.0,NaN,NaN,None
13854,5805028000022036007,NaN,2023-12-19,E - Non Qualified,Payment Done,NaN,NaN,NaN,NaT,NaN,NaN,Organic,One Payment,NaN,NaN,2023-12-19 10:37:00,<NA>,<NA>,NaN,NaN,NaN,NaN,NaN,2023-12-19,-171.0,NaN,NaN,NaN
15260,5805028000018706283,Paula Underwood,2023-11-25,C - Low,Lost,Changed Decision,/eng/test,performancemax_digitalmarkt_ru_DE,0 days 15:57:07,_{region_name}_,NaN,Google Ads,NaN,Digital Marketing,Morning,2023-11-25 20:04:00,11,<NA>,1000.0,11000.0,5805028000018704446,Oberndorf am Neckar,B1,2023-11-25,-6.0,48.2948,8.5720,B1
15542,5805028000018163631,Nina Scott,2023-11-21,E - Non Qualified,Lost,Invalid number,/eng,NaN,0 days 22:06:41,NaN,NaN,Organic,NaN,NaN,NaN,2023-11-21 17:55:00,<NA>,<NA>,NaN,NaN,5805028000018148571,NaN,NaN,2023-11-21,-6.0,NaN,NaN,None
17445,5805028000013174103,Charlie Davis,2023-10-21,D - Non Target,Lost,Thought for free,eng/digital-marketing,performancemax_digitalmarkt_ru_DE,NaT,_{region_name}_,NaN,Google Ads,NaN,NaN,NaN,2023-10-21 21:17:00,<NA>,<NA>,NaN,NaN,5805028000013128091,NaN,NaN,2023-10-21,-25.0,NaN,NaN,None
17958,5805028000011322126,Charlie Davis,2023-10-12,D - Non Target,Lost,Stopped Answering,/eng/ux-ui,12.09.23interests_Uxui_DE,0 days 00:31:16,bloggersvideo5,interest_programming_WebDev,Facebook Ads,NaN,NaN,NaN,2023-10-12 18:17:00,<NA>,<NA>,NaN,NaN,5805028000011144141,NaN,NaN,2023-10-12,-16.0,NaN,NaN,None
18061,5805028000010744206,Julia Nelson,2023-10-10,E - Non Qualified,Lost,Doesn't Answer,/eng/ux-ui,blog2_DE,0 days 00:24:24,NaN,10_10_2023,Bloggers,NaN,NaN,NaN,2023-10-10 16:21:00,<NA>,<NA>,NaN,NaN,5805028000010764225,NaN,NaN,2023-10-10,-20.0,NaN,NaN,None
18291,5805028000010282031,Diana Evans,2023-10-05,C - Low,Lost,Considering a different direction in IT,eng/digital-marketing,BloggerShina_DE,0 days 12:20:29,NaN,05_10_2023,Bloggers,NaN,NaN,NaN,2023-10-05 21:51:00,<NA>,<NA>,NaN,NaN,5805028000010282001,NaN,NaN,2023-10-05,-5.0,NaN,NaN,None
18309,5805028000010216149,Charlie Davis,2023-10-05,D - Non Target,Lost,Non target,eng/digital-marketing,BloggerShina_DE,0 days 01:30:05,NaN,05_10_2023,Bloggers,Recurring Payments,Digital Marketing,Morning,2023-10-05 19:02:00,11,<NA>,1000.0,11500.0,5805028000010209081,Helmstedt,NaN,2023-10-05,-11.0,52.2280,11.0098,None
18437,5805028000009789201,Julia Nelson,2023-10-03,E - Non Qualified,Lost,Doesn't Answer,eng/digital-marketing,02.07.23wide_DE,0 days 00:44:33,b8,wide,Facebook Ads,NaN,NaN,NaN,2023-10-03 10:36:00,<NA>,<NA>,NaN,NaN,5805028000009784179,NaN,NaN,2023-10-03,-357.0,NaN,NaN,None
18524,5805028000009682053,Ian Miller,2023-10-02,E - Non Qualified,Lost,Invalid number,eng/digital-marketing,03.07.23women,NaT,bloggersvideo4com,women,Facebook Ads,NaN,NaN,NaN,2023-10-02 09:27:00,<NA>,<NA>,NaN,NaN,5805028000009575662,NaN,NaN,2023-10-02,-7.0,NaN,NaN,None
21390,5805028000038223676,Ulysses Adams,2024-03-19,E - Non Qualified,Lost,Duplicate,/event,NaN,0 days 02:45:47,NaN,NaN,CRM,NaN,NaN,NaN,2024-03-19 10:56:00,<NA>,<NA>,NaN,NaN,5805028000034891733,NaN,NaN,2024-03-19,-7.0,NaN,NaN,None

In [316]:
print((deals_df['Create_to_Close_Days'] < 0).sum())

44

In [317]:
# recalculate such values on the already corrected data Closing Date

deals_df['Create_to_Close_Days'] = (deals_df['Closing Date'] - deals_df['Created Date']).dt.days

In [318]:
print((deals_df['Create_to_Close_Days'] < 0).sum())

0

In [319]:
# Make ranges for SLA for the convenience of further analysis of this indicator

import numpy as np

# Categorize SLA
def sla_category(td):
    if pd.isna(td): # Check: if value is empty (NaT or NaN)
        return np.nan #     return np.nan
    minutes = td.total_seconds() / 60 # Convert timedelta to minutes
#  Determine what range the time falls into
    if minutes <= 5:
        return 'Very fast (≤5 min)'
    elif minutes <= 15:
        return 'Fast (5-15 min)'
    elif minutes <= 30:
        return 'Medium (15-30 min)'
    elif minutes <= 60:
        return 'Slow (30-60 min)'
    else:
        return 'Very slow (>60 min)'

In [320]:
# Create column and applying function

deals_df['SLA_range'] = deals_df['SLA'].apply(sla_category)

In [321]:
deals_df.head(7)

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,Latitude,Longitude,Level of Deutsch Cleaned,SLA_range
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,Facebook Ads,NaN,NaN,NaN,2024-06-21 15:30:00,<NA>,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN,NaN,NaN,None,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,Organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN,NaN,NaN,None,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,21_06_2024,Telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,<NA>,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0,NaN,NaN,None,Medium (15-30 min)
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,recentlymoved,Facebook Ads,NaN,NaN,NaN,2024-06-21 13:32:00,<NA>,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0,NaN,NaN,None,Very slow (>60 min)
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,NaN,Google Ads,NaN,NaN,NaN,2024-06-21 13:21:00,<NA>,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0,NaN,NaN,None,Slow (30-60 min)
5,5805028000056828429,Paula Underwood,NaT,NaN,Need a consultation,NaN,/eng,youtube_shorts_DE,0 days 01:33:10,bloggersvideo2june,Com_august,Youtube Ads,NaN,NaN,NaN,2024-06-21 13:02:00,<NA>,<NA>,NaN,NaN,5805028000056833279,NaN,NaN,2024-06-21,NaN,NaN,NaN,None,Very slow (>60 min)
6,5805028000056893379,Ulysses Adams,NaT,NaN,Need To Call,NaN,eng/digital-marketing,NaN,NaT,NaN,NaN,Organic,NaN,NaN,NaN,2024-06-21 12:52:00,<NA>,<NA>,NaN,NaN,5805028000056832215,NaN,NaN,2024-06-21,NaN,NaN,NaN,None,NaN

In [325]:
print(deals_df['SLA'].dtype)
print(deals_df['SLA_range'].dtype)

timedelta64[ns]
object

In [326]:
deals_df['SLA_range'] = deals_df['SLA_range'].astype('category')
print(deals_df['SLA_range'].dtype)

category

In [328]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 29 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        21411 non-null  object
 1   Deal Owner Name           21382 non-null  object
 2   Closing Date              16685 non-null  datetime64[ns]
 3   Quality                   19158 non-null  category
 4   Stage                     21411 non-null  category
 5   Lost Reason               15942 non-null  category
 6   Page                      20342 non-null  object
 7   Campaign                  16006 non-null  object
 8   SLA                       15504 non-null  timedelta64[ns]
 9   Content                   14101 non-null  object
 10  Term                      12387 non-null  object
 11  Source                    21411 non-null  category
 12  Payment Type              496 non-null    category
 13  Product                   3592 non-null   category
 14  Education Type            3299 non-null   category
 15  Created Time              21411 non-null  datetime64[ns]
 16  Course duration           3587 non-null   Int64
 17  Months of study           840 non-null    Int64
 18  Initial Amount Paid       3289 non-null   float64
 19  Offer Total Amount        3337 non-null   float64
 20  Contact Name              21350 non-null  object
 21  City                      2831 non-null   object
 22  Level of Deutsch          1584 non-null   category
 23  Created Date              21411 non-null  datetime64[ns]
 24  Create_to_Close_Days      16685 non-null  float64
 25  Latitude                  2824 non-null   float64
 26  Longitude                 2824 non-null   float64
 27  Level of Deutsch Cleaned  1584 non-null   object
 28  SLA_range                 15504 non-null  category
dtypes: Int64(2), category(9), datetime64[ns](3), float64(5), object(9), timedelta64[ns](1)
memory usage: 3.5+ MB

In [329]:
# normalize the display of Campaigns and Sources for correct comparison and analysis

deals_df['Campaign'] = deals_df['Campaign'].str.strip().str.lower()
deals_df['Source'] = deals_df['Source'].str.strip().str.lower()

In [330]:
deals_df.head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,Latitude,Longitude,Level of Deutsch Cleaned,SLA_range
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,facebook ads,NaN,NaN,NaN,2024-06-21 15:30:00,<NA>,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN,NaN,NaN,None,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN,NaN,NaN,None,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_at,0 days 00:26:43,b1-at,21_06_2024,telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,<NA>,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0,NaN,NaN,None,Medium (15-30 min)
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_de,0 days 01:00:04,bloggersvideo14com,recentlymoved,facebook ads,NaN,NaN,NaN,2024-06-21 13:32:00,<NA>,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0,NaN,NaN,None,Very slow (>60 min)
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_de,0 days 00:53:12,website,NaN,google ads,NaN,NaN,NaN,2024-06-21 13:21:00,<NA>,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0,NaN,NaN,None,Slow (30-60 min)

In [341]:
deals_df = deals_df.rename(columns={'Level of Deutsch': 'German level'})

In [342]:
deals_df.head()

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,Term,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,German level,Created Date,Create_to_Close_Days,Latitude,Longitude,Level of Deutsch Cleaned,SLA_range
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,women,facebook ads,NaN,NaN,NaN,2024-06-21 15:30:00,<NA>,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN,NaN,NaN,None,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,/at-eng,NaN,NaT,NaN,NaN,organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN,NaN,NaN,None,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_at,0 days 00:26:43,b1-at,21_06_2024,telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,<NA>,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0,NaN,NaN,None,Medium (15-30 min)
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_de,0 days 01:00:04,bloggersvideo14com,recentlymoved,facebook ads,NaN,NaN,NaN,2024-06-21 13:32:00,<NA>,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0,NaN,NaN,None,Very slow (>60 min)
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_de,0 days 00:53:12,website,NaN,google ads,NaN,NaN,NaN,2024-06-21 13:21:00,<NA>,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0,NaN,NaN,None,Slow (30-60 min)

In [344]:
deals_df.to_pickle("deals_cleaned_all_columns.pkl")

In [345]:
# Удаляем колонку
deals_df.drop(columns='Level of Deutsch Cleaned', inplace=True)
deals_df.drop(columns='Page', inplace=True)
deals_df.drop(columns='Content', inplace=True)
deals_df.drop(columns='Term', inplace=True)
deals_df.drop(columns='Created Date', inplace=True)

In [347]:
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Campaign,SLA,Source,Payment Type,Product,Education Type,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,German level,Create_to_Close_Days,Latitude,Longitude,SLA_range
0,5805028000056864695,Ben Hall,NaT,NaN,New Lead,NaN,03.07.23women,NaT,facebook ads,NaN,NaN,NaN,2024-06-21 15:30:00,<NA>,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,NaN,NaN,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,NaN,New Lead,NaN,NaN,NaT,organic,NaN,Web Developer,Morning,2024-06-21 15:23:00,6,<NA>,NaN,2000.0,5805028000056834471,NaN,NaN,NaN,NaN,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,engwien_at,0 days 00:26:43,telegram posts,NaN,NaN,NaN,2024-06-21 14:45:00,<NA>,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,0.0,NaN,NaN,Medium (15-30 min)
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,04.07.23recentlymoved_de,0 days 01:00:04,facebook ads,NaN,NaN,NaN,2024-06-21 13:32:00,<NA>,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,0.0,NaN,NaN,Very slow (>60 min)
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,discovery_de,0 days 00:53:12,google ads,NaN,NaN,NaN,2024-06-21 13:21:00,<NA>,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,0.0,NaN,NaN,Slow (30-60 min)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,NaN,0 days 05:35:41,organic,NaN,NaN,NaN,2024-05-15 08:50:00,<NA>,<NA>,NaN,NaN,5805028000049855125,NaN,NaN,0.0,NaN,NaN,Very slow (>60 min)
21407,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,NaN,NaT,organic,NaN,NaN,NaN,2024-06-06 18:45:00,<NA>,<NA>,NaN,NaN,5805028000053705642,NaN,NaN,0.0,NaN,NaN,NaN
21408,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,brand_search_eng_de,0 days 04:30:17,google ads,NaN,NaN,NaN,2024-06-12 05:46:00,<NA>,<NA>,NaN,NaN,5805028000054480760,NaN,NaN,0.0,NaN,NaN,Very slow (>60 min)
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,NaN,0 days 00:01:46,organic,NaN,NaN,NaN,2024-06-20 13:49:00,<NA>,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,0.0,NaN,NaN,Very fast (≤5 min)
21410,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,NaN,NaT,organic,NaN,NaN,NaN,2024-06-20 17:36:00,<NA>,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,0.0,NaN,NaN,NaN

In [348]:
deals_df.to_pickle("deals_cleaned.pkl")

## Spend

In [349]:
import pandas as pd

# Download Excel file

spend_df = pd.read_excel('Spend (Done).xlsx')

In [350]:
spend_df

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,Google Ads,gen_analyst_DE,6,0.00,0,NaN,NaN
1,2023-07-03,Google Ads,performancemax_eng_DE,4,0.01,1,NaN,NaN
2,2023-07-03,Facebook Ads,NaN,0,0.00,0,NaN,NaN
3,2023-07-03,Google Ads,NaN,0,0.00,0,NaN,NaN
4,2023-07-03,CRM,NaN,0,0.00,0,NaN,NaN
...,...,...,...,...,...,...,...,...
20774,2024-06-21,Facebook Ads,17.03.24wide_AT,7,0.07,0,wide,bloggersvideo16com_at
20775,2024-06-21,Tiktok Ads,12.07.2023wide_DE,61,0.16,0,wide,bloggersvideo14com
20776,2024-06-21,Partnership,NaN,0,0.00,0,NaN,NaN
20777,2024-06-21,Tiktok Ads,NaN,0,0.00,0,NaN,NaN
20778,2024-06-21,Facebook Ads,04.07.23recentlymoved_DE,7,0.05,1,recentlymoved,bloggersvideo14com

In [351]:
spend_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20779 entries, 0 to 20778
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         20779 non-null  datetime64[ns]
 1   Source       20779 non-null  object
 2   Campaign     14785 non-null  object
 3   Impressions  20779 non-null  int64
 4   Spend        20779 non-null  float64
 5   Clicks       20779 non-null  int64
 6   AdGroup      13951 non-null  object
 7   Ad           13951 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(4)
memory usage: 1.3+ MB

In [352]:
spend_df.isnull().sum()

Date              0
Source            0
Campaign       5994
Impressions       0
Spend             0
Clicks            0
AdGroup        6828
Ad             6828
dtype: int64

In [353]:
# Replaces cells that are:
# - completely empty ('')
# - contain only spaces (' ')
# with NaN.
import numpy as np

spend_df = spend_df.replace(r'^\s*$', np.nan, regex=True)
spend_df.isnull().sum()

Date              0
Source            0
Campaign       5994
Impressions       0
Spend             0
Clicks            0
AdGroup        6828
Ad             6828
dtype: int64

In [354]:
spend_df.nunique()

Date            355
Source           14
Campaign         51
Impressions    4003
Spend          2859
Clicks          552
AdGroup          24
Ad              176
dtype: int64

In [355]:
spend_df[spend_df.duplicated()]

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
755,2023-07-23,Bloggers,NaN,0,0.0,0,NaN,NaN
789,2023-07-24,Bloggers,NaN,0,0.0,0,NaN,NaN
844,2023-07-25,Bloggers,NaN,0,0.0,0,NaN,NaN
899,2023-07-26,Bloggers,NaN,0,0.0,0,NaN,NaN
958,2023-07-27,Bloggers,NaN,0,0.0,0,NaN,NaN
...,...,...,...,...,...,...,...,...
20745,2024-06-21,Bloggers,NaN,0,0.0,0,NaN,NaN
20746,2024-06-21,Facebook Ads,NaN,0,0.0,0,NaN,NaN
20750,2024-06-21,SMM,NaN,0,0.0,0,NaN,NaN
20764,2024-06-21,Telegram posts,NaN,0,0.0,0,NaN,NaN
20773,2024-06-21,Organic,NaN,0,0.0,0,NaN,NaN

In [356]:
# Find duplicates
duplicates_spend = spend_df[spend_df.duplicated(keep=False)]

# Save in Excel
duplicates_spend.to_excel("duplicates_spend.xlsx", index=False)

In [357]:
# delete one match for duplicates and leave the second value

spend_df = spend_df.drop_duplicates(keep='first').reset_index(drop=True)

In [359]:
spend_df

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,Google Ads,gen_analyst_DE,6,0.00,0,NaN,NaN
1,2023-07-03,Google Ads,performancemax_eng_DE,4,0.01,1,NaN,NaN
2,2023-07-03,Facebook Ads,NaN,0,0.00,0,NaN,NaN
3,2023-07-03,Google Ads,NaN,0,0.00,0,NaN,NaN
4,2023-07-03,CRM,NaN,0,0.00,0,NaN,NaN
...,...,...,...,...,...,...,...,...
19857,2024-06-21,Facebook Ads,17.03.24wide_AT,7,0.07,0,wide,bloggersvideo16com_at
19858,2024-06-21,Tiktok Ads,12.07.2023wide_DE,61,0.16,0,wide,bloggersvideo14com
19859,2024-06-21,Partnership,NaN,0,0.00,0,NaN,NaN
19860,2024-06-21,Tiktok Ads,NaN,0,0.00,0,NaN,NaN
19861,2024-06-21,Facebook Ads,04.07.23recentlymoved_DE,7,0.05,1,recentlymoved,bloggersvideo14com

In [360]:
spend_df.isnull().sum()

Date              0
Source            0
Campaign       5077
Impressions       0
Spend             0
Clicks            0
AdGroup        5911
Ad             5911
dtype: int64

In [361]:
spend_df[spend_df.duplicated()]

Empty DataFrame
Columns: [Date, Source, Campaign, Impressions, Spend, Clicks, AdGroup, Ad]
Index: []

In [362]:
# Leave the lines where at least one metric is not equal to zero, because if all these parameters are empty, then the line is of no use to us, we select the rest
# and save the lines for deletion in a separate DataFrame
removed_rows_spend = spend_df[
    (spend_df['Spend'] == 0) & 
    (spend_df['Clicks'] == 0) & 
    (spend_df['Impressions'] == 0)
]
removed_rows_spend

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
2,2023-07-03,Facebook Ads,NaN,0,0.0,0,NaN,NaN
3,2023-07-03,Google Ads,NaN,0,0.0,0,NaN,NaN
4,2023-07-03,CRM,NaN,0,0.0,0,NaN,NaN
7,2023-07-03,Bloggers,NaN,0,0.0,0,NaN,NaN
8,2023-07-03,Youtube Ads,NaN,0,0.0,0,NaN,NaN
...,...,...,...,...,...,...,...,...
19833,2024-06-21,Radio,NaN,0,0.0,0,NaN,NaN
19835,2024-06-21,Webinar,08.04.24wide_webinar_DE,0,0.0,0,wide,v7webinar
19854,2024-06-21,Organic,NaN,0,0.0,0,NaN,NaN
19859,2024-06-21,Partnership,NaN,0,0.0,0,NaN,NaN
19860,2024-06-21,Tiktok Ads,NaN,0,0.0,0,NaN,NaN

In [364]:
# Save deleted rows in Excel

removed_rows_spend.to_excel('removed_rows.xlsx', index=False)

In [366]:
# Remove rows with null values from spend_df
# Use .loc to modify the original DataFrame, avoiding warnings

spend_df = spend_df.loc[
    (spend_df['Spend'] != 0) | 
    (spend_df['Clicks'] != 0) | 
    (spend_df['Impressions'] != 0)
].copy().reset_index(drop=True)

In [367]:
spend_df

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,Google Ads,gen_analyst_DE,6,0.00,0,NaN,NaN
1,2023-07-03,Google Ads,performancemax_eng_DE,4,0.01,1,NaN,NaN
2,2023-07-03,Facebook Ads,03.07.23women,187,3.30,6,women,b3
3,2023-07-03,Facebook Ads,03.07.23women,4,0.02,1,women,b1
4,2023-07-03,Facebook Ads,02.07.23wide_DE,61,0.58,0,wide,b4
...,...,...,...,...,...,...,...,...
16395,2024-06-21,Tiktok Ads,22.05.2024wide_DE,7,0.03,0,wide,bloggersvideo18com
16396,2024-06-21,Youtube Ads,youtube_shorts_DE,90,0.51,2,Com_august,bloggersvideo3june
16397,2024-06-21,Facebook Ads,17.03.24wide_AT,7,0.07,0,wide,bloggersvideo16com_at
16398,2024-06-21,Tiktok Ads,12.07.2023wide_DE,61,0.16,0,wide,bloggersvideo14com
16399,2024-06-21,Facebook Ads,04.07.23recentlymoved_DE,7,0.05,1,recentlymoved,bloggersvideo14com

In [368]:
spend_df.dtypes

Date           datetime64[ns]
Source                 object
Campaign               object
Impressions             int64
Spend                 float64
Clicks                  int64
AdGroup                object
Ad                     object
dtype: object

In [369]:
spend_df.nunique()

Date            355
Source           14
Campaign         51
Impressions    4003
Spend          2859
Clicks          552
AdGroup          24
Ad              176
dtype: int64

In [370]:
spend_df.isnull().sum()

Date              0
Source            0
Campaign       2196
Impressions       0
Spend             0
Clicks            0
AdGroup        3030
Ad             3030
dtype: int64

In [371]:
#  Clean up and format the following text columns

spend_df['Source'] = spend_df['Source'].str.strip().str.lower().str.replace(r'\s+', ' ', regex=True)
spend_df['Campaign'] = spend_df['Campaign'].str.strip().str.lower().str.replace(r'\s+', ' ', regex=True)
spend_df['AdGroup'] = spend_df['AdGroup'].str.strip().str.lower().str.replace(r'\s+', ' ', regex=True)
spend_df['Ad'] = spend_df['Ad'].str.strip().str.lower().str.replace(r'\s+', ' ', regex=True)
spend_df

,Date,Source,Campaign,Impressions,Spend,Clicks,AdGroup,Ad
0,2023-07-03,google ads,gen_analyst_de,6,0.00,0,NaN,NaN
1,2023-07-03,google ads,performancemax_eng_de,4,0.01,1,NaN,NaN
2,2023-07-03,facebook ads,03.07.23women,187,3.30,6,women,b3
3,2023-07-03,facebook ads,03.07.23women,4,0.02,1,women,b1
4,2023-07-03,facebook ads,02.07.23wide_de,61,0.58,0,wide,b4
...,...,...,...,...,...,...,...,...
16395,2024-06-21,tiktok ads,22.05.2024wide_de,7,0.03,0,wide,bloggersvideo18com
16396,2024-06-21,youtube ads,youtube_shorts_de,90,0.51,2,com_august,bloggersvideo3june
16397,2024-06-21,facebook ads,17.03.24wide_at,7,0.07,0,wide,bloggersvideo16com_at
16398,2024-06-21,tiktok ads,12.07.2023wide_de,61,0.16,0,wide,bloggersvideo14com
16399,2024-06-21,facebook ads,04.07.23recentlymoved_de,7,0.05,1,recentlymoved,bloggersvideo14com

In [373]:
# changing data type

spend_df['Source'] = spend_df['Source'].astype('category')

In [374]:
spend_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16400 entries, 0 to 16399
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         16400 non-null  datetime64[ns]
 1   Source       16400 non-null  category
 2   Campaign     14204 non-null  object
 3   Impressions  16400 non-null  int64
 4   Spend        16400 non-null  float64
 5   Clicks       16400 non-null  int64
 6   AdGroup      13370 non-null  object
 7   Ad           13370 non-null  object
dtypes: category(1), datetime64[ns](1), float64(1), int64(2), object(3)
memory usage: 913.7+ KB

In [375]:
# Drop the column that is not useful for further analysis.
spend_df.drop(columns='Ad', inplace=True)

In [376]:
spend_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16400 entries, 0 to 16399
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         16400 non-null  datetime64[ns]
 1   Source       16400 non-null  category
 2   Campaign     14204 non-null  object
 3   Impressions  16400 non-null  int64
 4   Spend        16400 non-null  float64
 5   Clicks       16400 non-null  int64
 6   AdGroup      13370 non-null  object
dtypes: category(1), datetime64[ns](1), float64(1), int64(2), object(2)
memory usage: 785.5+ KB

In [377]:
spend_df.to_pickle("spend_cleaned.pkl")

## Contacts

In [378]:
import pandas as pd

# Download Excel file
dtype_dict = {
    'Id': 'str'
}

contacts_df = pd.read_excel('Contacts (Done).xlsx', dtype=dtype_dict)

In [379]:
contacts_df

,Id,Contact Owner Name,Created Time,Modified Time
0,5805028000000645014,Rachel White,27.06.2023 11:28,22.12.2023 13:34
1,5805028000000872003,Charlie Davis,03.07.2023 11:31,21.05.2024 10:23
2,5805028000000889001,Bob Brown,02.07.2023 22:37,21.12.2023 13:17
3,5805028000000907006,Bob Brown,03.07.2023 05:44,29.12.2023 15:20
4,5805028000000939010,Nina Scott,04.07.2023 10:11,16.04.2024 16:14
...,...,...,...,...
18543,5805028000056889209,Ulysses Adams,21.06.2024 12:11,21.06.2024 14:11
18544,5805028000056889351,Eva Kent,21.06.2024 13:32,21.06.2024 15:32
18545,5805028000056892018,Eva Kent,21.06.2024 10:21,21.06.2024 12:21
18546,5805028000056892055,Yara Edwards,21.06.2024 10:22,21.06.2024 12:23
18547,5805028000056907001,Ben Hall,21.06.2024 10:56,21.06.2024 12:56

In [380]:
contacts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18548 entries, 0 to 18547
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  18548 non-null  object
 1   Contact Owner Name  18548 non-null  object
 2   Created Time        18548 non-null  object
 3   Modified Time       18548 non-null  object
dtypes: object(4)
memory usage: 579.8+ KB

In [381]:
contacts_df.nunique()

Id                    18548
Contact Owner Name       28
Created Time          17921
Modified Time         16580
dtype: int64

In [382]:
# check if there are full duplicates 

contacts_df[contacts_df.duplicated()]

Empty DataFrame
Columns: [Id, Contact Owner Name, Created Time, Modified Time]
Index: []

In [383]:
# check if there are duplicates by Id

contacts_df[contacts_df.duplicated(subset='Id', keep=False)]

Empty DataFrame
Columns: [Id, Contact Owner Name, Created Time, Modified Time]
Index: []

In [384]:
# Convert columns to datetime

contacts_df['Created Time'] = pd.to_datetime(contacts_df['Created Time'], errors = 'coerce', dayfirst=True)
contacts_df['Modified Time'] = pd.to_datetime(contacts_df['Modified Time'], errors = 'coerce', dayfirst=True)

In [385]:
contacts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18548 entries, 0 to 18547
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  18548 non-null  object
 1   Contact Owner Name  18548 non-null  object
 2   Created Time        18548 non-null  datetime64[ns]
 3   Modified Time       18548 non-null  datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 579.8+ KB

In [386]:
# Removes spaces from the beginning and end of a line, replaces any consecutive spaces (including tabs, etc.) with a single space, converts a line to a format where each new word is capitalized
contacts_df.loc[:, 'Contact Owner Name'] = contacts_df['Contact Owner Name'].str.strip().str.replace(r'\s+', ' ', regex=True).str.title()
contacts_df

,Id,Contact Owner Name,Created Time,Modified Time
0,5805028000000645014,Rachel White,2023-06-27 11:28:00,2023-12-22 13:34:00
1,5805028000000872003,Charlie Davis,2023-07-03 11:31:00,2024-05-21 10:23:00
2,5805028000000889001,Bob Brown,2023-07-02 22:37:00,2023-12-21 13:17:00
3,5805028000000907006,Bob Brown,2023-07-03 05:44:00,2023-12-29 15:20:00
4,5805028000000939010,Nina Scott,2023-07-04 10:11:00,2024-04-16 16:14:00
...,...,...,...,...
18543,5805028000056889209,Ulysses Adams,2024-06-21 12:11:00,2024-06-21 14:11:00
18544,5805028000056889351,Eva Kent,2024-06-21 13:32:00,2024-06-21 15:32:00
18545,5805028000056892018,Eva Kent,2024-06-21 10:21:00,2024-06-21 12:21:00
18546,5805028000056892055,Yara Edwards,2024-06-21 10:22:00,2024-06-21 12:23:00
18547,5805028000056907001,Ben Hall,2024-06-21 10:56:00,2024-06-21 12:56:00

In [387]:
contacts_df.nunique()

Id                    18548
Contact Owner Name       27
Created Time          17921
Modified Time         16580
dtype: int64

In [388]:
contacts_df.isnull().sum()

Id                    0
Contact Owner Name    1
Created Time          0
Modified Time         0
dtype: int64

In [389]:
contacts_df[contacts_df['Contact Owner Name'].isna()]

,Id,Contact Owner Name,Created Time,Modified Time
2197,5805028000008772190,NaN,2023-09-24 09:01:00,2023-10-13 16:44:00

In [390]:
contacts_df.to_pickle("contacts_cleaned.pkl")