In [1]:
import pandas as pd

In [1]:
import pandas as pd

# Загрузка Excel-файла с явным указанием типа данных
dtype_dict = {
    'Id': 'str',
    'CONTACTID': 'str',
}

calls_df = pd.read_excel('Calls (Done).xlsx', dtype=dtype_dict)

In [2]:
calls_df

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag
0,5805028000000805001,30.06.2023 08:43,John Doe,NaN,Inbound,171.0,Received,NaN,NaN,NaN,NaN
1,5805028000000768006,30.06.2023 08:46,John Doe,NaN,Outbound,28.0,Attended Dialled,NaN,Completed,0.0,NaN
2,5805028000000764027,30.06.2023 08:59,John Doe,NaN,Outbound,24.0,Attended Dialled,NaN,Completed,0.0,NaN
3,5805028000000787003,30.06.2023 09:20,John Doe,5805028000000645014,Outbound,6.0,Attended Dialled,NaN,Completed,0.0,NaN
4,5805028000000768019,30.06.2023 09:30,John Doe,5805028000000645014,Outbound,11.0,Attended Dialled,NaN,Completed,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95869,5805028000056889515,21.06.2024 15:30,Ulysses Adams,5805028000056564231,Outbound,6.0,Attended Dialled,NaN,Completed,0.0,NaN
95870,5805028000056875317,21.06.2024 15:30,Victor Barnes,5805028000054867023,Outbound,8.0,Attended Dialled,NaN,Completed,0.0,NaN
95871,5805028000056832495,21.06.2024 15:30,Kevin Parker,5805028000010617278,Outbound,5.0,Attended Dialled,NaN,Completed,0.0,NaN
95872,5805028000056893619,21.06.2024 15:30,Victor Barnes,5805028000056839048,Outbound,0.0,Unattended Dialled,NaN,Completed,0.0,NaN
95873,5805028000056893631,21.06.2024 15:31,John Doe,NaN,Missed,0.0,Missed,NaN,NaN,NaN,NaN

In [3]:
calls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95874 entries, 0 to 95873
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          95874 non-null  object
 1   Call Start Time             95874 non-null  object
 2   Call Owner Name             95874 non-null  object
 3   CONTACTID                   91941 non-null  object
 4   Call Type                   95874 non-null  object
 5   Call Duration (in seconds)  95791 non-null  float64
 6   Call Status                 95874 non-null  object
 7   Dialled Number              0 non-null      float64
 8   Outgoing Call Status        86875 non-null  object
 9   Scheduled in CRM            86875 non-null  float64
 10  Tag                         0 non-null      float64
dtypes: float64(4), object(7)
memory usage: 8.0+ MB

In [4]:
calls_df.isnull().sum()

Id                                0
Call Start Time                   0
Call Owner Name                   0
CONTACTID                      3933
Call Type                         0
Call Duration (in seconds)       83
Call Status                       0
Dialled Number                95874
Outgoing Call Status           8999
Scheduled in CRM               8999
Tag                           95874
dtype: int64

In [5]:
# Заменяет ячейки, которые:
# - полностью пустые ('')
# - содержат только пробелы (' ')
# на NaN.
import numpy as np

calls_df = calls_df.replace(r'^\s*$', np.nan, regex=True)
calls_df.isnull().sum()

Id                                0
Call Start Time                   0
Call Owner Name                   0
CONTACTID                      3933
Call Type                         0
Call Duration (in seconds)       83
Call Status                       0
Dialled Number                95874
Outgoing Call Status           8999
Scheduled in CRM               8999
Tag                           95874
dtype: int64

In [6]:
calls_df[(calls_df["Scheduled in CRM"] != 0.0) & (calls_df["Scheduled in CRM"].notna())]

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag
21711,5805028000012419809,15.11.2023 15:00,Kevin Parker,NaN,Outbound,NaN,Cancelled,NaN,Cancelled,1.0,NaN
28245,5805028000012419139,12.12.2023 16:44,Kevin Parker,NaN,Outbound,0.0,Scheduled Unattended,NaN,Completed,1.0,NaN
36095,5805028000012419971,15.01.2024 15:00,Kevin Parker,NaN,Outbound,NaN,Overdue,NaN,Overdue,1.0,NaN
36096,5805028000012419512,15.01.2024 15:00,Kevin Parker,NaN,Outbound,NaN,Overdue,NaN,Overdue,1.0,NaN
37393,5805028000026875077,18.01.2024 15:39,Victor Barnes,NaN,Outbound,0.0,Scheduled Unattended,NaN,Completed,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
89073,5805028000053636072,05.06.2024 17:00,Victor Barnes,NaN,Outbound,NaN,Overdue,NaN,Overdue,1.0,NaN
89257,5805028000053651109,06.06.2024 07:00,Victor Barnes,NaN,Outbound,NaN,Cancelled,NaN,Cancelled,1.0,NaN
92959,5805028000055092068,14.06.2024 16:00,Victor Barnes,NaN,Outbound,NaN,Scheduled,NaN,Scheduled,1.0,NaN
93676,5805028000055626456,17.06.2024 10:00,Victor Barnes,NaN,Outbound,NaN,Scheduled,NaN,Scheduled,1.0,NaN
95868,5805028000056912329,21.06.2024 15:30,Victor Barnes,NaN,Outbound,NaN,Scheduled,NaN,Scheduled,1.0,NaN

In [7]:
calls_df["Scheduled in CRM"] = calls_df["Scheduled in CRM"].astype("boolean")
calls_df

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag
0,5805028000000805001,30.06.2023 08:43,John Doe,NaN,Inbound,171.0,Received,NaN,NaN,<NA>,NaN
1,5805028000000768006,30.06.2023 08:46,John Doe,NaN,Outbound,28.0,Attended Dialled,NaN,Completed,False,NaN
2,5805028000000764027,30.06.2023 08:59,John Doe,NaN,Outbound,24.0,Attended Dialled,NaN,Completed,False,NaN
3,5805028000000787003,30.06.2023 09:20,John Doe,5805028000000645014,Outbound,6.0,Attended Dialled,NaN,Completed,False,NaN
4,5805028000000768019,30.06.2023 09:30,John Doe,5805028000000645014,Outbound,11.0,Attended Dialled,NaN,Completed,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95869,5805028000056889515,21.06.2024 15:30,Ulysses Adams,5805028000056564231,Outbound,6.0,Attended Dialled,NaN,Completed,False,NaN
95870,5805028000056875317,21.06.2024 15:30,Victor Barnes,5805028000054867023,Outbound,8.0,Attended Dialled,NaN,Completed,False,NaN
95871,5805028000056832495,21.06.2024 15:30,Kevin Parker,5805028000010617278,Outbound,5.0,Attended Dialled,NaN,Completed,False,NaN
95872,5805028000056893619,21.06.2024 15:30,Victor Barnes,5805028000056839048,Outbound,0.0,Unattended Dialled,NaN,Completed,False,NaN
95873,5805028000056893631,21.06.2024 15:31,John Doe,NaN,Missed,0.0,Missed,NaN,NaN,<NA>,NaN

In [8]:
calls_df.dtypes

Id                             object
Call Start Time                object
Call Owner Name                object
CONTACTID                      object
Call Type                      object
Call Duration (in seconds)    float64
Call Status                    object
Dialled Number                float64
Outgoing Call Status           object
Scheduled in CRM              boolean
Tag                           float64
dtype: object

In [9]:
calls_df[(calls_df["Scheduled in CRM"] != False) & (calls_df["Scheduled in CRM"].notna())]

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag
21711,5805028000012419809,15.11.2023 15:00,Kevin Parker,NaN,Outbound,NaN,Cancelled,NaN,Cancelled,True,NaN
28245,5805028000012419139,12.12.2023 16:44,Kevin Parker,NaN,Outbound,0.0,Scheduled Unattended,NaN,Completed,True,NaN
36095,5805028000012419971,15.01.2024 15:00,Kevin Parker,NaN,Outbound,NaN,Overdue,NaN,Overdue,True,NaN
36096,5805028000012419512,15.01.2024 15:00,Kevin Parker,NaN,Outbound,NaN,Overdue,NaN,Overdue,True,NaN
37393,5805028000026875077,18.01.2024 15:39,Victor Barnes,NaN,Outbound,0.0,Scheduled Unattended,NaN,Completed,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...
89073,5805028000053636072,05.06.2024 17:00,Victor Barnes,NaN,Outbound,NaN,Overdue,NaN,Overdue,True,NaN
89257,5805028000053651109,06.06.2024 07:00,Victor Barnes,NaN,Outbound,NaN,Cancelled,NaN,Cancelled,True,NaN
92959,5805028000055092068,14.06.2024 16:00,Victor Barnes,NaN,Outbound,NaN,Scheduled,NaN,Scheduled,True,NaN
93676,5805028000055626456,17.06.2024 10:00,Victor Barnes,NaN,Outbound,NaN,Scheduled,NaN,Scheduled,True,NaN
95868,5805028000056912329,21.06.2024 15:30,Victor Barnes,NaN,Outbound,NaN,Scheduled,NaN,Scheduled,True,NaN

In [10]:
calls_df[(calls_df["Scheduled in CRM"] != True) & (calls_df["Scheduled in CRM"].notna())]

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag
1,5805028000000768006,30.06.2023 08:46,John Doe,NaN,Outbound,28.0,Attended Dialled,NaN,Completed,False,NaN
2,5805028000000764027,30.06.2023 08:59,John Doe,NaN,Outbound,24.0,Attended Dialled,NaN,Completed,False,NaN
3,5805028000000787003,30.06.2023 09:20,John Doe,5805028000000645014,Outbound,6.0,Attended Dialled,NaN,Completed,False,NaN
4,5805028000000768019,30.06.2023 09:30,John Doe,5805028000000645014,Outbound,11.0,Attended Dialled,NaN,Completed,False,NaN
5,5805028000000790004,30.06.2023 12:09,John Doe,5805028000000645014,Outbound,12.0,Attended Dialled,NaN,Completed,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...
95867,5805028000056839488,21.06.2024 15:29,Ulysses Adams,5805028000056564231,Outbound,5.0,Attended Dialled,NaN,Completed,False,NaN
95869,5805028000056889515,21.06.2024 15:30,Ulysses Adams,5805028000056564231,Outbound,6.0,Attended Dialled,NaN,Completed,False,NaN
95870,5805028000056875317,21.06.2024 15:30,Victor Barnes,5805028000054867023,Outbound,8.0,Attended Dialled,NaN,Completed,False,NaN
95871,5805028000056832495,21.06.2024 15:30,Kevin Parker,5805028000010617278,Outbound,5.0,Attended Dialled,NaN,Completed,False,NaN
95872,5805028000056893619,21.06.2024 15:30,Victor Barnes,5805028000056839048,Outbound,0.0,Unattended Dialled,NaN,Completed,False,NaN

In [11]:
calls_df.nunique()

Id                            95874
Call Start Time               68445
Call Owner Name                  33
CONTACTID                     15214
Call Type                         3
Call Duration (in seconds)     2619
Call Status                      11
Dialled Number                    0
Outgoing Call Status              4
Scheduled in CRM                  2
Tag                               0
dtype: int64

In [12]:
calls_df[calls_df.duplicated()]

Empty DataFrame
Columns: [Id, Call Start Time, Call Owner Name, CONTACTID, Call Type, Call Duration (in seconds), Call Status, Dialled Number, Outgoing Call Status, Scheduled in CRM, Tag]
Index: []

In [13]:
calls_df[calls_df.duplicated(subset='Id', keep=False)]

Empty DataFrame
Columns: [Id, Call Start Time, Call Owner Name, CONTACTID, Call Type, Call Duration (in seconds), Call Status, Dialled Number, Outgoing Call Status, Scheduled in CRM, Tag]
Index: []

In [14]:
calls_df.index

RangeIndex(start=0, stop=95874, step=1)

In [15]:
calls_df.dtypes

Id                             object
Call Start Time                object
Call Owner Name                object
CONTACTID                      object
Call Type                      object
Call Duration (in seconds)    float64
Call Status                    object
Dialled Number                float64
Outgoing Call Status           object
Scheduled in CRM              boolean
Tag                           float64
dtype: object

In [16]:
calls_df.head()

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag
0,5805028000000805001,30.06.2023 08:43,John Doe,NaN,Inbound,171.0,Received,NaN,NaN,<NA>,NaN
1,5805028000000768006,30.06.2023 08:46,John Doe,NaN,Outbound,28.0,Attended Dialled,NaN,Completed,False,NaN
2,5805028000000764027,30.06.2023 08:59,John Doe,NaN,Outbound,24.0,Attended Dialled,NaN,Completed,False,NaN
3,5805028000000787003,30.06.2023 09:20,John Doe,5805028000000645014,Outbound,6.0,Attended Dialled,NaN,Completed,False,NaN
4,5805028000000768019,30.06.2023 09:30,John Doe,5805028000000645014,Outbound,11.0,Attended Dialled,NaN,Completed,False,NaN

In [17]:
calls_df['Call Data'] = calls_df['Call Start Time'].str.split().str.get(0)
calls_df['Start Time Of Call'] =  calls_df['Call Start Time'].str.split().str.get(1)
calls_df.head()

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag,Call Data,Start Time Of Call
0,5805028000000805001,30.06.2023 08:43,John Doe,NaN,Inbound,171.0,Received,NaN,NaN,<NA>,NaN,30.06.2023,08:43
1,5805028000000768006,30.06.2023 08:46,John Doe,NaN,Outbound,28.0,Attended Dialled,NaN,Completed,False,NaN,30.06.2023,08:46
2,5805028000000764027,30.06.2023 08:59,John Doe,NaN,Outbound,24.0,Attended Dialled,NaN,Completed,False,NaN,30.06.2023,08:59
3,5805028000000787003,30.06.2023 09:20,John Doe,5805028000000645014,Outbound,6.0,Attended Dialled,NaN,Completed,False,NaN,30.06.2023,09:20
4,5805028000000768019,30.06.2023 09:30,John Doe,5805028000000645014,Outbound,11.0,Attended Dialled,NaN,Completed,False,NaN,30.06.2023,09:30

In [18]:
calls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95874 entries, 0 to 95873
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          95874 non-null  object
 1   Call Start Time             95874 non-null  object
 2   Call Owner Name             95874 non-null  object
 3   CONTACTID                   91941 non-null  object
 4   Call Type                   95874 non-null  object
 5   Call Duration (in seconds)  95791 non-null  float64
 6   Call Status                 95874 non-null  object
 7   Dialled Number              0 non-null      float64
 8   Outgoing Call Status        86875 non-null  object
 9   Scheduled in CRM            86875 non-null  boolean
 10  Tag                         0 non-null      float64
 11  Call Data                   95874 non-null  object
 12  Start Time Of Call          95874 non-null  object
dtypes: boolean(1), float64(3), object(9)
memory usage: 9.0+ MB

In [19]:
calls_df.isnull().sum()

Id                                0
Call Start Time                   0
Call Owner Name                   0
CONTACTID                      3933
Call Type                         0
Call Duration (in seconds)       83
Call Status                       0
Dialled Number                95874
Outgoing Call Status           8999
Scheduled in CRM               8999
Tag                           95874
Call Data                         0
Start Time Of Call                0
dtype: int64

In [20]:
calls_df['Call Data'] = pd.to_datetime(calls_df['Call Data'], errors = 'coerce', dayfirst=True)

In [21]:
calls_df.head()

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag,Call Data,Start Time Of Call
0,5805028000000805001,30.06.2023 08:43,John Doe,NaN,Inbound,171.0,Received,NaN,NaN,<NA>,NaN,2023-06-30,08:43
1,5805028000000768006,30.06.2023 08:46,John Doe,NaN,Outbound,28.0,Attended Dialled,NaN,Completed,False,NaN,2023-06-30,08:46
2,5805028000000764027,30.06.2023 08:59,John Doe,NaN,Outbound,24.0,Attended Dialled,NaN,Completed,False,NaN,2023-06-30,08:59
3,5805028000000787003,30.06.2023 09:20,John Doe,5805028000000645014,Outbound,6.0,Attended Dialled,NaN,Completed,False,NaN,2023-06-30,09:20
4,5805028000000768019,30.06.2023 09:30,John Doe,5805028000000645014,Outbound,11.0,Attended Dialled,NaN,Completed,False,NaN,2023-06-30,09:30

In [22]:
calls_df['Start Time Of Call'] = pd.to_datetime(
    calls_df['Start Time Of Call'].astype(str).str.strip(),
    format='%H:%M',
    errors='coerce'
).dt.time

In [23]:
calls_df.head()

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag,Call Data,Start Time Of Call
0,5805028000000805001,30.06.2023 08:43,John Doe,NaN,Inbound,171.0,Received,NaN,NaN,<NA>,NaN,2023-06-30,08:43:00
1,5805028000000768006,30.06.2023 08:46,John Doe,NaN,Outbound,28.0,Attended Dialled,NaN,Completed,False,NaN,2023-06-30,08:46:00
2,5805028000000764027,30.06.2023 08:59,John Doe,NaN,Outbound,24.0,Attended Dialled,NaN,Completed,False,NaN,2023-06-30,08:59:00
3,5805028000000787003,30.06.2023 09:20,John Doe,5805028000000645014,Outbound,6.0,Attended Dialled,NaN,Completed,False,NaN,2023-06-30,09:20:00
4,5805028000000768019,30.06.2023 09:30,John Doe,5805028000000645014,Outbound,11.0,Attended Dialled,NaN,Completed,False,NaN,2023-06-30,09:30:00

In [24]:
calls_df.tail()

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Dialled Number,Outgoing Call Status,Scheduled in CRM,Tag,Call Data,Start Time Of Call
95869,5805028000056889515,21.06.2024 15:30,Ulysses Adams,5805028000056564231,Outbound,6.0,Attended Dialled,NaN,Completed,False,NaN,2024-06-21,15:30:00
95870,5805028000056875317,21.06.2024 15:30,Victor Barnes,5805028000054867023,Outbound,8.0,Attended Dialled,NaN,Completed,False,NaN,2024-06-21,15:30:00
95871,5805028000056832495,21.06.2024 15:30,Kevin Parker,5805028000010617278,Outbound,5.0,Attended Dialled,NaN,Completed,False,NaN,2024-06-21,15:30:00
95872,5805028000056893619,21.06.2024 15:30,Victor Barnes,5805028000056839048,Outbound,0.0,Unattended Dialled,NaN,Completed,False,NaN,2024-06-21,15:30:00
95873,5805028000056893631,21.06.2024 15:31,John Doe,NaN,Missed,0.0,Missed,NaN,NaN,<NA>,NaN,2024-06-21,15:31:00

In [25]:
calls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95874 entries, 0 to 95873
Data columns (total 13 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          95874 non-null  object
 1   Call Start Time             95874 non-null  object
 2   Call Owner Name             95874 non-null  object
 3   CONTACTID                   91941 non-null  object
 4   Call Type                   95874 non-null  object
 5   Call Duration (in seconds)  95791 non-null  float64
 6   Call Status                 95874 non-null  object
 7   Dialled Number              0 non-null      float64
 8   Outgoing Call Status        86875 non-null  object
 9   Scheduled in CRM            86875 non-null  boolean
 10  Tag                         0 non-null      float64
 11  Call Data                   95874 non-null  datetime64[ns]
 12  Start Time Of Call          95874 non-null  object
dtypes: boolean(1), datetime64[ns](1), float64(3), object(8)
memory usage: 9.0+ MB

In [26]:
calls_df.isnull().sum()

Id                                0
Call Start Time                   0
Call Owner Name                   0
CONTACTID                      3933
Call Type                         0
Call Duration (in seconds)       83
Call Status                       0
Dialled Number                95874
Outgoing Call Status           8999
Scheduled in CRM               8999
Tag                           95874
Call Data                         0
Start Time Of Call                0
dtype: int64

In [27]:
mask = calls_df['Start Time Of Call'].isna()
print(calls_df[mask]['Start Time Of Call'].unique())

[]

In [ ]:
# calls_df = calls_df.drop(['Call Start Time', ], axis = 1) -- пока не удаляем

In [28]:
calls_df = calls_df.drop(['Dialled Number', 'Tag'], axis = 1)
calls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95874 entries, 0 to 95873
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          95874 non-null  object
 1   Call Start Time             95874 non-null  object
 2   Call Owner Name             95874 non-null  object
 3   CONTACTID                   91941 non-null  object
 4   Call Type                   95874 non-null  object
 5   Call Duration (in seconds)  95791 non-null  float64
 6   Call Status                 95874 non-null  object
 7   Outgoing Call Status        86875 non-null  object
 8   Scheduled in CRM            86875 non-null  boolean
 9   Call Data                   95874 non-null  datetime64[ns]
 10  Start Time Of Call          95874 non-null  object
dtypes: boolean(1), datetime64[ns](1), float64(1), object(8)
memory usage: 7.5+ MB

In [29]:
calls_df.isnull().sum()

Id                               0
Call Start Time                  0
Call Owner Name                  0
CONTACTID                     3933
Call Type                        0
Call Duration (in seconds)      83
Call Status                      0
Outgoing Call Status          8999
Scheduled in CRM              8999
Call Data                        0
Start Time Of Call               0
dtype: int64

In [30]:
(calls_df.isnull().sum()/(len(calls_df)))*100 #процент отсутствующих значений

Id                            0.000000
Call Start Time               0.000000
Call Owner Name               0.000000
CONTACTID                     4.102259
Call Type                     0.000000
Call Duration (in seconds)    0.086572
Call Status                   0.000000
Outgoing Call Status          9.386278
Scheduled in CRM              9.386278
Call Data                     0.000000
Start Time Of Call            0.000000
dtype: float64

In [31]:
print(calls_df['Scheduled in CRM'].value_counts(dropna=False))
print("\nПроцентное распределение:")
print(calls_df['Scheduled in CRM'].value_counts(normalize=True, dropna=False).apply(lambda x: f"{x:.2%}"))

Scheduled in CRM
False    86733
<NA>      8999
True       142
Name: count, dtype: Int64

Процентное распределение:
Scheduled in CRM
False    90.47%
<NA>      9.39%
True      0.15%
Name: proportion, dtype: object

In [32]:
# Проверим строки, где есть пропущенные значения в столбце 'Scheduled in CRM'
missing_values = calls_df[calls_df['Scheduled in CRM'].isna()]

# Проверим, является ли 'Call Type' для этих строк 'Incoming'
incoming_calls_with_missing = missing_values[missing_values['Call Type'].isin(['Inbound', 'Missed'])]

# Выведем количество таких строк
print(f"Количество пропущенных значений в 'Scheduled in CRM' для входящих звонков: {incoming_calls_with_missing.shape[0]}")

Количество пропущенных значений в 'Scheduled in CRM' для входящих звонков: 8999

In [33]:
calls_df.isnull().sum()

Id                               0
Call Start Time                  0
Call Owner Name                  0
CONTACTID                     3933
Call Type                        0
Call Duration (in seconds)      83
Call Status                      0
Outgoing Call Status          8999
Scheduled in CRM              8999
Call Data                        0
Start Time Of Call               0
dtype: int64

Обоснование:

False является модой (наиболее частотным значением).

Заполнение модой сохраняет текущее распределение и минимизирует искажение данных.

Количество True крайне мало, поэтому вероятность того, что пропущенные значения должны быть True, статистически низка.

Пропущенные значения присутствуют только для входящих и пропущенных звонков, поэтому логично, что информации о них нет в CRM

In [34]:
# Получаем моду (самое частое значение)
mode_value = calls_df['Scheduled in CRM'].mode(dropna=True)[0]

# Заполняем пропуски этим значением
calls_df['Scheduled in CRM'] = calls_df['Scheduled in CRM'].fillna(mode_value)
calls_df.isnull().sum()

Id                               0
Call Start Time                  0
Call Owner Name                  0
CONTACTID                     3933
Call Type                        0
Call Duration (in seconds)      83
Call Status                      0
Outgoing Call Status          8999
Scheduled in CRM                 0
Call Data                        0
Start Time Of Call               0
dtype: int64

In [35]:
# Проверим строки, где есть пропущенные значения в столбце 'Scheduled in CRM'
missing_values = calls_df[calls_df['Outgoing Call Status'].isna()]

# Проверим, является ли 'Call Type' для этих строк 'Incoming'
incoming_calls_with_missing = missing_values[missing_values['Call Type'].isin(['Inbound', 'Missed'])]

# Выведем количество таких строк
print(f"Количество пропущенных значений в 'Outgoing Call Status' для входящих звонков: {incoming_calls_with_missing.shape[0]}")

Количество пропущенных значений в 'Outgoing Call Status' для входящих звонков: 8999

In [36]:
calls_df[calls_df['Outgoing Call Status'].isna()]['Call Type'].value_counts()

Call Type
Missed     5921
Inbound    3078
Name: count, dtype: int64

In [ ]:
# calls_df['Outgoing Call Status'] = calls_df['Outgoing Call Status'].fillna('no_data')
# calls_df.isnull().sum() -- пока не изменяем пустые значения

In [37]:
# 1. Посмотрим типы данных до преобразования
print("До преобразования:")
print(calls_df.dtypes)

# 2. Преобразуем столбцы в категориальные
calls_df['Call Type'] = calls_df['Call Type'].astype('category')
calls_df['Call Status'] = calls_df['Call Status'].astype('category')
calls_df['Outgoing Call Status'] = calls_df['Outgoing Call Status'].astype('category')

# 3. Посмотрим типы данных после преобразования
print("\nПосле преобразования:")
print(calls_df.dtypes)

До преобразования:
Id                                    object
Call Start Time                       object
Call Owner Name                       object
CONTACTID                             object
Call Type                             object
Call Duration (in seconds)           float64
Call Status                           object
Outgoing Call Status                  object
Scheduled in CRM                     boolean
Call Data                     datetime64[ns]
Start Time Of Call                    object
dtype: object

После преобразования:
Id                                    object
Call Start Time                       object
Call Owner Name                       object
CONTACTID                             object
Call Type                           category
Call Duration (in seconds)           float64
Call Status                         category
Outgoing Call Status                category
Scheduled in CRM                     boolean
Call Data                     datetime64[ns]
Start Time Of Call                    object
dtype: object

In [ ]:
# calls_df['CONTACTID'] = calls_df['CONTACTID'].fillna('no_contact')
# calls_df.isnull().sum() -- пока не изменяем пустые значения

In [38]:
calls_df[calls_df['Call Duration (in seconds)'].isna()]['Call Status'].value_counts()

Call Status
Overdue                       60
Cancelled                     20
Scheduled                      3
Missed                         0
Attended Dialled               0
Received                       0
Scheduled Attended             0
Scheduled Attended Delay       0
Scheduled Unattended           0
Scheduled Unattended Delay     0
Unattended Dialled             0
Name: count, dtype: int64

In [ ]:
# # Заполняем пропущенные значения нулями для звонков, которые не состоялись (например, пропущенные или отменённые звонки)
# calls_df['Call Duration (in seconds)'] = calls_df['Call Duration (in seconds)'].fillna(0) 
# calls_df.isnull().sum() -- пока не изменяем пустые значения

In [39]:
calls_df

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Outgoing Call Status,Scheduled in CRM,Call Data,Start Time Of Call
0,5805028000000805001,30.06.2023 08:43,John Doe,NaN,Inbound,171.0,Received,NaN,False,2023-06-30,08:43:00
1,5805028000000768006,30.06.2023 08:46,John Doe,NaN,Outbound,28.0,Attended Dialled,Completed,False,2023-06-30,08:46:00
2,5805028000000764027,30.06.2023 08:59,John Doe,NaN,Outbound,24.0,Attended Dialled,Completed,False,2023-06-30,08:59:00
3,5805028000000787003,30.06.2023 09:20,John Doe,5805028000000645014,Outbound,6.0,Attended Dialled,Completed,False,2023-06-30,09:20:00
4,5805028000000768019,30.06.2023 09:30,John Doe,5805028000000645014,Outbound,11.0,Attended Dialled,Completed,False,2023-06-30,09:30:00
...,...,...,...,...,...,...,...,...,...,...,...
95869,5805028000056889515,21.06.2024 15:30,Ulysses Adams,5805028000056564231,Outbound,6.0,Attended Dialled,Completed,False,2024-06-21,15:30:00
95870,5805028000056875317,21.06.2024 15:30,Victor Barnes,5805028000054867023,Outbound,8.0,Attended Dialled,Completed,False,2024-06-21,15:30:00
95871,5805028000056832495,21.06.2024 15:30,Kevin Parker,5805028000010617278,Outbound,5.0,Attended Dialled,Completed,False,2024-06-21,15:30:00
95872,5805028000056893619,21.06.2024 15:30,Victor Barnes,5805028000056839048,Outbound,0.0,Unattended Dialled,Completed,False,2024-06-21,15:30:00
95873,5805028000056893631,21.06.2024 15:31,John Doe,NaN,Missed,0.0,Missed,NaN,False,2024-06-21,15:31:00

In [40]:
calls_df['Call Duration (in seconds)'] = calls_df['Call Duration (in seconds)'].astype('Int64')
calls_df.dtypes

Id                                    object
Call Start Time                       object
Call Owner Name                       object
CONTACTID                             object
Call Type                           category
Call Duration (in seconds)             Int64
Call Status                         category
Outgoing Call Status                category
Scheduled in CRM                     boolean
Call Data                     datetime64[ns]
Start Time Of Call                    object
dtype: object

In [41]:
calls_df['Call Start Time'] = pd.to_datetime(calls_df['Call Start Time'], format='%d.%m.%Y %H:%M')
calls_df['Call Start Time'].dtypes

dtype('<M8[ns]')

In [42]:
calls_df.dtypes

Id                                    object
Call Start Time               datetime64[ns]
Call Owner Name                       object
CONTACTID                             object
Call Type                           category
Call Duration (in seconds)             Int64
Call Status                         category
Outgoing Call Status                category
Scheduled in CRM                     boolean
Call Data                     datetime64[ns]
Start Time Of Call                    object
dtype: object

In [43]:
calls_df

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Outgoing Call Status,Scheduled in CRM,Call Data,Start Time Of Call
0,5805028000000805001,2023-06-30 08:43:00,John Doe,NaN,Inbound,171,Received,NaN,False,2023-06-30,08:43:00
1,5805028000000768006,2023-06-30 08:46:00,John Doe,NaN,Outbound,28,Attended Dialled,Completed,False,2023-06-30,08:46:00
2,5805028000000764027,2023-06-30 08:59:00,John Doe,NaN,Outbound,24,Attended Dialled,Completed,False,2023-06-30,08:59:00
3,5805028000000787003,2023-06-30 09:20:00,John Doe,5805028000000645014,Outbound,6,Attended Dialled,Completed,False,2023-06-30,09:20:00
4,5805028000000768019,2023-06-30 09:30:00,John Doe,5805028000000645014,Outbound,11,Attended Dialled,Completed,False,2023-06-30,09:30:00
...,...,...,...,...,...,...,...,...,...,...,...
95869,5805028000056889515,2024-06-21 15:30:00,Ulysses Adams,5805028000056564231,Outbound,6,Attended Dialled,Completed,False,2024-06-21,15:30:00
95870,5805028000056875317,2024-06-21 15:30:00,Victor Barnes,5805028000054867023,Outbound,8,Attended Dialled,Completed,False,2024-06-21,15:30:00
95871,5805028000056832495,2024-06-21 15:30:00,Kevin Parker,5805028000010617278,Outbound,5,Attended Dialled,Completed,False,2024-06-21,15:30:00
95872,5805028000056893619,2024-06-21 15:30:00,Victor Barnes,5805028000056839048,Outbound,0,Unattended Dialled,Completed,False,2024-06-21,15:30:00
95873,5805028000056893631,2024-06-21 15:31:00,John Doe,NaN,Missed,0,Missed,NaN,False,2024-06-21,15:31:00

In [97]:
# import numpy as np
# import pandas as pd

# # создаём новую колонку, не удаляя строки с NaN
# calls_df['Call Duration (in minutes)'] = calls_df['Call Duration (in seconds)'] / 60

# # создаём столбец с типом object для диапазонов
# calls_df['Call Duration Range'] = np.nan
# calls_df['Call Duration Range'] = calls_df['Call Duration Range'].astype(object)

# # отдельно помечаем звонки с нулевой длительностью
# calls_df.loc[calls_df['Call Duration (in seconds)'] == 0, 'Call Duration Range'] = '0 сек'

# # для строк с положительной длительностью строим интервалы, игнорируя NaN (они останутся NaN)
# mask = calls_df['Call Duration (in seconds)'] > 0 #Создаётся булева маска — фильтр по условию, которые строки в столбце 'Call Duration (in seconds)' имеют значение больше 0.
# calls_df.loc[mask, 'Call Duration Range'] = pd.cut(
#     calls_df.loc[mask, 'Call Duration (in minutes)'],
#     bins=[0, 0.25, 1, 3, 10, 30, np.inf],
#     labels=['<15 сек', '15–60 сек', '1–3 мин', '3–10 мин', '10–30 мин', '30+ мин'],
#     right=False
# )

In [44]:
def categorize_duration(sec):
    if pd.isna(sec):
        return np.nan
    elif sec == 0:
        return '0 sec'
    elif 1 <= sec <= 3:
        return '1–3 sec'
    elif sec > 3:
        # Переводим секунды в минуты
        minutes = sec / 60
        if minutes < 0.25:      # < 15 сек
            return '3–15 sec'
        elif minutes < 1:       # 15–60 сек
            return '15–60 sec'
        elif minutes < 3:       # 1–3 мин
            return '1–3 min'
        elif minutes < 10:      # 3–10 мин
            return '3–10 min'
        elif minutes < 30:      # 10–30 мин
            return '10–30 min'
        else:                  # >30 мин
            return '30+ min'
    else:
        return 'Other'

calls_df['Call Duration Range'] = calls_df['Call Duration (in seconds)'].apply(categorize_duration)

In [45]:
print(calls_df._is_copy)

None

In [46]:
calls_df

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Outgoing Call Status,Scheduled in CRM,Call Data,Start Time Of Call,Call Duration Range
0,5805028000000805001,2023-06-30 08:43:00,John Doe,NaN,Inbound,171,Received,NaN,False,2023-06-30,08:43:00,1–3 min
1,5805028000000768006,2023-06-30 08:46:00,John Doe,NaN,Outbound,28,Attended Dialled,Completed,False,2023-06-30,08:46:00,15–60 sec
2,5805028000000764027,2023-06-30 08:59:00,John Doe,NaN,Outbound,24,Attended Dialled,Completed,False,2023-06-30,08:59:00,15–60 sec
3,5805028000000787003,2023-06-30 09:20:00,John Doe,5805028000000645014,Outbound,6,Attended Dialled,Completed,False,2023-06-30,09:20:00,3–15 sec
4,5805028000000768019,2023-06-30 09:30:00,John Doe,5805028000000645014,Outbound,11,Attended Dialled,Completed,False,2023-06-30,09:30:00,3–15 sec
...,...,...,...,...,...,...,...,...,...,...,...,...
95869,5805028000056889515,2024-06-21 15:30:00,Ulysses Adams,5805028000056564231,Outbound,6,Attended Dialled,Completed,False,2024-06-21,15:30:00,3–15 sec
95870,5805028000056875317,2024-06-21 15:30:00,Victor Barnes,5805028000054867023,Outbound,8,Attended Dialled,Completed,False,2024-06-21,15:30:00,3–15 sec
95871,5805028000056832495,2024-06-21 15:30:00,Kevin Parker,5805028000010617278,Outbound,5,Attended Dialled,Completed,False,2024-06-21,15:30:00,3–15 sec
95872,5805028000056893619,2024-06-21 15:30:00,Victor Barnes,5805028000056839048,Outbound,0,Unattended Dialled,Completed,False,2024-06-21,15:30:00,0 sec
95873,5805028000056893631,2024-06-21 15:31:00,John Doe,NaN,Missed,0,Missed,NaN,False,2024-06-21,15:31:00,0 sec

In [47]:
calls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95874 entries, 0 to 95873
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          95874 non-null  object
 1   Call Start Time             95874 non-null  datetime64[ns]
 2   Call Owner Name             95874 non-null  object
 3   CONTACTID                   91941 non-null  object
 4   Call Type                   95874 non-null  category
 5   Call Duration (in seconds)  95791 non-null  Int64
 6   Call Status                 95874 non-null  category
 7   Outgoing Call Status        86875 non-null  category
 8   Scheduled in CRM            95874 non-null  boolean
 9   Call Data                   95874 non-null  datetime64[ns]
 10  Start Time Of Call          95874 non-null  object
 11  Call Duration Range         95791 non-null  object
dtypes: Int64(1), boolean(1), category(3), datetime64[ns](2), object(5)
memory usage: 6.4+ MB

In [48]:
calls_df[calls_df['Call Duration (in seconds)'].isna()]

,Id,Call Start Time,Call Owner Name,CONTACTID,Call Type,Call Duration (in seconds),Call Status,Outgoing Call Status,Scheduled in CRM,Call Data,Start Time Of Call,Call Duration Range
21711,5805028000012419809,2023-11-15 15:00:00,Kevin Parker,NaN,Outbound,<NA>,Cancelled,Cancelled,True,2023-11-15,15:00:00,NaN
36095,5805028000012419971,2024-01-15 15:00:00,Kevin Parker,NaN,Outbound,<NA>,Overdue,Overdue,True,2024-01-15,15:00:00,NaN
36096,5805028000012419512,2024-01-15 15:00:00,Kevin Parker,NaN,Outbound,<NA>,Overdue,Overdue,True,2024-01-15,15:00:00,NaN
37600,5805028000026957356,2024-01-19 10:00:00,Victor Barnes,NaN,Outbound,<NA>,Overdue,Overdue,True,2024-01-19,10:00:00,NaN
37607,5805028000026466529,2024-01-19 10:30:00,Victor Barnes,5805028000021065227,Outbound,<NA>,Overdue,Overdue,True,2024-01-19,10:30:00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
89073,5805028000053636072,2024-06-05 17:00:00,Victor Barnes,NaN,Outbound,<NA>,Overdue,Overdue,True,2024-06-05,17:00:00,NaN
89257,5805028000053651109,2024-06-06 07:00:00,Victor Barnes,NaN,Outbound,<NA>,Cancelled,Cancelled,True,2024-06-06,07:00:00,NaN
92959,5805028000055092068,2024-06-14 16:00:00,Victor Barnes,NaN,Outbound,<NA>,Scheduled,Scheduled,True,2024-06-14,16:00:00,NaN
93676,5805028000055626456,2024-06-17 10:00:00,Victor Barnes,NaN,Outbound,<NA>,Scheduled,Scheduled,True,2024-06-17,10:00:00,NaN
95868,5805028000056912329,2024-06-21 15:30:00,Victor Barnes,NaN,Outbound,<NA>,Scheduled,Scheduled,True,2024-06-21,15:30:00,NaN

In [103]:
# calls_df.drop('Call Duration (in minutes)', axis=1, inplace=True)

In [104]:
# calls_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95874 entries, 0 to 95873
Data columns (total 12 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Id                          95874 non-null  object
 1   Call Start Time             95874 non-null  datetime64[ns]
 2   Call Owner Name             95874 non-null  object
 3   CONTACTID                   91941 non-null  object
 4   Call Type                   95874 non-null  category
 5   Call Duration (in seconds)  95791 non-null  Int64
 6   Call Status                 95874 non-null  category
 7   Outgoing Call Status        86875 non-null  category
 8   Scheduled in CRM            95874 non-null  boolean
 9   Call Data                   95874 non-null  datetime64[ns]
 10  Start Time Of Call          95874 non-null  object
 11  Call Duration Range         95791 non-null  object
dtypes: Int64(1), boolean(1), category(3), datetime64[ns](2), object(5)
memory usage: 6.4+ MB

In [49]:
calls_df['Call Duration Range'] = calls_df['Call Duration Range'].astype('category')
calls_df.dtypes

Id                                    object
Call Start Time               datetime64[ns]
Call Owner Name                       object
CONTACTID                             object
Call Type                           category
Call Duration (in seconds)             Int64
Call Status                         category
Outgoing Call Status                category
Scheduled in CRM                     boolean
Call Data                     datetime64[ns]
Start Time Of Call                    object
Call Duration Range                 category
dtype: object

In [50]:
print(calls_df._is_copy)

None

In [51]:
calls_df.to_pickle("calls_cleaned_v1.pkl")