In [1]:
import pandas as pd

df = pd.read_pickle("deals_cleaned_v1.pkl")

In [2]:
df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,...,2024-06-21 15:30:00,NaN,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaT,NaN,...,2024-06-21 15:23:00,6,<NA>,0.0,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_AT,0 days 00:26:43,b1-at,...,2024-06-21 14:45:00,NaN,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_DE,0 days 01:00:04,bloggersvideo14com,...,2024-06-21 13:32:00,NaN,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_DE,0 days 00:53:12,website,...,2024-06-21 13:21:00,NaN,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21588,5805028000000970006,Jane Smith,2023-07-04,E - Non Qualified,Lost,Duplicate,eng/digital-marketing,03.07.23women,NaT,b3,...,2023-07-04 07:10:00,NaN,<NA>,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,0.0
21589,5805028000000948010,Jane Smith,2023-08-29,B - Medium,Lost,needs time to think,eng/digital-marketing,03.07.23women,NaT,b3,...,2023-07-04 07:10:00,NaN,<NA>,NaN,NaN,5805028000000979006,NaN,NaN,2023-07-04,56.0
21590,5805028000000945016,Jane Smith,2023-08-29,A - High,Lost,Changed Decision,eng/digital-marketing,02.07.23wide_DE,56 days 19:01:59,b3,...,2023-07-03 20:39:00,NaN,<NA>,NaN,NaN,5805028000000968001,NaN,NaN,2023-07-03,57.0
21591,5805028000000927004,Bob Brown,2023-07-09,D - Non Target,Lost,Does not speak English,eng/digital-marketing,03.07.23women,NaT,b3,...,2023-07-03 20:17:00,NaN,<NA>,NaN,NaN,5805028000000961001,NaN,NaN,2023-07-03,6.0
21592,5805028000000922001,Bob Brown,2023-07-03,E - Non Qualified,Lost,Refugee,NaN,NaN,4 days 22:47:14,NaN,...,2023-07-03 17:03:00,NaN,<NA>,0.0,0.0,5805028000001009140,NaN,NaN,2023-07-03,0.0

In [3]:
df[df['Quality'] == 'F']

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Created Time,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Date Diff
20698,5805028000004112371,Bob Brown,2023-08-08,F,Lost,Duplicate,/test,NaN,NaT,NaN,...,2023-08-08 20:52:00,NaN,<NA>,0.0,0.0,5805028000004115323,NaN,NaN,2023-08-08,NaN
20699,5805028000004130362,Bob Brown,2023-08-08,F,Lost,Duplicate,/test,NaN,NaT,NaN,...,2023-08-08 20:48:00,NaN,<NA>,500.0,3000.0,5805028000004115323,NaN,NaN,2023-08-08,NaN
20716,5805028000004121236,Bob Brown,2023-08-08,F,Lost,Duplicate,/test,NaN,NaT,NaN,...,2023-08-08 15:12:00,NaN,<NA>,NaN,0.0,5805028000004111197,NaN,NaN,2023-08-08,NaN