In [12]:
import pandas as pd

deals_df = pd.read_pickle("deals_cleaned_v3.pkl")
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Course duration,Months of study,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,SLA_range
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,...,NaN,<NA>,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaT,NaN,...,6,<NA>,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_at,0 days 00:26:43,b1-at,...,NaN,<NA>,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0,Medium (15-30 min)
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_de,0 days 01:00:04,bloggersvideo14com,...,NaN,<NA>,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0,Very slow (>60 min)
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_de,0 days 00:53:12,website,...,NaN,<NA>,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0,Slow (30-60 min)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,NaN,...,NaN,<NA>,NaN,NaN,5805028000049855125,NaN,NaN,2024-05-15,0.0,Very slow (>60 min)
21407,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,...,NaN,<NA>,NaN,NaN,5805028000053705642,NaN,NaN,2024-06-06,0.0,NaN
21408,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_de,0 days 04:30:17,152789402780_{region_name}_668024583824,...,NaN,<NA>,NaN,NaN,5805028000054480760,NaN,NaN,2024-06-12,0.0,Very slow (>60 min)
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,...,NaN,<NA>,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0,Very fast (≤5 min)
21410,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,...,NaN,<NA>,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0,NaN

In [13]:
city_rename_dict = {
    'Neuburg': 'Neuburg an der Donau',
    'Bat yam': 'Bat Yam',
    'Halle': 'Halle (Saale)'
}
deals_df['City'] = deals_df['City'].replace(city_rename_dict)

In [14]:
# Загрузка файла с координатами
city_coords_df = pd.read_csv("City Coordinates.csv")
city_coords_df

                City  Country  Latitude  Longitude
0         Crailsheim  Germany   49.1344    10.0712
1           Dortmund  Germany   51.5136     7.4653
2          Stuttgart  Germany   48.7773     9.1855
3            München  Germany   48.1371    11.5754
4             Berlin  Germany   52.5160    13.4041
..               ...      ...       ...        ...
868  Bad Gandersheim  Germany   51.8718    10.0253
869         Braubach  Germany   50.2667     7.6667
870          Geldern  Germany   51.5181     6.3317
871           Bassum  Germany   52.8506     8.7279
872            Brake  Germany   53.3333     8.4833

[873 rows x 4 columns]

In [15]:
# Убираем дубликаты городов — оставляем первую встречу
city_coords_df_unique = city_coords_df.drop_duplicates(subset='City')
city_coords_df_unique

                City  Country  Latitude  Longitude
0         Crailsheim  Germany   49.1344    10.0712
1           Dortmund  Germany   51.5136     7.4653
2          Stuttgart  Germany   48.7773     9.1855
3            München  Germany   48.1371    11.5754
4             Berlin  Germany   52.5160    13.4041
..               ...      ...       ...        ...
868  Bad Gandersheim  Germany   51.8718    10.0253
869         Braubach  Germany   50.2667     7.6667
870          Geldern  Germany   51.5181     6.3317
871           Bassum  Germany   52.8506     8.7279
872            Brake  Germany   53.3333     8.4833

[869 rows x 4 columns]

In [16]:

# Объединяем
deals_df = deals_df.merge(city_coords_df_unique[['City', 'Latitude', 'Longitude']], on='City', how='left')
deals_df

,Id,Deal Owner Name,Closing Date,Quality,Stage,Lost Reason,Page,Campaign,SLA,Content,...,Initial Amount Paid,Offer Total Amount,Contact Name,City,Level of Deutsch,Created Date,Create_to_Close_Days,SLA_range,Latitude,Longitude
0,5805028000056864695,Ben Hall,NaT,B - Medium,New Lead,NaN,/eng/test,03.07.23women,NaT,v16,...,NaN,NaN,5805028000056849495,NaN,NaN,2024-06-21,NaN,NaN,NaN,NaN
1,5805028000056859489,Ulysses Adams,NaT,B - Medium,New Lead,NaN,/at-eng,NaN,NaT,NaN,...,NaN,2000.0,5805028000056834471,NaN,NaN,2024-06-21,NaN,NaN,NaN,NaN
2,5805028000056832357,Ulysses Adams,2024-06-21,D - Non Target,Lost,Non target,/at-eng,engwien_at,0 days 00:26:43,b1-at,...,NaN,NaN,5805028000056854421,NaN,NaN,2024-06-21,0.0,Medium (15-30 min),NaN,NaN
3,5805028000056824246,Eva Kent,2024-06-21,E - Non Qualified,Lost,Invalid number,/eng,04.07.23recentlymoved_de,0 days 01:00:04,bloggersvideo14com,...,NaN,NaN,5805028000056889351,NaN,NaN,2024-06-21,0.0,Very slow (>60 min),NaN,NaN
4,5805028000056873292,Ben Hall,2024-06-21,D - Non Target,Lost,Non target,/eng,discovery_de,0 days 00:53:12,website,...,NaN,NaN,5805028000056876176,NaN,NaN,2024-06-21,0.0,Slow (30-60 min),NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21406,5805028000050001603,Quincy Vincent,2024-05-15,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 05:35:41,NaN,...,NaN,NaN,5805028000049855125,NaN,NaN,2024-05-15,0.0,Very slow (>60 min),NaN,NaN
21407,5805028000053787195,Paula Underwood,2024-06-06,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,...,NaN,NaN,5805028000053705642,NaN,NaN,2024-06-06,0.0,NaN,NaN,NaN
21408,5805028000054823001,Quincy Vincent,2024-06-12,E - Non Qualified,Lost,Duplicate,/eng,brand_search_eng_de,0 days 04:30:17,152789402780_{region_name}_668024583824,...,NaN,NaN,5805028000054480760,NaN,NaN,2024-06-12,0.0,Very slow (>60 min),NaN,NaN
21409,5805028000056685164,Charlie Davis,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,0 days 00:01:46,NaN,...,NaN,NaN,5805028000056392363,NaN,NaN,2024-06-20,0.0,Very fast (≤5 min),NaN,NaN
21410,5805028000056705395,Ulysses Adams,2024-06-20,E - Non Qualified,Lost,Duplicate,/eng/test,NaN,NaT,NaN,...,NaN,NaN,5805028000056727001,NaN,NaN,2024-06-20,0.0,NaN,NaN,NaN

In [17]:
not_matched = deals_df[
    deals_df['City'].notna() &  # Город указан
    (deals_df['Latitude'].isna() | deals_df['Longitude'].isna())  # Но координаты не подтянулись
]

print(f"Городов, не нашедших координаты: {len(not_matched)}")
print("Примеры:")
print(not_matched['City'].drop_duplicates().to_list()[:10])

Городов, не нашедших координаты: 8
Примеры:
['Gdansk', 'Villingen‑Schwenningen', 'Rechitsa', 'Nuenchritz', 'Helmstidde', 'Griepswohld']

In [18]:
deals_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21411 entries, 0 to 21410
Data columns (total 28 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Id                    21411 non-null  object
 1   Deal Owner Name       21382 non-null  object
 2   Closing Date          16685 non-null  datetime64[ns]
 3   Quality               21411 non-null  category
 4   Stage                 21411 non-null  category
 5   Lost Reason           15942 non-null  category
 6   Page                  20342 non-null  object
 7   Campaign              16006 non-null  category
 8   SLA                   15504 non-null  timedelta64[ns]
 9   Content               14101 non-null  object
 10  Term                  12387 non-null  object
 11  Source                21411 non-null  object
 12  Payment Type          496 non-null    category
 13  Product               3592 non-null   category
 14  Education Type        3299 non-null   category
 15  Created Time          21411 non-null  datetime64[ns]
 16  Course duration       3587 non-null   category
 17  Months of study       840 non-null    Int64
 18  Initial Amount Paid   3289 non-null   float64
 19  Offer Total Amount    3337 non-null   float64
 20  Contact Name          21350 non-null  object
 21  City                  2831 non-null   object
 22  Level of Deutsch      1584 non-null   category
 23  Created Date          21411 non-null  datetime64[ns]
 24  Create_to_Close_Days  16685 non-null  float64
 25  SLA_range             15504 non-null  category
 26  Latitude              2823 non-null   float64
 27  Longitude             2823 non-null   float64
dtypes: Int64(1), category(10), datetime64[ns](3), float64(5), object(8), timedelta64[ns](1)
memory usage: 3.2+ MB